<head>
<!-- CSS Files -->
<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
<link href="{{ asset('css/custom.css') }}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ asset('css/bootstrap-social.css') }}" rel="stylesheet">
<link href="{{ asset('css/clean-blog.css') }}" rel="stylesheet">
<link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">
</head>
<body>
<style>
h1{
color:red;
}
</style>

<div class="container">
<div class="row">
  <div class="well">
  <h1>Votre annonce n'a pas été acceptée par l'équipe SharingSport. La description comporte certains mots non conforme.</h1>
<div class="announcement-details">
<div class="announcement-details-info ">
<div class="item-list announcement-item">

	<p><span class="description"> Description : </br>
		{{announcement.description}}</span></p>

		<p>
			<span class="calendrier">Qualité : {% for i in 1..announcement.quality %}
				<span class="glyphicon glyphicon-star"></span>
				{% endfor %}
				{% for i in 5-announcement.quality..announcement.quality %}
				<span class="glyphicon glyphicon-star-empty"></span>
				{% endfor %}</span></p>


				<p>
					{% if announcement.cleanliness == 1 %}
					<span class="description"> Le matériel doit être rendu propre : <strong>Oui</strong></span>

					{% else %}
					<span class="description"> Le matériel doit être rendu propre : </br>
						<strong>Non</strong></span>

						{% endif %}


					</p>
				</div>
			</div>
			<div class="item-list announcement-item">
				<div class="col-sm-3 no-padding photobox">
					<div class="add-image">
						<a href="">
							<img class="no-margin media-object img-circle" src="{{ asset('style/Paris.jpg') }}" alt="announcement material">
						</a>
					</div>
				</div>
				<div class="col-sm-6  add-desc-box">
					<div class="add-details jobs-item">
						<h4 class="announcement-title"><a href="{{ path('app_display_announcement',{'id':announcement.id ,'type': announcement.type}) }}"> {{announcement.idUser.username}}</a></h4>

						<div class="announcement-desc">
							Ville : {{ announcement.idUser.city }}
						</div>
					</div>
				</div>
			
			</div>
			<div class="item-list announcement-item">

				<div class="content-footer text-left">
					<div class="w100 map" id="prop-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387145.86637487786!2d-74.25819556904787!3d40.70531103651696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1473181424956" height="350" style="border:0;   width:100%"></iframe>
					</div>
				</div>
			</div>
		</div>

	
  </div>
</div>
</div>
</body>
