<head>
<!-- CSS Files -->
<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
<link href="{{ asset('css/custom.css') }}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ asset('css/bootstrap-social.css') }}" rel="stylesheet">
<link href="{{ asset('css/clean-blog.css') }}" rel="stylesheet">
<link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">
</head>
<body>
<style>
h1{
color:red;
}
</style>

<div class="container">
<div class="row">
  <div class="well">
  <h1>Votre annonce n'a pas été acceptée par l'équipe SharingSport.</h1>

  </div>
</div>
</div>
</body>
