<head>
<!-- CSS Files -->
<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
<link href="{{ asset('css/custom.css') }}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ asset('css/bootstrap-social.css') }}" rel="stylesheet">
<link href="{{ asset('css/clean-blog.css') }}" rel="stylesheet">
<link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">
</head>
<body>
<style>
h1{
color:red;
}
</style>

<div class="container">
<div class="row">
  <div class="well">
  <h1>Votre annonce est validée</h1>
  <p>Pour activer votre compte, veuillez cliquer sur le lien ci dessous
ou copier/coller dans votre navigateur internet.</p>
  
  
  
  # Encryption:
	{% for announcement in announcement %}
		<a href="sharingsport.fr{{path('app_mail_validate_announcer', {'id': announcement.id | urlencrypt } )}}"> Cliquez sur le lien de validation de votre annonce </a> 
	{% endfor %}

# Decryption:

   

// Functions:




  </div>
</div>
</div>
</body>
