﻿

{% block title %}

<title>SharingSport | Partageons du sport</title>

{% endblock %}

{% block head %}

<meta name="description" content="Sharingsport est une application ludique, sportive et collaborative. Nous voulons promouvoir le partage, les rencontres, la santé, la forme et le bien être comme valeurs essentielles.">





<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />

<link rel="icon" type="image/x-icon" href="{{asset('favicon.ico') }}" />

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('apple-icon-57x57-precomposed.png') }}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('apple-icon-72x72-precomposed.png') }}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('apple-icon-114x114-precomposed.png') }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-icon-144x144-precomposed.png') }}" />



<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />

<!-- CSS Files -->
<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
<link href="{{ asset('css/custom.css') }}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ asset('css/bootstrap-social.css') }}" rel="stylesheet">
<link href="{{ asset('css/clean-blog.css') }}" rel="stylesheet">
<link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!--<script src="{{ asset('js/jquery-timepicker.js') }}"></script>-->

<script src="{{ asset('js/jquery.backstretch.js') }}"></script>
<script src="{{ asset('js/scripts.js') }}"></script>

<!-- si on supprime il le datetime ne fonctione pas-->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4209971919449934",
    enable_page_level_ads: true
  });
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91846770-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}

{% block header%}

<!-- Navigation -->

{% if app.user %}

<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll" >
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href=" {{ path('app_index') }}" >SharingSport<div style="font-size:15px">bêta</div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ path('app_create_choice') }}"> Déposez votre annonce</a>
        </li>
        <li>
          <a href="{{ path('app_message') }}" >  Message <span class="badge"> 0 </span></a>
        </li>

        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="user-avatar pull-left" style="margin-right:8px;margin-top:-5px;"><img class="img-responsive img-circle img-profile" src="./{{app.user.getWebPath}}"> </span>  {{ app.user.username }}</a></span></a>
          <ul class="dropdown-menu">
            <li><a style="color:black;" href="{{ path('app_profile_modify') }}">Mon profil</a></li>
            <li><a style="color:black;" href="{{ path('app_display_profile_announcement') }}">Mes annonces</a></li>
            <li><a style="color:black;" href="{{path('app_display_reservation')}}">Mes réservations</a></li>
            <li><a style="color:black;" href="{{ path('app_favorite_display') }}">Mes favoris</a></li>
            <li role="separator" class="divider"></li>
            <li><a style="color:red; font-weight:bold;" href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
          </ul>
        </li>

      </ul>
    </div>

    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

{% else %}
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only"></span>
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand" href="{{ path('app_index') }}">SharingSport<div style="font-size:15px">bêta</div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ path('app_create_choice') }}">Déposez votre annonce</a>
        </li>
        <li>
          <a data-toggle="modal" data-target="#myModal" href="#login">Connexion</a>
        </li>
        <li>
          <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
{% endif %}
{% endblock %}

{% block body %}
<body>

</body>
<!-- BODY -->


  			<!-- Modal Register -->
  			<div id="myModal1" class="modal modal-static fade" tabindex="-1" role="dialog">
  				<div class="modal-dialog">
  					<div class="modal-content">
  						<div class="modal-body">
  							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>

  							<a class="btn btn-block btn-social btn-facebook " href="https://sharingsport.fr/Symfony/web/app_dev.php/connect/facebook">
  								<span class="fa fa-facebook"></span> Inscription avec Facebook
  							</a>
  							<hr>
  							<div class="block">
  								<div class="content">
  									<form action="{{ path("fos_user_security_check") }}" method="post">

  										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

  										<div class="form-group">
  											<div class="cols-sm-10">
  												<div class="input-group">
  													<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-user fa" aria-hidden="true"></i></span>
  													<input class="form-control" type="text" id="username" name="_username" value="" placeholder="Adresse email" style="border-left:0; padding:0;"/>
  												</div>
  											</div>
  										</div>


  										<div class="form-group">
  											<div class="cols-sm-10">
  												<div class="input-group">
  													<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
  													<input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe" required="required" style="border-left:0; padding:0;" />
  												</div>
  											</div>
  										</div>

  										<div class="form-group">
  											<div class="cols-sm-10">
  												<div class="input-group">
  													<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
  													<input class="form-control" type="password" id="password" name="_password" placeholder="Retaper le mot de passe" required="required" style="border-left:0; padding:0;" />
  												</div>
  											</div>
  										</div>

  										<input class="btn btn-next btn-block" type="submit" id="_submit" name="_submit" style="color:white; background:#25a45b;" value="{{ "Inscription"|trans }}" />
  									</form>

  									<a style="color:black;"href="{{ path('fos_user_registration_register') }}">Déjà inscrit ?</a>

  								</div>

  							</div>
  						</div>
  					</div>
  				</div>

  			</div>

  			<!-- Modal Login -->
  			<div id="myModal" class="modal modal-static fade" tabindex="-1" role="dialog">
  				<div class="modal-dialog">
  					<div class="modal-content">
  						<div class="modal-body">
  							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>

  							<a class="btn btn-block btn-social btn-facebook " href="#" onclick="fb_login();">
  								<span class="fa fa-facebook"></span> Connexion avec Facebook
  							</a>
  							<hr>
  							<div class="block">
  								<div class="content">
  									<form action="{{ path("fos_user_security_check") }}" method="post">

  										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

  										<div class="form-group">
  											<div class="cols-sm-10">
  												<div class="input-group">
  													<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-user fa" aria-hidden="true"></i></span>
  													<input class="form-control" type="text" id="username" name="_username" value="" placeholder="Username" style="border-left:0; padding:0;"/>
  												</div>
  											</div>
  										</div>


  										<div class="form-group">
  											<div class="cols-sm-10">
  												<div class="input-group">
  													<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
  													<input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe" required="required" style="border-left:0; padding:0;" />
  												</div>
  											</div>
  										</div>

  										<p style="margin: 15px 0px;">
  											<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
  											<label for="remember_me">Se souvenir de moi</label>
  										</p>

  										<input class="btn btn-next btn-block" type="submit" id="_submit" name="_submit" style="color:white; background:#25a45b;" value='{{ "Connexion"|trans }}' />
  									</form>

  									<a style="color:black;"href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ?</a>

  								</div>

  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div id="fb-root"></div>
  			<script>
  			window.fbAsyncInit = function() {
  				// init the FB JS SDK
  				FB.init({
  					appId      : '255611071557186',                        // App ID from the app dashboard
  					channelUrl : '//sharingsport.fr',      // Channel file for x-domain comms
  					status     : true,                                 // Check Facebook Login status
  					xfbml      : true                                  // Look for social plugins on the page
  				});
  			};

  			// Load the SDK asynchronously
  			(function(d, s, id){
  				var js, fjs = d.getElementsByTagName(s)[0];
  				if (d.getElementById(id)) {return;}
  				js = d.createElement(s); js.id = id;
  				js.src = "//connect.facebook.net/en_US/all.js";
  				fjs.parentNode.insertBefore(js, fjs);
  			}(document, 'script', 'facebook-jssdk'));

  			function fb_login() {
  				FB.getLoginStatus(function(response) {
  					if (response.status === 'connected') {
  						// connected

  						document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
  					} else {
  						// not_authorized
  						FB.login(function(response) {
  							if (response.authResponse) {
  								document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
  							} else {

  							}
  						}, {scope: 'email'});
  					}
  				});
  			}
  			</script>
{% endblock %}

{% block footer %}
<!-- FOOTER -->
<footer>

	<div class="container">
		<div class="row ">
			<div class="col-md-3 hidden-xs hidden-sm">

				<ul>
          <h5> Notre entreprise </h5>
					<li> <a href="#"> À propos </a> </li>
					<li> <a href="#"> Blog </a> </li>
					<li> <a href="#"> Mobile </a> </li>
					<li> <a href="#"> Le projet SharingSport </a> </li>
				</ul>
			</div>

			<div class="col-md-3 hidden-xs hidden-sm">

				<ul>
          <h5> Contact </h5>
					<li> <a href="#"> Aide/FAQ </a> </li>
					<li> <a href="#"> Presse </a> </li>
					<li> <a href="#"> Professionnels </a> </li>
					<li> <a href="#"> Contact </a> </li>
				</ul>
			</div>

      <div class="col-md-3 hidden-xs hidden-sm">

      </div>

			<div class="col-md-3 ">
				<div class=" dropup center-block">
					<a href="#" class="btn btn-language dropdown-toggle " data-toggle="dropdown">
						<img src="{{ asset('img/flags/FR.png') }}"/>
						<b class="text-left">France</b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('setlocale', {'language': 'fr'}) }}">{{ "language.fr"|trans }}</a></li>
              
						<li><a href="#"><img src="{{ asset('img/flags/US.png') }}"/> US</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--/.row-->
    <div class="row hidden-xs hidden-sm">
      <div class="col-md-2 col-md-offset-5">
    <ul class="social text-center">
      <li> <a href="https://www.facebook.com/sharingsport/"> <i class=" fa fa-facebook">   </i> </a> </li>
      <li> <a href="https://www.twitter.com/sharing_sport/"> <i class="fa fa-twitter">   </i> </a> </li>
    </ul>
  </div>
  </div>
	</div>
	<!--/.container-->

</div>
<!--/.footer-->
<div class="footer-bottom">
	<div class="container">
  <hr>
		<p class="text-center"> Copyright © Valentin Le Cam - Simon Toullec 2017. All right reserved. </p>

	</div>
</div>
<!--/.footer-bottom-->
</footer>


{% endblock %}
