{% extends 'BusinessBundle::base.html.twig' %}

{% block title %}
    {% if item.title != false %}
        {{ item.title }} - Imagina Business
    {% endif %}
{% endblock %}

{% block head %}
    {{ parent() }}

    <script type='text/javascript'>
        /* <![CDATA[ */
        var item = {"type":"business", "id":"{{ item.id }}"};
        var ajaxLoader = '/common/images/ajax-load.gif';
        /* ]]> */
    </script>

{% endblock %}


{% block body %}

    <div id="single" class="container">
        <div id="content" >

            {{ include('single_header.html.twig') }}

            {% if currentPage is defined %}
                <nav class="navbar navbar-default block">
                    <div class="container-fluid">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('location',  {'slug': location.guid}) }}">Accueil</a></li>
                            <li {% if currentPage == 'internalpoints' %}class="active"{% endif %} ><a href="{{ path('location_internal_points',  {'slug': location.guid}) }}">Points Internes</a></li>
                            <li {% if currentPage == 'parameters' %}class="active"{% endif %} ><a href="{{ path('location_edit',  {'slug': location.guid}) }}">Paramètres</a></li>
                            <li {% if currentPage == 'statistics' %}class="active"{% endif %} ><a href="{{ path('location_internal_points',  {'slug': location.guid}) }}">Statistiques</a></li>
                        </ul>
                    </div><!-- /.container-fluid -->
                </nav>
            {% endif %}

            {% block content %}{% endblock content %}

        </div>

        {{ render(controller( 'ImaginaBundle:Default:sidebar' )) }}

    </div>

    <!-- Modal -->
    <div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="menuModalLabel">Modal title</h4>
                </div>
                <div id="menuModalContent" class="modal-body">
                    ...
                </div>
            </div>
        </div>
    </div>
{% endblock body %}