{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}

{% endblock %}
{% block content %}

{% block body %}
<div class="container">
	<div class"row">
	<div class="col-xs-6">
		<div class="well">
			<div class="media">
				<div class="media-body">
					<h4 class="media-heading text-center">Rechercher un partenaire</h4>
					<div class="card card-description text-center">Déposez ici votre annonce partenaire. Vous créez une activité sportive pour partager un moment agréable avec la communauté SharingSport. </div>

					<a href="{{ path('create_partner_announcement') }}" style="color:black;" ><button type="button" class="btn btn-next btn-block" > Déposer une annonce pour trouver des partenaires</button></a>
				</div>

			</div>
		</div>
	</div>

	<div class="col-xs-6">
		<div class="well">
			<div class="media">
				<div class="media-body">
					<h4 class="media-heading text-center">Déposez votre matériel</h4>
					<div class="card card-description text-center">Déposez ici votre annonce matériel. Prêtez votre matériel sportif contre de l'argent.</div>
					<a href="{{ path('create_material_announcement') }}" style="color:black;" ><button type="button" class="btn btn-next btn-block" > Déposer une annonce pour louer du matériel</button></a>

				</div>

			</div>
		</div>
	</div>
</div>
</div>

{{parent()}}

{% endblock %}

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}
