<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
       {% block favicon %} <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />{% endblock %}
		{% block head %}{% endblock %}
	</head>
    <body>{% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
		
		
    </body>
</html>
