html,body {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: rgb(29,179,96);
  background-color: white;
}

a{
  text-decoration: none;
}

/*---gabarit---*/

.main-row{
  margin: 120px auto;
	width: 1100px;
	height: auto;
	font-family: Circular,Helvetica,Arial,sans-serif;
}

.section-gray{
  width: 100%;
  height: auto;
  background: rgb(245,245,245);
}

/*---page header---*/


.page-one{
  width: 100%;
  height: 60%;
  margin-top: 0;
  top:0;
  max-height: 60%;
  /*background-image:url("golf.jpg");*/
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
   text-align:center;

}

.description{
  text-align: center;
  padding-top:14vh;
  font-size: 25px;
  letter-spacing: 1px;
  line-height: 1.3em;
  color:white;
  margin: 0px 0 10px;
}

.description a {
  color:white;
  font-size: 15px;
}

.description a:hover{
  text-decoration: underline;
}

.sign-up-class{
  margin-top: 5%;
  margin-right:20%;
  margin-left:20%; 
    text-align:center;

}

.sign-up {
  margin: 20px auto;
	width: 810px;
	font-family: Circular,Helvetica,Arial,sans-serif;
    text-align:center;

}

.sign-up h1{
  color:white;
}

.sign-up:before, .sign-up:after {
  content: '';
  bottom: 1px;
  left: 0;
  right: 0;
  height: 10px;
  border-spacing: 10px;
}

input {
  color:rgb(0,0,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
}

.sign-up-input {
  margin-top: 5%;
  padding: 20px;
  float: left;
  width: 220px;
  height: 42px;
  border-right: 1px solid #757575;
  border-top:0;
  border-left:0;
  border-bottom:0;
  border-radius: 0;
  font-size: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.sign-up-input:focus {
  border-color: 2px solid rgb(39, 174, 96);
  outline: none;
}

.sign-up-button {
  float: left;
  width: 150px;
  height: 42px;
  border: 1px solid rgb(39, 174, 96);
  margin: 5% 0 5px 0;
  background-color: rgb(39, 174, 96);
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  cursor: pointer;

}

.sign-up-button:hover {
  border: 2px solid rgb(39, 150, 96);
  background-color:rgb(39,150,96);
  transition: all 0.5s;
  outline: none;
  cursor: pointer;
}


/*---sports-top---*/

.sports-top{
  width: 100%;
	height: auto;
  margin-top: -70px;
  text-align: center;
}

.sports-top h3{
  font-weight: 100;
  font-size: 22px;
  color: #484848;
  text-align: left;
  margin-left:10px;
}
.sports-group{
  margin-top: -20px;
}
.img{
  display: inline-block;
  margin: 30px 10px 0 0;
  cursor: pointer;

}

.img img{
  display: inline-block;
  width: 346px;
  height: 246px;
}

.place-names{
	margin: -30px 0 0 20px;
	color: #fff;
	font-size: 18px;
}

/*---grouptext----*/
.group-text{
  width: 100%;
	height: 450px;
	margin-top: 70px;
  border-bottom: 1px solid rgb(86,86,86);
  border-top: 1px solid rgb(86,86,86);

}

.groupblocks{
  width: 100%;
  margin-top: 10%;
}

.title-group h1{
  margin-top: 20px;
  letter-spacing: 1px;
	color: #484848;
  text-align: left;
  left:0;
}

.description-group{
  width: 600px;
  margin-top: 30px;
  left:0;
  font-size: 18px;
  color: #484848;
  text-align: left;
}

.group-text img{
  width: 450px;
  height:300px;
  margin-right: 21px;
  float:right;
  display:block;
}

.group-button{
  float:left;
  width: auto;
  height: 42px;
  border: 1px solid rgb(39, 174, 96);
  border-radius: 3px;
  margin-top: 3%;
  background-color: rgb(39, 174, 96);
  color: white;
  font-size: 14px;
  cursor: pointer;
}

/*---city---*/

.city{
  width: 100%;
	height: 330px;
  margin-top:70px;
  text-align: center;
}

.city h3{
  font-weight: 100;
  font-size: 22px;
  color: #484848;
  text-align: left;
  margin-left:10px;
}

.city-group{
  margin-top: -20px;
}

/* !!!!!!!!!!! La taille des images des villes sont identiques des images des sports !!!!!!!! --/

/*---lastposts---*/

.lastposts{
  width: 100%;
	height: auto;
	margin-top: 70px;
  text-align: center;
}
.lastposts h3{
  font-weight: 100;
	font-size: 22px;
	color: #484848;
  text-align: left;
  margin-left:10px;
}

.lastposts-group{
  margin-top: -20px;

}
.lastposts-block{
  width: 253px;
  height: 230px;
  border:1px solid rgb(86,86,86);
  border-radius: 3px;
  display: inline-block;
  margin: 30px 10px 0 0;
  cursor: pointer;
}

.lastposts-title{
	margin:20px 0 0 12px;
	color: #484848;
	font-weight: 900;
	font-size: 15px;
}
.lastposts-city{
	margin: 0 0 0 12px;
	font-size: 14px;
	color: #484848;
}
.lastposts-profile-picture{
  margin: 7px 12px 0 0;
  float: right;
  background: transparent;
  border-radius: 50%;
  max-width: 75px;
  border: 2px solid #DCE0E0;
  height: 75px;
}


/*---temoins---*/

.aside-row{
  margin: 130px auto;
  width: 1100px;
  height: auto;
  font-family: Circular,Helvetica,Arial,sans-serif;
}

.temoin{
  width: 100%;
	height: auto;
	margin-top: 40px;
  text-align: center;
}

.temoin h3{
  font-weight: 100;
	font-size: 22px;
	color: #484848;
  text-align: left;
  padding-top: 30px;
  margin-left:10px;
}
.temoin-group{
  margin-top: -20px;

}
.temoinblocks{
  width: 320px;
  height: auto;
  display: inline-block;
  margin: 30px 10px 40px 10px;
  cursor: pointer;

}

.temoin-profile-picture{
  margin-top:10px;
  margin-right:30%;
  margin-left:30%;
  float: center;
  background: transparent;
  border-radius:50%;
  max-width: 115px;
  height: 100px;
}

.temoin-name{
  margin: 20px auto;
  text-align: center;
  color: rgb(86,86,86);
  font-weight: 900;
  font-size: 15px;
}

.temoin-sport{
  color: rgb(75,75,75);
  text-align: center;
  font-size: 13px;
  text-decoration: underline;

}

.temoin-text{
font-size: 16px;
text-align: justify;
color:rgb(75,75,75);
margin: 10px 10px 10px 10px;

}





@media screen and (max-width: 700px){
  .page-one{
    width: 100%;
    height: 30%;
    margin-top: 0;
    top:0;
    max-height: 30%;
    background-color: white;
    border-top: 0;
  }


  .description{
    text-align: center;
    padding-top:15%;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 1.3em;
    color:white;
    margin: 0px 0 40px;
  }


  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }


}

/*---pop up apparition ---*/

  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }



  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {

    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 35%;
    position: relative;
    transition: all 5s ease-in-out;
}
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }


h4 {
  color: rgb(39, 174, 96);
}




/*---fin popup---*/
