html,body {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
}

.header-container{
  width: 100%;
  height: 50%;
  margin-top: 0;
  top:0;
  max-height: 50%;
  background-image:url("runner.jpg");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);

}
.description{
  padding-top:7%;
  font-size: 25px;
  width: 50%;
  letter-spacing: 1px;
  line-height: 2em;
  color:rgb(72,72,72);
  float: left;
  margin: 0 0 30px 40px;
}
.description p{
  line-height: 1em;
}

.header-container button{
  background: rgb(39, 174, 96);
  float: right;
  width: 250px;
  height: 40px;
  margin-top: 15%;
  margin-right: 20%;
  color:white;
  font-size: 15px;
  font-weight: 600;
  border:1px solid rgb(39,174,96);
  border-radius: 1px;
  outline: none;
}
.header-container button:hover{
  cursor: pointer;
}
.container {
  max-width: 100%;
  padding: 4rem;
  height: 100%;
  margin: 0 auto;
  background: white;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);

}
.container:before {
  content: "";
  width: 100%;
  background: #0ce479;
  height: 170px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.row-choose{
  margin-top:3%;
  width: 100%;
  height: 100%;
  margin-bottom: 10%;
}

h1{
  text-align: center;
  padding:20px;
  color:rgb(86,86,86);
}



.row-left{
  margin-left:15% ;
  float:left;
  width:60vh;
  border: 1px solid #DCE0E0;
  border-radius: 3px;
  height:auto;
  cursor: pointer;
}

.row-right{
  margin-right:15% ;
  float:right;
  border: 1px solid #DCE0E0;
  border-radius: 3px;
  width:60vh;
  height:auto;
  cursor:pointer;
}

.title-row{
  text-align: center;
  top:0;
  color:rgb(86,86,86);
  width: 100%;
  height: auto;
  border-bottom: 1px solid #DCE0E0;
}

.img-left{
  width: 100%;
  height: 30%;
  background-image: url("cycling.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.img-right{
  width: 100%;
  height: 30%;
  background-image: url("ski.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.text-row{
  color:rgb(75,75,75);
  margin:10%;
  text-align: left;
  font-size: 19px;
  letter-spacing: 0.5px;
}

button{
  background: rgb(39, 174, 96);
  float: center;
  width: 50%;
  height: 6vh;
  margin-bottom:5%;
  margin-left: 25%;
  margin-right: 25%;
  color:white;
  font-size: 15px;
  font-weight: 600;
  border:1px solid rgb(39,174,96);
  border-radius: 3px;
  cursor:pointer;
}

button a{
  color:white;


}

h5{
  padding-top: 20px;
}
