html,body {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  text-decoration: none;
}

.main-row{
  margin: 120px auto;
	width: 1100px;
	height: auto;
	font-family: Circular,Helvetica,Arial,sans-serif;
}

body {
  background: rgba(0, 0, 0, 0.1);
  line-height: 1.45rem;
  color: #444;
}
body.freeze {
  pointer-events: none;
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: normal;
  line-height: 2.2rem;
}

.section {
  max-width: 500px;
  padding: 4rem;
  margin: 5vh auto 0 auto;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.section:before {
  content: "";
  width: 100%;
  background: #0ce479;
  height: 170px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form-instructions {
  text-align: center;
}

form {
  margin: 2rem auto;
  width: 100%;
  max-width: 330px;
  will-change: transform;
}

.fieldgroup {
  margin: 1.5rem 0;
  position: relative;
}

input {
  padding:20px;
  border:1px solid #ddd;
  border-radius: 3px;
  width: 100%;
}
input:focus {
  outline: none;
}

textarea{
  padding:20px;
  border:1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  max-width: 100%;
  max-height: 100px;
}


.btn {
  color: #fff;
  background-color: #0bcc6c;
  padding: .8rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  border-radius: 5px;
  border: 2px solid transparent;
  min-width: 45px !important;
}
.btn:hover, .btn.hover {
  color: #fff;
  background-color: #1fe080;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s;
  transition: .2s;
}
.btn:active, .btn.active {
  color: #fff;
  background-color: #00b858;
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.3);
  outline: 2px solid #0bcc6c;
}
.btn:focus, .btn.focus {
  color: #fff;
  outline: 2px solid #0bcc6c;
  outline-offset: 2px;
}
.btn:active:focus, .btn.active.focus {
  outline: 4px solid #0bcc6c;
}
.btn.hover, .btn.active {
  outline: none;
}

.btn-alt {
  background-color: transparent;
  color: #0bcc6c;
  border: 2px solid #0bcc6c;
}
.btn-alt:hover, .btn-alt.hover {
  background-color: transparent;
  color: #00a444;
  text-shadow: none;
}
.btn-alt:focus, .btn-alt.focus {
  color: #00b858;
}
.btn-alt:active, .btn-alt.active {
  color: #fff;
  background-color: #0bcc6c;
}
.btn-alt.hover, .btn-alt.active {
  outline: none;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.buttons .btn {
  margin-right: 15px;
}

form .btn {
  display: inline-block;
  width: 100%;
  max-width: 220px;
  margin: 4rem auto 0 auto;
}

[data-step="4"] button.btn {
  display: block;
  margin: 0 auto;
}

.form-progress {
  position: relative;
  display: block;
  margin: 3rem auto;
  width: 100%;
  max-width: 400px;
}

progress {
  display: block;
  position: relative;
  top: 5px;
  left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: #0bcc6c;
  width: 100%;
  height: 5px;
  background: none;
  -webkit-transition: 1s;
  transition: 1s;
  will-change: contents;
}
progress::-webkit-progress-bar {
  background-color: #ddd;
}
progress::-webkit-progress-value {
  background-color: #0bcc6c;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.form-progress-indicator {
  position: absolute;
  top: -6px;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border: 3px solid #ddd;
  border-radius: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  will-change: transform;
}
.form-progress-indicator.one {
  left: 0;
}
.form-progress-indicator.two {
  left: 33%;
}
.form-progress-indicator.three {
  left: 66%;
}
.form-progress-indicator.four {
  left: 100%;
}
.form-progress-indicator.active {
  -webkit-animation: bounce .5s forwards;
          animation: bounce .5s forwards;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  border-color: #0bcc6c;
}

.animation-container {
  position: relative;
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  will-change: padding;
  overflow: hidden;
}

.form-step {
  position: absolute;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  will-change: transform, opacity;
}

.form-step.leaving {
  -webkit-animation: left-and-out .5s forwards;
          animation: left-and-out .5s forwards;
}

.form-step.waiting {
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
}

.form-step.coming {
  -webkit-animation: right-and-in .5s forwards;
          animation: right-and-in .5s forwards;
}

@-webkit-keyframes left-and-out {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}

@keyframes left-and-out {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
            transform: translateX(-400px);
  }
}
@-webkit-keyframes right-and-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes right-and-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes bounce {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes bounce {
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}
