
{% trans_default_domain 'FOSUserBundle' %}

{% extends 'AppBundle::page-modify.html.twig' %}

{% block header %}

{{parent()}}

{% endblock %}
{% block head %}
{{parent()}}
{% endblock %}
{% block content %}


{% block body %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}

{{parent()}}

{% endblock %}

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}
