{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
J'ARRIVE PAS A INSTALLER CE PUTAIN DE BUNDLE FACEBOOK
{% include "@FOSUser/Registration/register_content.html.twig" %}
{% endblock fos_user_content %}
