{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}


{% endblock %}
{% block content %}

{% block body %}

<!-- Page Content -->

<div class="container">
  <div class="row">

              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="exampleModalLabel">Nouveau message</h4>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-group">
                          <label for="title-name" class="control-label">Titre</label>
                          <input type="text" class="form-control" id="title-text">
                        </div>
                        <div class="form-group">
                          <label for="message-text" class="control-label">Message:</label>
                          <textarea class="form-control" id="message-text"></textarea>
                        </div>

                        <div class="form-group" style="display:none;">
                          <label for="message-text" class="control-label">idAnswer:</label>
                          <input type="text" class="form-control" id="idAnswerMod">
                        </div>
                        <div class="form-group" style="display:none;">
                          <label for="message-text" class="control-label">idAnnouncement:</label>
                          <input type="text" class="form-control" id="idAnnouncementMod">
                        </div>
                        <div class="form-group" style="display:none;">
                          <label for="message-text" class="control-label">type:</label>
                          <input type="text" class="form-control" id="typeMod">
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" style="color:#337ab7;" data-dismiss="modal">Fermer</button>
                      <button type="button" id="send" class="btn btn-primary" data-dismiss="modal">Envoyer message</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Anouncement material -->

              <div class="col-sm-9 page-content">

          <div class="category-list">

            {# table body #}
            {% for reservationMaterial in reservationMaterial %}

            <div class="item-list announcement-item">

              <div class="col-sm-3 no-padding photobox">
                <div class="add-image">
                  <span class="photo-count">
                    <i class="glyphicon glyphicon-camera">  </i>
                    2
                  </span>
                  <a href="{{ path('app_display_announcement',{'id':reservationMaterial.id ,'type': reservationMaterial.type}) }}">
                    <img class="no-margin media-object img-responsive" src="../../../../AnnouncementMaterial/{{reservationMaterial.idAnnouncement.idUser.email}}/{{reservationMaterial.idAnnouncement.id}}/{{reservationMaterial.idAnnouncement.imageFirst}}" alt="announcement material">
                  </a>
                </div>
              </div>

              <div class="col-sm-6  add-desc-box">
                <div class="add-details jobs-item">
                  <h5 class="announcement-type">
                    Materiel
                  </h5>
                  <h4 class="announcement-title"><a href="{{ path('app_display_announcement',{'id':reservationMaterial.id ,'type': reservationMaterial.type}) }}"> Location {{reservationMaterial.idAnnouncement.sport.title}} </a></h4>
                  <span class="info-row"> <span class="item-location"><i class="glyphicon glyphicon-map-marker"></i> {{reservationMaterial.idAnnouncement.place}} </span> <i class="glyphicon glyphicon-calendar"> </i> {{ reservationMaterial.idAnnouncement.dateBegin |localizeddate('long', 'none', 'fr')}}<span class="date"></span>
                  <span class="calendrier"><i class="glyphicon glyphicon-wrench"> </i>{% for i in 1..reservationMaterial.idAnnouncement.quality %}
                    <span class="glyphicon glyphicon-star"></span>
                    {% endfor %}
                    {% for i in 5-reservationMaterial.idAnnouncement.quality..reservationMaterial.idAnnouncement.quality %}
                    <span class="glyphicon glyphicon-star-empty"></span>
                    {% endfor %}</span>
                  </span>
                  <div class="announcement-desc">
                    {{ reservationMaterial.idAnnouncement.description }}
                  </div>


                </div>
              </div>
              <div class="col-sm-3 text-right price-box">

                <h3 class="item-price "> <strong> {{reservationMaterial.idAnnouncement.price}}€ </strong></h3>

                    <a type="button" class="btn btn-warning btn-block" id="material,{{reservationMaterial.idAnnouncement.id}},{{reservationMaterial.idAnnouncement.idUser.id}},"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Contacter</a>
                  </br>
                  <a href="{{ path('app_delete_reservation_material',{'idAnnouncement':reservationMaterial.idAnnouncement.id ,'type': reservationMaterial.idAnnouncement.type}) }}" type="button" class="btn btn-danger btn-block" id="material,{{reservationMaterial.idAnnouncement.id}},{{reservationMaterial.idAnnouncement.idUser.id}}," >Annuler</a>
				

              </div>
            </div>
            <div class="form-group" style="display:none;">
              <label class=" control-label" for="textinput">IdAnswer</label>
              <input id="idAnswer" name="textinput" type="text" value="{{reservationMaterial.idAnnouncement.idUser}}" class="form-control">
            </div>
            <div class="form-group" style="display:none;">
              <label class=" control-label" for="textinput">IdAnnouncement</label>
              <input id="idAnnouncment{{reservationMaterial.idAnnouncement.id}}" name="textinput" type="text" value="{{reservationMaterial.idAnnouncement.id}}" class="form-control">
            </div>
            {% endfor %}
              </div>
            </div>




                      </div>



                      <div role="tabpanel" class="tab-pane active" id="container-block-two">
                        {% for participation in participation %}
                        <a href="{{ path('app_display_announcement',{'id':participation.id, 'type': participation.idAnnouncement.type})}}">
                          <div class="well">
                            <div class="media">
                              <a class="pull-left" href="#">
                                <img class="media-object" src="/Symfony/web/AnnouncementPartner/{{participation.idAnnouncement.id}}/{{participation.idAnnouncement.originalImageFirst}}">
                                <div class="media-body">

                                  <h4 class="media-heading">{{ participation.idAnnouncement.title }}</h4>
                                </a>
                                <div class="text-right">Nom de l"utilisateur </div>
                                <p>{{participation.idAnnouncement.description}} </p>
                                <ul class="list-inline list-unstyled">
                                  <li><span><i class="glyphicon glyphicon-calendar"></i>{{ participation.idAnnouncement.dateBegin |localizeddate('long', 'none', 'fr')}}</span></li>
                                  <li>|</li>
                                  <span><i class="glyphicon glyphicon-map-marker"></i>{{participation.idAnnouncement.sport.title}}</span>
                                  <li>|</li>
                                  <li>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                  </li>
                                  <li>|</li>
                                </ul>
                                <div class="pull-right">
                                  <button type="button" class="btn btn-primary" id="partner,{{participation.idAnnouncement.id}},{{participation.idAnnouncement.idUser}},"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Contacter</button>
                                  <button class="btn btn-next btn-fab" id="partner,{{participation.idAnnouncement.id}},{{participation.idAnnouncement.idUser}}," type="button" style="background-color:"><i class="glyphicon glyphicon-heart"></i></button>
                                  <a href="{{ path('app_display_announcement',{'id':participation.idAnnouncement.id ,'type': participation.idAnnouncement.type}) }}"><button type="button" class="btn btn-submit btn-lg">En savoir plus</button></a>

                                </div>
                              </div>
                            </div>
                          </div>
                        </a>

                          {% endfor %}
                      </div>

                    </div>

                  </div>

                </div>
              </div>
            </div>
            <!-- /.container -->


            <script>

            $('#exampleModal').on('show.bs.modal', function (event) {
              console.log("modal");
              var button = $(event.relatedTarget) // Button that triggered the modal
              var recipient = button.data('whatever') // Extract info from data-* attributes
              // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
              // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
              var modal = $(this)
              modal.find('.modal-title').text('New message to ' + recipient)
              modal.find('.modal-body input').val(recipient)
            })


            $("button.btn.btn-primary").click(function(){
              console.log('button btn primary');
              var data1 = ""+$(this).attr('id');
              console.log("button btn primary: "+data1);
              if(data1 != "send"){//mettre un if pour que le clique sur le bouton envoyer ne lance cette fonction
                //dans ce cas les valeurs dans les champs ne sont pas supprimés
                var theString = $(this).attr('id'),
                bits = theString.split(',').slice(0, -1); // split the string and remove the last one
                $("input#typeMod").val(bits[0]);
                $("input#idAnnouncementMod").val(bits[1]);
                $("input#idAnswerMod").val(bits[2]);
              }
              //var data = data1,item = data1.split(', ').slice(0, -1);
              //console.log(item.length);



              //$('#input#idAnswerMod').attr('id','bits[2]');
              //document.getElementById("input#idAnnouncementMod").innerHTML = bits[1];
            });

            $("button.btn.btn-next.btn-fab").click(function(){
              console.log('button btn primary1');
              //var data1 = ""+$(this).attr('id');
              //console.log(data1);
              //var data = data1,item = data1.split(', ').slice(0, -1);
              //console.log(item.length);

              $( this ).css( "background-color","red" );
              $( "button.btn.btn-next.btn-fab" ).html( "<button style='background-color:" +
              color + ";'>" + color + "</button>." );

              var theString = ""+$(this).attr('id'),
              bits = theString.split(',').slice(0, -1); // split the string and remove the last one
              console.log("string button btn next"+theString);
              /*console.log('autre'+bits[0]);
              console.log('id'+bits[1]);
              console.log('type'+bits[2]);*/
              /*$("input#idAnnouncementMod").val(bits[0]);
              $("input#idAskerMod").val(bits[1]);*/
              $type = bits[0];
              $id = bits[1];
              $user = bits[2];
              $.ajax({
                data: { id : $id, type : $type, user : $user },
                type: 'GET',
                url: "{{ path('app_update_favorite') }}"
              });

              //document.getElementById("input#idAnnouncementMod").innerHTML = bits[1];
            });


            $("button#contacter").click(function(){
              //FONCTIONNE PAS
              //$val ='1';
              //document.getElementById("form_quality").innerHTML = $val;
              //$( "form_quality" ).text('bonjour');
              var id = $(this).attr('id');
              console.log('contacter');
              $idAnswer=$("input#idAnswer").val();
              console.log($idAnswer);
              $idAnnouncement=$("input#idAnnouncementMod").val();
              console.log($idAnnouncement);
              document.getElementById("input#message-text-idAnswer").innerHTML = $idAnswer;
              //$( "#val" ).text( $val );
              //$( "#form_quality" ).val( '1');


            });

            $("button#send").click(function(){
              //$val ='1';
              //document.getElementById("form_quality").innerHTML = $val;
              //$( "form_quality" ).text('bonjour');
              console.log('send111');

              $type =$("input#typeMod").val();
              $message=$("textarea#message-text").val();
              //$message2=$("textarea#message2-text").val();
              $title=$("input#title-text").val();
              $idAnnouncement=$("input#idAnnouncementMod").val();
              $idAnswer= $("input#idAnswerMod").val();
              console.log("message"+$message);
              console.log("title: "+$title);
              console.log("announcement: "+$idAnnouncement);
              console.log("idanswer: "+$idAnswer);
              console.log("type: "+$type);
              //console.log("message2: "+$message2);

              $.ajax({
                type: "GET",
                url: "{{ path('app_insert_message_material') }}",
                data: {message : $message, title : $title, idAnnouncement : $idAnnouncement, idAnswer: $idAnswer, type : $type}

              });
              //document.getElementById("#val").innerHTML = 'bonjour';
              //$( "#val" ).text( $val );
              //$( "#form_quality" ).val( '1');

              //$( "#exampleModal" ).change('modal-fade');
              //$('body').attr(".modal-open").hide();
              //$( "#exampleModal" ).hide();

            });
			
			

            </script>

            {{parent()}}

            {% endblock %}

            {% endblock %}

            {% block footer %}
            {{parent()}}
            {% endblock %}
