{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}


{% endblock %}
{% block content %}

{% block body %}

<!-- Page Content -->

<div class="container">
  <div class="row">

    <!-- on vérifie si l'annonce a déja été réservée si oui on affiche un message sinon on met le formulaire-->
    {% if reservationMaterial != null %}

    <div class="col-md-12 page-content">
      <div class="well inner-box ">
        <div class="row">
          <div class="col-lg-12">
            <div class="alert alert-danger pgray  alert-lg" role="alert">
              <h2 class="no-margin no-padding"> L'annonce à été réservé</h2>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                nibh </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      {% else %}



      <div class="col-md-12 page-content">
        <div class="well inner-box ">
          <div class="row">
            <div class="col-lg-12">

              {{ form_start(formRes,  {'multipart': 'true', 'attr': {'id': 'payment-form'}}) }}<!-- , 'method': 'GET'-->
              {{ form_errors(formRes) }}



              <div class="form-group">
                {{ form_label(formRes.name, "Name", {'label_attr': {'class': 'col-md-3 control-label'} } ) }}                        <div class="input-group col-md-8" id="">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>

                  {{ form_errors(formRes.name) }}
                  {{ form_widget(formRes.name, {'attr': {'class': 'form-control', 'value':'Jenny Rosen', 'name':'name'}}) }}
                </div>
              </div>

              <div style="display:none;">
                {{ form_label(formRes.email, "Email", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
                <div class="col-md-8">
                  {{ form_errors(formRes.email) }}
                  {{ form_widget(formRes.email, {'id': 'email', 'attr': {'class': 'form-control', 'value':app.user.email, 'name':'email'}}) }}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(formRes.number, "Number", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
                <div class="input-group col-md-8" id="">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>

                  {{ form_errors(formRes.number) }}
                  {{ form_widget(formRes.number, {'id': 'number', 'attr': {'class': ' form-control ', 'value':'4242 4242 4242 4242', 'name':'number', 'data-stripe': 'number'} }) }}
                </div>
              </div>


              <div class="row">
                <div class="form-group">

                <div class="col-xs-7 col-md-7">
                  <div class="form-group">
                    {{ form_label(formRes.year, "Year", {'label_attr': {'class': ''}} ) }}

                    {{ form_errors(formRes.year) }}
                    {{ form_widget(formRes.year, {'id': 'year', 'attr': {'class': 'form-control ', 'value':'18', 'data-stripe': 'exp_year'} }) }}
                  </div>
                </div>
                <div class="col-xs-5 col-md-5 pull-right">
                  <div class="form-group">
                    {{ form_label(formRes.month, "Month", {'label_attr': {'class': ''}} ) }}
                    {{ form_errors(formRes.month) }}
                    {{ form_widget(formRes.month, {'id': 'month', 'attr': {'class': 'form-control ', 'value':'12', 'data-stripe': 'exp_month'} }) }}
                  </div>
                </div>
              </div>
              </div>


              <div class="form-group">
                {{ form_label(formRes.cvc, "CVC", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
                <div class="input-group col-md-8" id="">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                  {{ form_errors(formRes.cvc) }}
                  {{ form_widget(formRes.cvc, {'attr': {'class': 'form-control', 'row': '10', 'value':'123','data-stripe': 'cvc' } }) }}
                </div>
              </div>










              {{ form_widget(formRes.save, { 'attr': { 'class': 'btn btn-block btn-submit'} }) }}
              {{ form_end(formRes) }}
            </div>
          </div>
        </div>
      </div>

    </div>



    {% endif %}
  </div>
</div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
Stripe.setPublishableKey('pk_test_gHkz1Kp1sLTnmvZgEk5rIZM9');

var $form = $('#payment-form'); // On récupère le formulaire
$form.submit(function (e) {
  e.preventDefault();
  $form.find('button').prop('disabled', true); // On désactive le bouton submit
  Stripe.card.createToken($form
    , function (status, response) {
      if (response.error) { // Ah une erreur !
        // On affiche les erreurs
        $form.find('.message').remove();
        $form.prepend('<div class="ui negative message"><p>'+response.error.message+'</p></div>'); // On réactive le bouton
      } else { // Le token a bien été créé
        var token = response.id; // On récupère le token
        // On crée un champs cachée qui contiendra notre token
        $form.append($('<input type="hidden" id="stripeToken" name="stripeToken" />').val(token));
        $form.get(0).submit(); // On soumet le formulaire
      }
    });

    /*$name =$("input#name").val();
    $email=$("textarea#email").val();
    $number=$("input#number").val();
    $month=$("input#month").val();
    $year= $("input#year").val();
    console.log($name);
    $.ajax({
    type: "GET",
    url: "./payment.php",
    data: {name : $name, email : $email, number : $number, month: $month, year : $year}

  });*/
});
</script>


{{parent()}}

{% endblock %}

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}
