html,body {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a{
  text-decoration: none;
}
.container {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin:5% auto;
  background-color: #ffffff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

h4,p {
  color: rgb(39, 174, 96);
}
textarea{
  resize: none;
}
input,
input[type="checkbox"] + label:before,
select option,
select, textarea {
  width: 100%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;

}
input:focus, textarea:focus {
  outline: 0;
  border-color: rgb(39, 174, 96);
}
input:focus + .input-icon i {
  color: rgb(39, 174, 96);
}
input:focus + .input-icon:after {
  border-right-color: rgb(39, 174, 96);
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  width: 50%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  color:rgb(39, 174, 96);
  border-radius: 10px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;

    display: none;
}
input[type="radio"] + label{
  display: inline-block;
  width: 44%;
  text-align: center;
  float: center;
  border-radius: 10px;
  cursor: pointer;
}
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
}

input[type="radio"]:checked + label,
input:checked + label:before,
select:active {
  background-color: rgb(39, 174, 96);
  color: #ffffff;
  border-color: #64ac15;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #ffffff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}
input:checked + label:after {
  opacity: 1;
}
input[type="submit"]{
  width: 100%;
  background-color: rgb(39, 174, 96);
  border: 1px solid rgb(39, 174, 96);
  color: white;
  font-size: 15px;
  cursor: pointer;
  opacity: 0.9;
}
input[type="submit"]:hover{
  color:white;
  opacity:1;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #7ed321;
  color: #ffffff;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #ffffff;
  opacity: 0;
  font-family: FontAwesome;
  content: "✔";
}
input:checked + label:after {
  opacity: 1;
}

.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}


@media only screen and (max-width: 540px) {
  input[type="radio"] + label{
    display: inline-block;
    width: 30%;
    text-align: center;
    float: center;
    border-radius: 10px;
    cursor: pointer;
  }

}

a.socialbox {
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 0px;
  width: 100%;
}

a.socialbox.facebook {
  background-color: #2980b9;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.separator-with-label {
  text-align: center;
  color: rgb(39, 174, 96);
  position: relative;
  margin: 0;
}
a.socialbox .social-icon {
  line-height: 32px;
  font-size: 40px;
  display: inline-block;
  vertical-align: middle;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  padding-right: 15px;
}
a.socialbox .description {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 20px;
  color:white;
  font-size: 600;
}

a.socialbox .description span {
  display: block;
  line-height: 16px;
}

.separator-with-label label {
  display: block;
  position: absolute;
  font-size: 12px;
  top: -6px;
  margin: 0;
  width: 100%;
}

.separator-with-label label span {
  padding: 0 1em;
  background-color: #fff;
}
