html,body {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.container {
  max-width: 100em;
  padding: 1em 3em 2em 3em;
  left:0;
  height: auto;
  right:0;
  margin: 3% 0 0 0 ;
  background-color: #ffffff;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}



h4,p {
  color: rgb(39, 174, 96);
}
textarea{
  resize: none;
}

input,
input[type="checkbox"] + label:before,
select option,
select, textarea {
  width: 50%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus, textarea:focus {
  outline: 0;
  border-color: rgb(39, 174, 96);
}
input:focus + .input-icon i {
  color: rgb(39, 174, 96);
}
input:focus + .input-icon:after {
  border-right-color: rgb(39, 174, 96);
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  width: 20%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 2px solid #e5e5e5;
  color:rgb(39, 174, 96);
  border-radius: 10px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
    display: none;
}
input[type="radio"] + label{
  display: inline-block;
  width: 20%;
  text-align: center;
  float: center;
  border-radius: 10px;
  cursor: pointer;
}
select {
  display: inline-block;
  width: 100%;
  text-align: center;
  float: left;
  border-radius: 0;
}

input[type="radio"]:checked + label,
input:checked + label:before,
select:active {
  background-color: rgb(39, 174, 96);
  color: #ffffff;
  border-color: #64ac15;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #ffffff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
}
input:checked + label:after {
  opacity: 1;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #7ed321;
  color: #ffffff;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #ffffff;
  opacity: 0;
  font-family: FontAwesome;
  content: "✔";
}
input:checked + label:after {
  opacity: 1;
}

.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.sign-up-button{
  background: rgb(39, 174, 96);
  border: 1px solid rgb(39, 174, 96);
  color: white;
  font-size: 15px;
}

.sign-up-button:hover{
  opacity:inherit;
}

@media only screen and (max-width: 540px) {
  input[type="radio"] + label{
    display: inline-block;
    width: 30%;
    text-align: center;
    float: center;
    border-radius: 10px;
    cursor: pointer;
  }
  .main-header h1 {
    float: left;
    font-size: 0.8rem;
    margin: 0 0 0 0.5rem;
    text-transform: uppercase;
  }
  .main-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    color: white;
    background: rgb(39, 174, 96);
    line-height: 3rem;
    transform: translateY(0);
    transform: translate3d(0,0,0);
    transition: .25s transform;
    backface-visibility: hidden;
  }
  .main-header nav {
    float: right;
    font-size: 1em;
  }
  .main-header nav li {
    display: inline-block;
    padding: 0 0 0 0;
    border-bottom: 1px solid white;
  }

}
