footer{
	font-family: Circular,Helvetica,Arial,sans-serif;
	margin-top: 100px;
	width: 100%;
  color:#DCE0E0;
	height: auto;
  margin-bottom:20px;
	background-color: white;
}
.footer-content{
	width: 940px;
	margin: 0 auto;
	padding-top: 10px;
  color:#DCE0E0;
}
.footer-content hr{
	background: #555758;
	margin-bottom: 2px;
	width: 100%;
}

.footer-row{
	width: 100%;
	height: 205px;
	padding-left: 100px;
	margin-bottom: 10px;
  color:#DCE0E0;
}

/*---lists---*/
.lists{
	float: left;
}

.lists ul{
	list-style: none;
	float: left;
	width: 160px;
	height: 175px;
}
.lists ul h3{
	color:rgb(86,86,86);
	margin-bottom: 22px;
	font-size: 16px;
}
.lists ul li{
	color:rgb(75,75,75);
	margin-bottom: 5px;
	font-size: 14px;
}

.socialnetworks{
	margin-bottom: 15px;
}
.socialnetworks h3{
	text-align: center;
	color:rgb(86,86,86);
	font-size: 16px;
	margin-bottom: 25px;
}
.icons{
	float:center;
	width:auto;
	margin-left: 70%;
}

.icons a {
	margin-left: 7%;
}


.copyright{
	margin-top: 20px;
	color: #767676;
	font-size: 14px;
}
.rules{
color: #767676;
	float:right;
	margin-left:20px;
}
.plans{
	color: #767676;
	float:right;
}
