ol,ul,li,header,nav
{
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
}
header,nav{
  display:block
}

ol,ul{
  list-style:none
}


a, a:hover {
  text-decoration: none;
}
.inner {
	  max-width: 1000px;
	  margin: 0 auto;
	  padding: 0px 20px;
	  position: relative;
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: white;
  font-weight: 600;
  border-bottom: 1px solid rgb(227, 227, 227);
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.3);

}
#navigation .logo {
  float: left;
  height: 50px;
  padding: 0 15px;
  font-size: 25pt;
  color: rgb(39, 174, 96);
  font-weight: 900;
  line-height: 50px;
  text-transform: uppercase;
}
#navigation .links .loueur{
  height: 30px;
  font-weight: 600;
  width: auto;
  text-align: center;
  background: none;
  border: 2px solid rgb(39, 174, 96);
  border-radius: 5px;
  margin-right: 10px;
  background-color: tranparent;
  color:rgb(39, 174, 96);
  line-height: 25px;
}
#navigation .links {
  float: right;
  margin-right: 5%;
}
#navigation .links li {
  float: left;
  margin: 10px 0 10px 5px;
}
#navigation .links li a {
  position: relative;
  height: 30px;
  padding: 0 10px;
  border-radius: 2px;
  display: block;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  color: rgb(39, 174, 96);
  line-height: 30px;
  white-space: nowrap;
}
#navigation .links li a:hover, #navigation .links li a.active {
  background: rgb(39, 174, 96);
  color: #fff;
}
#navigation .links li a.active {
  background: rgb(39, 174, 96);
}
#navigation .links li a[class*="trigger-"] {
  padding-right: 40px;
}
#navigation .links li a i {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
#navigation .links li a i:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 50%;
  margin: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}
#navigation .links li:hover > .links {
  	display: block;
}
#navigation > .links li .links {
  	display: none;
  	position: absolute;
  	left: 0;
	  top: 100%;
  	width: 100%;
	  z-index: 2000;
}

#navigation .links li.dropdown {
  position: relative;
}
#navigation .links li.dropdown .drop {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 2px;
  background: #fff;
  display: none;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(35px);
          transform: translateY(35px);
}
#navigation .links li.dropdown .drop li {
  float: none;
  margin: 0;
}
#navigation .links li.dropdown .drop li a {
  border-radius: 0;
}
#navigation .links li.dropdown .drop .drop-sub {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background: rgb(39, 174, 96);
  display: none;
}
#navigation .links li.dropdown .drop .drop-sub li {
  width: 100%;
  display: table;
}
#navigation .links li.dropdown .drop .drop-sub li a {
  height: 25px;
  font-size: 10pt;
  color: #fff;
  line-height: 25px;
}
#navigation .links li.dropdown .drop .drop-sub li:first-child a {
  margin-top: 5px;
}
#navigation .links li.dropdown .drop .drop-sub li:last-child a {
  margin-bottom: 5px;
}

[type="checkbox"], label {
	  display: none;
}

@media screen and (max-width: 860px) {

#navigation{
  display:block;
}
label {
  		display: block;
  		background: transparent;
		  width: 40px;
  		height: 40px;
  		cursor: pointer;
		  position: absolute;
		  right: 20px;
  		top: 0px;
	}

label:after{
  content:'';
  display: block;
  width: 30px;
  height: 5px;
  background: rgb(39, 174, 96);
  margin: 7px 5px;
  box-shadow: 0px 10px 0px rgb(39, 174, 96), 0px 20px 0px rgb(39, 174, 96);
}



	#navigation .links li {
		  display: block;
  		float: none;
  		width: 100%;
  		text-align: left;
  		background: white;
		  text-indent: 20px;
	}

	#navigation > .links > li {
  		margin-left: 0px;
	}

	#navigation > .links li.links li {
  		display: block;
		  float: none;
	}

	#navigation > .links li.links {
		  display: block;
  		position: relative;
  		width: 100%;
		  z-index: 9999;
		  float: none;
	}
