
{% block title %}Imagina Business{% endblock %}
{% block favicon %}<link rel="shortcut icon" type="image/png" href="{{ asset('/images/apple.jpg') }}">{% endblock %}

{% block header %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.css">
    <style>
        .navbar-collapse form.active{
            width: 68% !important;
        }
    </style>
    <a class="navbar-brand" href="{{ path('app_index') }}"><img src="{{ asset('/images/apple.jpg') }}" ></a>
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ path('app_index') }}">{{ "base.menu.title.1"|trans }}</a></li>
            <li><a href="">{{ "base.menu.title.2"|trans }}</a></li>
            <li data-toggle="modal" data-target="#launchCampaignModal" style="cursor: pointer;"><a>{{ "base.menu.title.3"|trans }}</a></li>
            <!--{{ include(':default:user_menu.html.twig') }}-->
        </ul>
        <form class="navbar-form navbar-right" role="search" >
            <div id="the-basics" class="input-group">
                <input id="main-search" type="text" class="form-control typeahead" placeholder="{{ "business.searchbar"|trans }}">
                <span class="input-group-btn">
				    <button type="reset" class="btn btn-default" style="background: #FFF;">
                        <span class="glyphicon">
                            <img src="{{ asset('/images/apple.jpg') }}" style="float: left;width: 20px;height: 20px;" />
                        </span>
                    </button>
                    <button type="submit" class="btn btn-default" style="background: #FFF;">
                        <img src="{{ asset('/images/apple.jpg') }}" style="float: left;width: 25px;height: 25px;" />
                    </button>
                </span>
            </div>
        </form>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}

    <style>

        #modal_content{
            text-align: center;
        }

        #modal_content img{
            max-width: 50%;
            max-height: 50%;
            padding: 10px;
        }

        #modal_content h1{
            font-weight: bold;
            font-size: 14px;
            color: #023C6C;
            padding: 20px 20px 0 20px;
            margin-top: -20px;
        }

        #modal_content p{
            font-size: 13px;
            color: #555;
            padding: 0 10px 0 10px;
        }

    </style>

    <!-- Add Content Modal -->
    <div id="launchCampaignModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ "base.modal.title"|trans }}</h4>
                </div>
                <div class="modal-content" style="box-shadow: none">

                    <a href="{{ path('app_index') }}">
                        <div id="modal_content" class="col-md-6">
                            <img src="{{ asset ('images/apple.jpg') }}">
                            <h1>{{ "base.modal.subtitle.1"|trans }}</h1>
                            <p>{{ "base.modal.text.1"|trans }}</p>
                        </div>
                    </a>


                    <a href="{{ path('app_index') }}">
                        <div id="modal_content" class="col-md-6">
                            <img src="{{ asset ('/images/apple.jpg') }}">
                            <h1>{{ "base.modal.subtitle.2"|trans }}</h1>
                            <p>{{ "base.modal.text.2"|trans }}</p>
                        </div>
                    </a>


                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

{% endblock body %}