{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}


</style>

{% endblock %}
{% block content %}

{% block body %}

<!-- Page Content -->

<div class="container">
  <div class="col-md-9">
    <div class="row" style="margin-top:0px;">
      <div class="tab-content content">
        <div role="tabpanel" class="tab-pane active" id="container-block-one">
          {{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
          {{form_errors(form) }}

          {{ form_widget(form.save, { 'label': "Supprimer l\'annonce", 'attr': { 'class': 'btn btn-danger pull-right'} }) }}
          {{ form_end(form) }}


        </div>

      </div>

    </div>
  </div>
</div>


<script>

$('#exampleModal').on('show.bs.modal', function (event) {
  console.log("modal");
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})


$("button.btn.btn-primary").click(function(){
  console.log('button btn primary');
  var data1 = ""+$(this).attr('id');
  console.log("button btn primary: "+data1);
  if(data1 != "send"){//mettre un if pour que le clique sur le bouton envoyer ne lance cette fonction
    //dans ce cas les valeurs dans les champs ne sont pas supprimés
    var theString = $(this).attr('id'),
    bits = theString.split(',').slice(0, -1); // split the string and remove the last one
    $("input#typeMod").val(bits[0]);
    $("input#idAnnouncementMod").val(bits[1]);
    $("input#idAnswerMod").val(bits[2]);
  }
  //var data = data1,item = data1.split(', ').slice(0, -1);
  //console.log(item.length);



  //$('#input#idAnswerMod').attr('id','bits[2]');
  //document.getElementById("input#idAnnouncementMod").innerHTML = bits[1];
});

$("button.btn.btn-next.btn-fab").click(function(){
  console.log('button btn primary1');
  //var data1 = ""+$(this).attr('id');
  //console.log(data1);
  //var data = data1,item = data1.split(', ').slice(0, -1);
  //console.log(item.length);

  $( this ).css( "background-color","red" );
  $( "button.btn.btn-next.btn-fab" ).html( "<button style='background-color:" +
  color + ";'>" + color + "</button>." );

  var theString = ""+$(this).attr('id'),
  bits = theString.split(',').slice(0, -1); // split the string and remove the last one
  console.log("string button btn next"+theString);
  /*console.log('autre'+bits[0]);
  console.log('id'+bits[1]);
  console.log('type'+bits[2]);*/
  /*$("input#idAnnouncementMod").val(bits[0]);
  $("input#idAskerMod").val(bits[1]);*/
  $type = bits[0];
  $id = bits[1];
  $user = bits[2];
  $.ajax({
    data: { id : $id, type : $type, user : $user },
    type: 'GET',
    url: "{{ path('app_update_favorite') }}"
  });

  //document.getElementById("input#idAnnouncementMod").innerHTML = bits[1];
});


$("button#contacter").click(function(){
  //FONCTIONNE PAS
  //$val ='1';
  //document.getElementById("form_quality").innerHTML = $val;
  //$( "form_quality" ).text('bonjour');
  var id = $(this).attr('id');
  console.log('contacter');
  $idAnswer=$("input#idAnswer").val();
  console.log($idAnswer);
  $idAnnouncement=$("input#idAnnouncementMod").val();
  console.log($idAnnouncement);
  document.getElementById("input#message-text-idAnswer").innerHTML = $idAnswer;
  //$( "#val" ).text( $val );
  //$( "#form_quality" ).val( '1');


});

$("button#send").click(function(){
  //$val ='1';
  //document.getElementById("form_quality").innerHTML = $val;
  //$( "form_quality" ).text('bonjour');
  console.log('send111');

  $type =$("input#typeMod").val();
  $message=$("textarea#message-text").val();
  //$message2=$("textarea#message2-text").val();
  $title=$("input#title-text").val();
  $idAnnouncement=$("input#idAnnouncementMod").val();
  $idAnswer= $("input#idAnswerMod").val();
  console.log("message"+$message);
  console.log("title: "+$title);
  console.log("announcement: "+$idAnnouncement);
  console.log("idanswer: "+$idAnswer);
  console.log("type: "+$type);
  //console.log("message2: "+$message2);

  $.ajax({
    type: "GET",
    url: "{{ path('app_insert_message_material') }}",
    data: {message : $message, title : $title, idAnnouncement : $idAnnouncement, idAnswer: $idAnswer, type : $type}

  });
  //document.getElementById("#val").innerHTML = 'bonjour';
  //$( "#val" ).text( $val );
  //$( "#form_quality" ).val( '1');

  //$( "#exampleModal" ).change('modal-fade');
  //$('body').attr(".modal-open").hide();
  //$( "#exampleModal" ).hide();

});

</script>

{{parent()}}

{% endblock %}

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}
