{% extends 'AppBundle::page.html.twig' %}

   {% block head %}
   {{parent()}}
   <style>
   
   </style>
   {% endblock %}
	{% block content %}
    
{% block body %}<body>
    

	
	
	
    {{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
    {{ form_errors(form) }}

    <div class="container">
        <div class="block">
            <div class="title">Modification de l'annonce</div>
            <div class="content">
                <div class="sub-block">
                    <div class="sub-title">Sous titre annonce</div>
                    <div class="sub-content">
                        <div class="form-group row">
                            {{ form_label(form.title, "Titre annonce", {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
                            <div class="col-sm-10">
                                {{ form_errors(form.title) }}
                                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ form_label(form.description, "Description"|trans, {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
                            <div class="col-sm-10">
                                {{ form_errors(form.description) }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'row': '6'}}) }}
                            </div>

                        </div>

                       
                    </div>
                    <div class="sub-title">{{ "sub-title.highlighting.2"|trans }}</div>
                    <div class="sub-content">
                        <div class="form-group row">
                            {{ form_label(form.dateAnnouncement, "Date annonce:", {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
                            <div class="col-sm-10 input-group date datetimepicker">
                                {{ form_errors(form.dateAnnouncement) }}
                                {{ form_widget(form.dateAnnouncement, {'attr': {'class': 'form-control datetimepicker', 'id':'dateAnnouncement'}}) }}
                                <div class="input-group-addon" style="padding-left: 25px">
                                    <div class="glyphicon glyphicon-calendar"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ form_label(form.dateAvailable, "Date disponible:"|trans, {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
                            <div class="col-sm-10 input-group date datetimepicker" style="z-index: 1;">
                                {{ form_errors(form.dateAvailable) }}
                                {{ form_widget(form.dateAvailable, {'attr': {'class': 'form-control datetimepicker', 'id':'dateAvailable'}}) }}
                                <div class="input-group-addon" style="padding-left: 25px">
                                    <div class="glyphicon glyphicon-calendar"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ form_label(form.place, "Lieu", {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
                            <div class="col-sm-10">
                                {{ form_errors(form.place) }}
                                {{ form_widget(form.place, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>

                        
						<div style="overflow:hidden;">
                    {{ form_widget(form.save, { 'label': "highlighting.save"|trans, 'attr': { 'class': 'btn btn-primary pull-right'} }) }}
                </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
	
{{parent()}}
</body>
{% endblock %}





{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}                           