/* Code add by Valentin Le Cam */


body,header,nav, h1, h2, h3, h4, h5{
font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.label-danger {
background-color: #EB5E28;

}

.container{
margin-top: 100px;
}

.navbar-custom{
box-shadow: 0 0px 38px -42px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
color:#25a45b;
}

li .badge {
    background: #f44336;
    color: #FFFFFF;
}
.navbar .li{
margin: 15px 3px;
font-size: 14px;
color:#25a45b;
}

.form-control {
background-color: #FFFFFF;
border: 1px solid #DDDDDD;
border-radius: 6px;
color: #444444;
padding: 8px 16px;
height: 45px;
-webkit-appearance: none;
-webkit-box-shadow: none;
box-shadow: none;
}

.grip-link-header{
  padding: 0 3em;
  background: #FFF;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 0px;
}

.grip-card-header a:hover{
  color:#25a45b;
  cursor: pointer;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.grip-card-header i {
  margin-right: 5px;

}



.grip-card{
  flex-flow: row nowrap;
  justify-content: center;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: -4px;
  margin-left: 0;
  margin-right: 0;
  line-height: 42px;
}

.grip-card-header{
  display: inline-block;
}

.hidden {
display:none;
}

.container .img-responsive{
box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.img-responsive{
border-radius: 3px;
}
.img-responsive:hover{
cursor: pointer;
/* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.6);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="datetime"],
input[type="time"],
select,option,
 {
background-color: #FFFFFF;
border: 1px solid #DDDDDD;
color: #444444;
padding: 8px 16px;
height: 40px;
outline: 0;
-webkit-appearance: none;
-moz-appearance: none;
-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.seller-info input {
  border-radius: 2px;
  height: 40px;
  border: 1px solid #DDDDDD;
  outline: 0;
  padding: 8px 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea,
textarea.form-control {
background-color: #FFFFFF;
border: 1px solid #DDDDDD;
color: #444444;
height:120px;
padding: 8px 16px;
outline: 0;
-webkit-appearance: none;
resize: none;
-moz-appearance: none;
-moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input[type="text"]:focus,
input[type="select"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus,
textarea.form-control:focus,
select, option {
outline: none;
background: #fff;
border: 1px solid #ddd;
border-radius:6px;
-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.header-group span {
  -webkit-appearance: none;
  background-color:white;
  border-left:0;
  border-right:0;
  border-top:0;
  border-radius:0;
}


.header-group input,
.header-group input:focus, .header-group input:active,
.header-group input:hover {
  -webkit-appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height:45px;
  border-color: #DDD;
  border-radius:0;
  border-left:0;
  border-right:0;
  border-top:0;
}

.pl-ziro { padding-left: 0px; }
.header-group select,
.header-group select:focus, .header-group select:active,
.header-group select:hover {
  -webkit-appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height:45px;
  border-color: #DDD;
  border-radius:0;
  border-left:0;
  border-right:0;
  border-top:0;
}


.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
border-right: 0 none;
border-radius: 0;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
border-left: 0 none;
border-radius: 0;

}

label { font-weight: 300; }


.btn {
min-width: 105px;
height: 40px;
margin: 0;
padding: 0 20px;
vertical-align: middle;
font-size: 16px;
font-weight: 300;
line-height: 40px;
color: #fff;
box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
text-shadow: none;
-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 1; color: #fff; }
button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
button.btn:focus,
button.btn:active:focus,
button.btn.active:focus { outline: 0; opacity: 1; color: #fff; }

button.btn.btn-next,
button.btn.btn-next:focus,
button.btn.btn-next:active:focus, button.btn.btn-next.active:focus { background: #25a45b; }

button.btn.btn-next-border,
button.btn.btn-next-border:focus,
button.btn.btn-next-border:active:focus, button.btn.btn-next-border.active:focus { border-color: #25a45b; border-width: 1px; background: white; color:#25a45b;}

button.btn.btn-submit,
button.btn.btn-submit:focus,
button.btn.btn-submit:active:focus, button.btn.btn-submit.active:focus { background: #25a45b; }

button.btn.btn-previous,
button.btn.btn-previous:focus,
button.btn.btn-previous:active:focus, button.btn.btn-previous.active:focus { background: #bbb; }

button.btn.btn-fab{
height: 40px;
min-width: 40px;
width: 40px;
border-radius: 50%;
font-size: 24px;
margin: auto;
padding: 0;
overflow: hidden;
position: relative;
line-height: normal;
}

.wizard {
margin: 20px auto;
background: #fff;
}

.wizard .nav-tabs {
position: relative;
margin: 40px auto;
margin-bottom: 0;
border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
position: relative;
}

.connecting-line {
height: 2px;
background: #e0e0e0;
position: absolute;
width: 80%;
margin: 0 auto;
left: 0;
right: 0;
top: 50%;
z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
color: #555555;
cursor: default;
border: 0;
border-bottom-color: transparent;
}

span.round-tab {
width: 70px;
height: 70px;
line-height: 70px;
display: inline-block;
border-radius: 50%;
background: #fff;
border: 2px solid #e0e0e0;
z-index: 2;
position: absolute;
left: 0;
text-align: center;
font-size: 25px;
}
span.round-tab i{
color:#555555;
}
.wizard li.active span.round-tab {
background: #fff;
border: 3px solid #25a45b;

}
.wizard li.active span.round-tab i{
color: #5bc0de;
}

span.round-tab:hover {
color: #333;
border: 2px solid #333;
}

.wizard .nav-tabs > li {
width: 25%;
}

.wizard li:after {
content: " ";
position: absolute;
left: 46%;
opacity: 0;
margin: 0 auto;
bottom: 0px;
border: 5px solid transparent;
border-bottom-color: #5bc0de;
transition: 0.1s ease-in-out;
}

.wizard li.active:after {
content: " ";
position: absolute;
left: 46%;
opacity: 1;
margin: 0 auto;
bottom: 0px;
border: 10px solid transparent;
border-bottom-color: transparent;
}

.wizard .nav-tabs > li a {
width: 70px;
height: 70px;
margin: 20px auto;
border-radius: 100%;
padding: 0;
}

.wizard .nav-tabs > li a:hover {
background: transparent;
}

.wizard .tab-pane {
position: relative;
padding-top: 50px;
}

.wizard h3 {
margin-top: 0;
}

@media( max-width : 585px ) {

.wizard {
width: 90%;
height: auto !important;
}

span.round-tab {
font-size: 16px;
width: 50px;
height: 50px;
line-height: 50px;
}

.wizard .nav-tabs > li a {
width: 50px;
height: 50px;
line-height: 50px;
}

.wizard li.active:after {
content: " ";
position: absolute;
left: 35%;
}
}

/* --- MODAL --*/

.log-frm {
}
.log-frm ul {
margin: 0 !important;
padding: 0 !important;
}
.log-frm ul li {
color: #666;
display: block;
font-size: 14px;
line-height: 25px;
}
.log-frm ul li a {
color: #f47521;
cursor: pointer;
display: block;
padding: 10px 0;
}
.log-frm ul li p {
border: 1px solid #ccc;
color: #666;
font-size: 12px;
line-height: 18px;
margin: 10px 0;
padding: 2px 5px;
}
.log-frm ul li input[type="text"] {
border: 1px solid #ccc;
color: #000;
display: block;
font-size: 13px;
line-height: 19px;
margin-bottom: 10px;
width: 100%;
}
.model-l {
padding-right: 0px;
}
.model-r .o-r {
background: #fff none repeat scroll 0 0;
border: medium none;
border-radius: 100%;
bottom: 0;
height: 40px;
margin: auto;
overflow: hidden;
position: absolute;
left: -19px;
top: 0;
width: 40px;
z-index: 99999;
}
.model-r .o-r span {
background: #fff none repeat scroll 0 0;
border: 2px solid #ccc;
color: #666;
display: block;
height: 100%;
padding: 8px 0 0;
text-align: center;
width: 100%;
border-radius: 100%;
display:block;
position: relative;
}
.model-r {
padding-left: 30px;
position: relative;
border-left: 1px dotted #cccccc;
}
.forgot {
display: none;
}



.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
width: 350px;
border-radius: 6px;
}

.modal-static {
top: 30% !important;
left: 50% !important;
margin-top: -100px;
margin-left: -175px;
overflow: visible !important;
}

.modal-static .modal-dialog,
.modal-static .modal-content {
padding: 0 !important;
margin: 0 !important;
}

.jumbotron-flat {
background-color: #eee;
height: 100%;
border-radius: 6px;
width: 100%;
text-align: center;
overflow: auto;
}

.paymentAmt {
font-size: 80px;
}

.centered {
text-align: center;
}

.title {
padding-top: 15px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
.special-input{
padding-left: 0;
padding-right: 0;
}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { .special-input{
padding-left: 0;
padding-right: 0;
}
}

@media (max-width: @screen-xs-max) {
.special-input{
padding-left: 0;
padding-right: 0;
} }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  .special-input{
padding-left: 0;
padding-right: 0;
} }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {   .special-input{
padding-left: 0;
padding-right: 0;
} }
@media (min-width: @screen-lg-min) { ... }

.full {
  width: 100%;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
  list-style-type: none;
}
.footer p {
  margin: 0;
}

footer a {
  color: white;
}

footer a:hover{
  color:white;
  text-decoration: underline;
}

footer a:active, a:focus{
  color:white
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
  list-style-type: none;
}
.footer a {
  color: #78828D
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}

.social li {
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

.social li a {
  color: #EDEFF1;
}

.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}

.footer-bottom p.pull-left {
  padding-top: 6px;
}

.btn-language{
  border: 1px solid white;
  border-radius: 6px;
  text-align: left;
  color:white;
}



.dropdown ul.dropdown-menu {
  border-color: #ddd;
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin-top:-5px;
  width:225px;
}
.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}
.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;
}

.inline-group{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.inline-group>.inline-item {
  display: table-cell;
  float: none;
  width:auto;
  margin-left:-1px;
}
.inline-group>select.inline-item,.inline-group>.btn.inline-item{
  margin-bottom:2px;
}
.inline-group>.inline-item:first-child:not(:last-child){
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left:0;
}
.inline-group>.inline-item:not(:first-child):not(:last-child){
  border-radius:0;
}
.inline-group>.inline-item:last-child:not(:first-child){
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inline-group>.inline-item:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-heading .card-raised{
  box-shadow: 0 16px 230px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)

}
.card-raised {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 6px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  margin-top: 0;
  margin-bottom: 150px;
}

.form-group{
  position: relative;
}

.card-form-horizontal .form-group {
  padding-bottom: 0px;
  margin:0;
}

.page-header {
  color:white;
}

.title{
  font-weight: 700;
}

h1{
  font-size: 3.8em;
  line-height: 1.15em;
}

h4{
  font-size: 1.3em;
  line-height: 1.55em;
}
.card-form-horizontal .content {
  padding-left: 15px;
  padding-right: 15px;
}

.card-content {
  padding: 15px 30px;
}

@media  (max-width: 991px){
  .card-form-horizontal .form-group {
    padding-bottom: 20px;
  }
}

.content-section {
  padding: 50px 0;
  background-color: #F8F8F8;
}
.banner{
  margin-top: 30px;
  padding: 100px 0;
  color: #F8F8F8;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.well{
  padding: 40px;
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 3px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  border:0;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

.card {
  text-align: left;
}

.card-plain{
  background: transparent;
  box-shadow: none;
}

.card-plain .card-image{
  margin:0;
  border-radius: 6px;
}

.card .card-image{
  position: relative;
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-image-navbar{
  border:2px solid #999999;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-plain .content{
  padding-left: 5px;
}



.text-muted{
  color: #777;
}

.card-description{
  color: #999999;
}

h6{
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 500;
}

h5{
  font-size: 1.25em;
  line-height: 1.55em;
  font-weight: 400;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.card  img {
  width: 100%;
  height: auto;
}

.card-profile .card-avatar {
  max-width: 130px;
  max-height: 130px;
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


.choice{
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.choice input[type="radio"]{
  position: absolute;
  left:-10000px;
  z-index:1px;
}

.choice .icon{
  text-align: center;
  vertical-align: middle;
  height: 116px;
  width: 116px;
  border-radius: 50%;
  color: #999;
  margin: 0 auto 20px;
  border: 4Px solid #999;
}

.choice.active .icon{
  border-color: #25a45b;
  color: #25a45b;
}

.choice .icon i{
  font-size: 40px;
  line-height: 111px;
}





.media-object {
  height: 150px;
  width: 150px;
}

.media-object-normal{
  height: auto;
  width: 100%;
}

.media-object-big{
  height: auto;
  max-height: 500px;
  width: 100%;
}

.media-index{
  height: 320px;
  width: 100%;
}

.img-circle{
  border-radius: 50%;
  border:2px solid #ddd
}

.img-profile{
  height: 35px;
  width: 35px;
}

.img-profile-announcement{
  height: 100px;
  width: 100px;
}


.navbar-custom-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  color:#25a45b;
}
.navbar-custom-index .navbar-brand {
  font-weight: 800;
}
.navbar-custom-index .navbar-header .navbar-toggle {
  font-weight: 500;
  font-size: 30px;
}
.navbar-custom-index .nav li a {
  font-size: 14px;
  color: #25a45b;
  font-weight: 800;
}
.navbar-custom-index .nav li a:hover,
.navbar-custom-index .nav li a:focus {
  color: #25a45b;
}


@media only screen and (min-width: 768px) {
  .navbar-custom-index {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom-index .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom-index .navbar-brand:hover,
  .navbar-custom-index .navbar-brand:focus {
    color: white;
  }
  .navbar-custom-index .nav li a {
    color: white;
    padding:20px;

  }
  .navbar-custom-index .nav li a:hover,
  .navbar-custom-index .nav li a:focus {
    color: white;
    padding:20px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom-index {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom-index.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: transparent;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom-index.is-fixed .navbar-brand {
    color: #25a45b;
  }
  .navbar-custom-index.is-fixed .navbar-brand:hover,
  .navbar-custom-index.is-fixed .navbar-brand:focus {
    color: #25a45b;
  }
  .navbar-custom-index.is-fixed .nav li a {
    color: #25a45b;
  }
  .navbar-custom-index.is-fixed .nav li a:hover,
  .navbar-custom-index.is-fixed .nav li a:focus {
    color: #25a45b;
  }
  .navbar-custom-index.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}




.wrap {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none;
}


.search-row-wrapper{
  margin-top: 30px;
  background-position: center center;
  background-size: cover;
  height: auto;
  padding: 100px 0;
  width: 100%;
}

.category-list{
  background: none repeat scroll 0 0 #fff;
  border-radius: 3px 3px;
  display: block;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.tab-box{
  position: relative;
}

.box-title{
  border-bottom: 1px solid #ddd;
}

.box-title h2{
  margin: 15px 0;
    padding: 0;
    font-size: 18px;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
}

.box-title h2 span{
  font-weight: lighter;
}
.no-border{
  border: none;
}

.nav-tabs.add-tabs>li:first-child>a{
  border-left: 1px solid transparent;
}

.nav-tabs.add-tabs>li.active>a {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #e6e6e6;
}
.nav-tabs.add-tabs>li>a, .nav-tabs.add-tabs>li.active>a, .nav-tabs.add-tabs>li.active>a:hover, .nav-tabs.add-tabs>li.active>a:focus {
    border-radius: 0;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 0;
}


.tab-filter{
  position: absolute;
  right: 0;
  top:0;
}

.tab-filter .select-short-by {
  margin-right: 15px;
  margin-top: 10px;
  min-width: 150px;!important
}

.select-short-by .selecter-selected{
  font-size: 12px;
  padding: 4.5px 15px;
}

.item-list{
  border-bottom: 1px solid #ddd;
clear: both;
padding: 15px;
height: auto;
width: 100%;
display: block;
position: relative;
overflow: hidden;
transition: background 0.25s ease-in;
-webkit-transition: background 0.25s ease-in;
}

.no-padding{
  padding: 0;
}

.no-margin{
  margin: 0!important;
}

.add-image{
  position: relative;
}

.add-image a{
  display: block;
}

.add-image a img{
  border-radius: 3px;
    padding: 0;
    width: 100%;
}

.sport-title{
  margin-bottom: 0;
  padding-bottom: 0;
  color:#999;
  font-size: 12px;
}

.sport-title a {
  color:#999;
}

.announcement-type{
  margin-bottom: 0;
padding-bottom: 0;
color: #999999;
font-size: 12px;
}

.announcement-type a{
color: #999999;
}

.announcement-title{
  margin-bottom: 5px;
  padding-bottom: 0;
}

.announcement-title h4{
  font-size: 17px;
  padding-bottom: 20Px;
}

.announcement-title a{
  font-weight: bold;
  color:#4E575d;
  outline: none;
}

.info-row{
  display: block;
  clear:both;
  font-size: 12px;
  color:#9A9A9A;
}

.announcement-desc{
  color:#4E575d;
}

.announcement-actions{
  clear:both;
  display: block;
  margin-top: 5px;
}

.list-title{
  border-bottom: 1px solid #ddd;
display: block;
margin-bottom: 15px;
padding: 10px 0;
position: relative;
text-transform: uppercase;
font-size: 18px;
}

.list-title:before{
  border-color: #ddd transparent transparent;
border-style: solid;
border-width: 7px;
bottom: -14px;
box-sizing: border-box;
content: " ";
display: block;
left: 34px;
position: absolute;
z-index: 2;
}

.inner-box{
  padding:15px;
}

.inner-box h2{
  font-size: 24px;
  line-height: 28px;
}

.inner-box hr {
  margin-top:0.5em;
  margin-bottom: 0.5em;
}

.list-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-content label {
  padding-left: 5px;
}

.list-filter .count{
  color: #9A9A9A;
  font-size: 90%;
}

.price-box{
  padding: 0;
}

.price-box h2{
  font-size: 24px;
  line-height: 28px;
}

.announcement-image .an-wrapper{
  margin-bottom: 20px;
}

.an-wrapper{
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
}

.announcement-image ol{
  text-align: center;
}

.an-wrapper img{
  border-radius: 3px;
}

.thumb-item-link img:hover{
  cursor: pointer;
}


.thumb-item-link{
border-radius: 3px;
display: inline-block;
float: none;
height: 70px;
margin: 0 2px;
outline: medium none;
overflow: hidden;
position: relative;
width: 100px;
}

.panel-details{
  border:1px solid #ddd;
  background: #F8F8F8;
  position: relative;
  padding: 15px;
}

.panel-details ul{
  text-align: center;
  padding: 0;
  margin: 0;
}

.list-border>li:first-child{
  border: none;
}

.list-border>li{
  border-top: 1px solid #ebebeb;
  line-height: 36px;
  position: relative;
}

.photo-count{
  background: #ccc;
border: 0 none;
border-radius: 2px;
font-size: 12px;
opacity: 0.75;
padding: 0 3px;
position: absolute;
right: 4px;
top: 5px;
}

.prop-info{
  padding:15px 0 0;
}

.prop-info-block{
  border-right: 1px solid #ccc;
    color: #666;
    display: table-cell;
    margin: 0;
    min-height: 20px;
    padding: 0 10px 5px;
    float: left;
    text-align: center;
    width: 30%;
}

.btn-border-thin {
  margin-bottom: 5px;
padding: 3px 4px;
border: 1px solid #ddd;
}

.property-list .item-price{
  padding-bottom: 7px;
}
.property-list .item-price h3{
font-size: 20px;
line-height: 24px;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.sidebar-panel .panel-heading{
  background: #f8f8f8;
position: relative;
border-bottom: 1px solid #ddd;
font-size: 16px;
line-height: 22px;
}

.panel-contact-seller .panel-body {
    padding: 10px;
}

.seller-info {
    padding: 5px;
}

.user-info h3 {
    padding-bottom: 5px;
}

.user-info p {
    margin-bottom: 0;
}

.user-ads-action {
    margin-top: 15px;
}

.well .panel{
  box-shadow: none;
  -webkit-box-shadow: none;
}


.seller-profile-img{
  margin-right: 15px;
  float:left;
}

.share-this-post{
  display: block;
  margin: 10px 30px;
  padding: 10px 0;
}

.userImg{
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: inline-block;
  width:120px;
}

.header-data {
  margin-top: 10px;
  text-align: right;
}

.hdata {
  display: inline-block;
  margin-right: 15px;
  width: 85px;
}

.mcol-right{
  float: right;
  width: 48%;
}


.mcol-left {
  float:left;
  width: 48%;
}


.hdata i {
    border-radius: 50px;
    box-shadow: 0 0 1px #777 inset;
    color: #fff;
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    background: #25a45b;
}

.well .inner-box h3{
  margin: 0;
    font-size: 20px;
    line-height: 24px;

}


.hdata a{
  color: #666;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin-top: 3px;
    text-align: left;
}

.header-data p {
  margin: 0 0 10px;
}
.hdata em {
  display: block;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-align: left;
}

.welcome-msg {
  margin-bottom: 30px;
}

.welcome-msg h3 {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.collapse-box{
  margin-bottom: 15px;
}

.collapse-title {
  border-top: 1px solid #e6e6e6;
    color: #2a3744;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 15px;
    text-transform: uppercase;
}

.user-panel-sidebar ul {
padding: 0;
}
.user-panel-sidebar ul li a.active{
  background-color: #25a45b;
    color: #FFFFFF;
}

.user-panel-sidebar ul li a{
  background: none repeat scroll 0 0 #ffffff;
display: block;
color:#999;
font-size: 12px;
height: auto;
letter-spacing: 0.5px;
line-height: 26px;
padding: 5px 10px;
margin-bottom: 1px;
text-align: left;
text-decoration: none;
text-transform: uppercase;
}

div .login-box {
  float:none;
  margin: 0!important;
  clear: both;
}

.message-wrapper{
  display: table;
  margin: 0;
  width: 100%;
}


.message-avatar{
  display: table-cell;
  text-align: inherit;
  vertical-align: top;
  width: 90px;
}

.message-details{
  display: table-cell;
  padding: 0;
  position: relative;
  vertical-align: top;
}

.message-user-name{
  color:#4A4A;
  font-weight: 600;
  margin: 0 0 10px;
}

.message-date{
  color:#aaaaaa;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 0 8px;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    padding-bottom: 10px;
}

.panel-footer{
  background: none;
  padding: 15px 0;
}
.no-border{
  border:0;
}

.panel-footer .form-control input textarea{
  width: 100%;
}





.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}

.price-box .favorite i {
  font-size: 25px;
  color:red;
  transition-property: all;
  transition-duration: 3s;
}

.price-box .favorite i:hover  {
  cursor: pointer;

}


 @media screen and (max-width: 767px) {.page-sidebar.mobile-filter-sidebar{
    height: 100%;
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 1110;
    left: -251px;
 }
 }


@media screen and (min-width: 768px) {.mobile-filter-sidebar {
    left: 0!important;
}
}

@media (max-width: 979px){.page-sidebar {
    padding: 0 5px;
}}

.col-thin-left{
  padding-left: 10px;
}
