
{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}


<script>
$( document ).ready(function() {
  //Initialize calendar datetimepicker
  $('#datepicker').datepicker({
    //Set the calendar in french
    locale: 'fr',
    format: 'YYYY-MM-DD'
  });
  


$(function () {
  $('#dateBegin').datetimepicker({
    locale: 'fr',
    format: 'YYYY-MM-DD'});
  });
  $('#sandbox-container input').datepicker({
    format: "mm-dd-yyyy"
  });
  $(function () {
    $('#dateEnd').datetimepicker({
      locale: 'fr',
      format: 'YYYY-MM-DD'});
    });
    </script>

    {% endblock %}
    {% block content %}

    {% block body %}


    

            <div class="container" style="margin-top:50px;">
              <div class="row">
				 <div class="col-sm-3 page-sidebar mobile-filter-sidebar"  >
					<aside>
						<div class="well inner-box">
                
						{{ include('@FOSUser/Security/login_content.html.twig') }}
						</div>
					</aside>
					</div>
				</div>
			  </div>
                  <!-- /.container -->

              
                

                </script>

                {{parent()}}

                {% endblock %}

                {% endblock %}

                {% block footer %}
                {{parent()}}
                {% endblock %}
