{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}

{% endblock %}
{% block content %}

{% block body %}
<div class="container">
	<div class"row">
	{{  form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
		{{ form_errors(form) }}
		<div class="content">
			<div class="sub-block">
				<div class="sub-title"><h4>Sélectionnés des sports<h4></div>
				<div class="form-group row">
					{{ form_label(form.sport1, "Sport1:", {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
					<div class="col-sm-10">
						{{ form_errors(form.sport1) }}
						{{ form_widget(form.sport1, {'attr': {'class': 'form-control','id':'field1', 'placeholder':'proximity'}}) }}
					</div>
				</div>
				<div class="form-group row">
					{{ form_label(form.sport2, "Sport2", {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
					<div class="col-sm-10">
						{{ form_errors(form.sport2) }}
						{{ form_widget(form.sport2, {'attr': {'class': 'form-control', 'placeholder':'accuracy'}}) }}
					</div>
				</div>
				<div class="form-group row">
					{{ form_label(form.sport3, "Sport3:", {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
					<div class="col-sm-10">
						{{ form_errors(form.sport3) }}
						{{ form_widget(form.sport3, {'attr': {'class': 'form-control','id':'field1','placeholder':'proximity'}}) }}
					</div>
				</div>
				<div class="form-group row">
					{{ form_label(form.sport4, "Sport4:", {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
					<div class="col-sm-10">
						{{ form_errors(form.sport4) }}
						{{ form_widget(form.sport4, {'attr': {'class': 'form-control','id':'field1','placeholder':'proximity'}}) }}
					</div>
				</div>
				
				<div style="overflow:hidden;">
					<div style="overflow:hidden;">
						{{ form_widget(form.save, { 'label': "Valider le formulaire", 'attr': { 'class': 'btn btn-primary pull-right'} }) }}

					</div>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</div>
	
	<h4>Vos sports sélectionnés:</h4>
	{% for sportDisplay in sportDisplay %}
		{% if sportDisplay.sport.getTitle is defined %}
			-{{sportDisplay.sport.getTitle}}
		{% endif %}
		
	{% endfor %}
	</div>
</div>

{{parent()}}

{% endblock %}

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}
