{% extends 'AppBundle::page.html.twig' %}

{% block header %}

{% endblock %}
{% block head %}
{{parent()}}


<script>
$( document ).ready(function() {
  //Initialize calendar datetimepicker
  $('#datepicker').datepicker({
    //Set the calendar in french
    locale: 'fr',
    format: 'YYYY-MM-DD'
  });
  
  
});

$(function () {
  $('#dateBegin').datetimepicker({
    locale: 'fr',
    format: 'YYYY-MM-DD'});
  });
  $('#sandbox-container input').datepicker({
    format: "mm-dd-yyyy"
  });
  $(function () {
    $('#dateEnd').datetimepicker({
      locale: 'fr',
      format: 'YYYY-MM-DD'});
    });
    </script>
    
    {% endblock %}
    {% block content %}
    
    {% block body %}
    
    
    
    <div class="container" style="margin-top:50px;">
        <div class="row">
		
        <div id="formulaire_partenaire" class="formulaire_partenaire">
          
        {{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
        {{ form_errors(form) }}
          
        <div class="row">
            <div class="col-md-3" >
              <div class="form-group">
                <div class="input-group header-group">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>
                  
                  {{ form_errors(form.place) }}
                  {{ form_widget(form.place, {'id': 'autocomplete', 'attr': {'class': 'form-control', 'placeholder': 'Ville', 'onfocus': 'geocode()'}}) }}
                  
                </div>
              </div>
            </div>
            <table id="address" style="display:none;">
              <tr>
                <td class="label">City</td>
                <td class="wideField" colspan="3"><input class="field" id="locality"
                  disabled="true"></input></td>
                </tr>
                <tr>
                  <td class="label">State</td>
                  <td class="slimField"><input class="field"
                    id="administrative_area_level_1" disabled="true"></input></td>
                    <td class="label">Zip code</td>
                    <td class="wideField"><input class="field" id="postal_code"
                      disabled="true"></input></td>
                    </tr>
                    <tr>
                      <td class="label">Country</td>
                      <td class="wideField" colspan="3"><input class="field"
                        id="country" disabled="true"></input></td>
                      </tr>
                    </table>
         
                    
                    <div class="col-md-3">
                      <div class="form-group" >
                        <div class=" input-group header-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                          {{ form_errors(form.sport) }}
                          {{ form_widget(form.sport, {'attr': {'class': 'form-control' }}) }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-2" >
                      
                      {{ form_widget(form.save, { 'label': " Rechercher "|trans, 'attr': { 'class': 'btn btn-next btn-block'} }) }}
                      {{ form_end(form) }}
                    </div> 
                </div>
            </div>
                
                <!-- Anouncement material -->
                
            <div class="col-sm-9 page-content col-thin-left">
                <div class="category-list">
                    <div class="tab-box ">
                    {% for sportUser in pagination %}
                    <div class="item-list announcement-item">
                        <div class="col-sm-3 no-padding photobox">
                            <div class="add-image">
								<span class="photo-count">
									<i class="glyphicon glyphicon-camera">  </i>
									2
								</span>
								<a href="{{ path('app_display_profile_announcer',{'id':sportUser.user.id }) }}">
									<img class="no-margin media-object img-responsive"  alt="announcement partner">
								</a>
                            </div>
                        </div>
                        <div class="col-sm-6  add-desc-box">
                            <div class="add-details jobs-item">
								<h5 class="announcement-type">
								Partenaire
								</h5>
								<h4 class="announcement-title"><a href="#"> </a></h4>
								<span class="info-row">
								  <span class="item-location"><i class="glyphicon glyphicon-map-marker"></i> {{sportUser.place}} </span>
								  <span class="date"><i class="glyphicon glyphicon-calendar"> </i> {{ sportUser.user.age |localizeddate('long', 'none', 'fr')}}</span>
								</span>
								<div class="announcement-desc">
								  {{ sportUser.user.username }}
								  {{ sportUser.sport.title}}
								</div>
                            </div>
                        </div>
					</div>
					{% endfor %} 
                    </div>
                </div>
                  <!-- Announcement partner -->
			</div>
		</div>
	</div>
            <!-- /.container -->
            
            <script>
            var placeSearch, autocomplete;
            var componentForm = {
              locality: 'long_name',
              administrative_area_level_1: 'short_name',
              country: 'long_name',
              postal_code: 'short_name'
            };
            
            
            
            function initAutocomplete() {
              // Create the autocomplete object, restricting the search to geographical
              // location types.
              autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                {types: ['geocode']});
                
                // When the user selects an address from the dropdown, populate the address
                // fields in the form.
                autocomplete.addListener('place_changed', fillInAddress);
              }
              
              // [START region_fillform]
              function fillInAddress() {
                // Get the place details from the autocomplete object.
                var place = autocomplete.getPlace();
                
                for (var component in componentForm) {
                  document.getElementById(component).value = '';
                  document.getElementById(component).disabled = false;
                }
                
                // Get each component of the address from the place details
                // and fill the corresponding field on the form.
                for (var i = 0; i < place.address_components.length; i++) {
                  var addressType = place.address_components[i].types[0];
                  if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                  }
                }
              }
              // [END region_fillform]
              
              
              </script>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC17VNgOXiwIuU4beERtNwXOa7CYm7ODec&signed_in=true&libraries=places&callback=initAutocomplete"
              async defer></script>
              <script>
              
              $(".heart.fa").click(function() {
                $(this).toggleClass("fa-heart fa-heart-o");
                var theString = ""+$(this).attr('id'),
                bits = theString.split(',').slice(0, -1); // split the string and remove the last one
                console.log("string button btn next"+theString);
                
                $type = bits[0];
                $id = bits[1];
                $user = bits[2];
                $.ajax({
                  data: { id : $id, type : $type, user : $user },
                  type: 'GET',
                  url: "{{ path('app_update_favorite') }}"
                });
              });
              
              $('#exampleModal').on('show.bs.modal', function (event) {
                console.log("modal");
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('Nouveau message:' + recipient)
                
              })
              
              
              $("button.btn.btn-primary").click(function(){
                console.log('button btn primary');
                var data1 = ""+$(this).attr('id');
                console.log("button btn primary: "+data1);
                if(data1 != "send"){//mettre un if pour que le clique sur le bouton envoyer ne lance cette fonction
                  //dans ce cas les valeurs dans les champs ne sont pas supprimés
                  var theString = $(this).attr('id'),
                  bits = theString.split(',').slice(0, -1); // split the string and remove the last one
                  $("input#typeMod").val(bits[0]);
                  $("input#idAnnouncementMod").val(bits[1]);
                  $("input#idAnswerMod").val(bits[2]);
                }
                //var data = data1,item = data1.split(', ').slice(0, -1);
                //console.log(item.length);
                
                
                
                //$('#input#idAnswerMod').attr('id','bits[2]');
                //document.getElementById("input#idAnnouncementMod").innerHTML = bits[1];
              });
              
              
              $("a.btn.btn-success.btn-circle").click(function(){
                console.log('a btn primary1');
                //var data1 = ""+$(this).attr('id');
                //console.log(data1);
                //var data = data1,item = data1.split(', ').slice(0, -1);
                //console.log(item.length);
                
                var color1 = $(this).css('background-color');
                console.log('color1='+color1);
                /*if (color1 == 'rgb(58, 133, 58)'){
                // si c'est rouge
                console.log('passe à rouge');
                $( this ).css( "color","red" );
                color1 = "rgb(58, 134, 58)";
                
              }else if(color1 =='rgb(58, 134, 58)' ){
              
              console.log('passe à blanc');
              $( this ).css( "color","white" );
              color1 = "rgb(58, 133, 58)";
            }*/
            
            
            
            var theString = ""+$(this).attr('id'),
            bits = theString.split(',').slice(0, -1); // split the string and remove the last one
            console.log("string button btn next"+theString);
            /*console.log('autre'+bits[0]);
            console.log('id'+bits[1]);
            console.log('type'+bits[2]);*/
            /*$("input#idAnnouncementMod").val(bits[0]);
            $("input#idAskerMod").val(bits[1]);*/
            $type = bits[0];
            $id = bits[1];
            $user = bits[2];
            $.ajax({
              data: { id : $id, type : $type, user : $user },
              type: 'GET',
              url: "{{ path('app_update_favorite') }}"
            });
            
            //document.getElementById("input#idAnnouncementMod").innerHTML = bits[1];
          });
          
          
          
          
          $("button#contacter").click(function(){
            //FONCTIONNE PAS
            //$val ='1';
            //document.getElementById("form_quality").innerHTML = $val;
            //$( "form_quality" ).text('bonjour');
            var id = $(this).attr('id');
            console.log('contacter');
            $idAnswer=$("input#idAnswer").val();
            console.log($idAnswer);
            $idAnnouncement=$("input#idAnnouncementMod").val();
            console.log($idAnnouncement);
            document.getElementById("input#message-text-idAnswer").innerHTML = $idAnswer;
            //$( "#val" ).text( $val );
            //$( "#form_quality" ).val( '1');
            
            
          });
          
          $("button#send").click(function(){
            //$val ='1';
            //document.getElementById("form_quality").innerHTML = $val;
            //$( "form_quality" ).text('bonjour');
            console.log('send111');
            
            $type =$("input#typeMod").val();
            $message=$("textarea#message-text").val();
            //$message2=$("textarea#message2-text").val();
            $title=$("input#title-text").val();
            $idAnnouncement=$("input#idAnnouncementMod").val();
            $idAnswer= $("input#idAnswerMod").val();
            console.log("message"+$message);
            console.log("title: "+$title);
            console.log("announcement: "+$idAnnouncement);
            console.log("idanswer: "+$idAnswer);
            console.log("type: "+$type);
            //console.log("message2: "+$message2);
            
            $.ajax({
              type: "GET",
              url: "{{ path('app_insert_message_material') }}",
              data: {message : $message, title : $title, idAnnouncement : $idAnnouncement, idAnswer: $idAnswer, type : $type}
              
            });
            //document.getElementById("#val").innerHTML = 'bonjour';
            //$( "#val" ).text( $val );
            //$( "#form_quality" ).val( '1');
            
            //$( "#exampleModal" ).change('modal-fade');
            //$('body').attr(".modal-open").hide();
            //$( "#exampleModal" ).hide();
            
          });
          
          </script>
          {{parent()}}
          {% endblock %}
          
          
          
          
          
          {% endblock %}
          
          {% block footer %}
          {{parent()}}
          {% endblock %}
