{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}

<script>
$(document).delegate("div", "click", function() {
  // window.location = $(this).find("a").attr("href");
});



/*$(document).on('click','button#favoris',function(e) {
//var data = $("#form-search").serialize();
console.log('favoris');
$data=$("input#favorite-input").val();
//$id= $data.split(" ", 1);
//$type= $data.split(" ", 2);
//console.log('favoris'+$id);
//console.log('favoris'+$type); url: "{{ path('app_update_favorite') }}",
$id="31";
$type="material";
$.ajax({
data: { id : $id, type : $type },
type: 'GET',
url: "{{ path('app_update_favorite') }}"
});
});*/
</script>
<style>


.container{
  margin-top:100px;
}
.field{
  margin-top:5px;

}

.hidden {
  display:none;
}

ul.nav.nav-justified{
  background-color:#25a45b;

}

/*.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
background-color:white;
color:#25a45b;

}*/

/*li{
color:#25a45b;
background-color:white;
}*/
li.active{
  color:white;
  background-color:#25a45b;
}

.media-object{

  height:150px;
  width:150px;
}



</style>

{% endblock %}
{% block content %}

{% block body %}

<!-- Page Content -->

<div class="container">
<!-- on vérifie si l'annonce a déjà été réservée si oui on affiche un message sinon on met le formulaire-->
	
	<div class="form-row">
		<ul class="list-inline pull-right">
		{{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
								
			{{ form_widget(form.save, { 'label': "Valider la participation", 'attr': { 'class': 'btn btn-submit '} }) }}
			{{ form_end(form) }}
		</ul>
	</div>

	
 </div>
         



{{parent()}}

{% endblock %}

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}
