
<link rel="icon" type="image/x-icon" href="{{asset('favicon.ico') }}" />

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('apple-icon-57x57-precomposed.png') }}" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('apple-icon-72x72-precomposed.png') }}" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('apple-icon-114x114-precomposed.png') }}" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-icon-144x144-precomposed.png') }}" />


<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.js"></script>

<!-- CSS Files -->
<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
<link href="{{ asset('css/custom.css') }}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ asset('css/bootstrap-social.css') }}" rel="stylesheet">
<link href="{{ asset('css/clean-blog.css') }}" rel="stylesheet">
<link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">


{% include "ComurImageBundle:Form:croppable_image_modal.html.twig"%}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


{{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
				{{ form_errors(form) }}


						<div class="form-group row">
							{{ form_label(form.imageFirst, 'Image *', {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
							<div class="col-sm-10 media-object">
								{{ form_errors(form.imageFirst) }}
								{{ form_widget(form.imageFirst, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						

						
						<div class="form-row">
							<ul class="list-inline pull-right">
								<a href="{{path('app_index') }}" class="btn btn-danger">Annuler</a>

								{{ form_widget(form.save, { 'label': "Enregistrer l'image", 'attr': { 'class': 'btn btn-submit '} }) }}
								{{ form_end(form) }}
							</ul>
						</div>
						


