{% extends 'AppBundle::page-announcement.html.twig' %}

{% block title %}
{{parent()}}

{% endblock %}

{% block head %}
{{parent()}}
{% endblock %}

{% block header %}
{% include "ComurImageBundle:Form:croppable_image_modal.html.twig"%}

{{parent()}}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>


{% endblock %}

{% block body %}
{{parent()}}

  <div class="container">
  <div class="row">

    <div class="col-md-9 page-content">
      <div class="well inner-box">
        <div class="inner-box category-content">
          <h4 class="list-title"><strong>Modifier son annonce</strong></h4>
		  <h1>{{ 'navbar.home'|trans }}</h1>
          <div class="col-sm-12 form-horizontal">

            {{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
            {{ form_errors(form) }}

            <div class="form-group">
              {{ form_label(form.description, "Description"|trans, {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
              <div class="col-md-8">
                {{ form_errors(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'row': '6'}}) }}
              </div>
            </div>

            <div class="form-group">
              {{ form_label(form.place, "Ville", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
              <div class="col-md-8">
                {{ form_errors(form.place) }}
                {{ form_widget(form.place, {'id': 'autocomplete', 'attr': {'class': 'form-control', 'placeholder':'Paris, Londres', 'onfocus': 'geocode()'}}) }}
              </div>

              <div style="display:none;">
                {{ form_label(form.region, "Region", {'label_attr': {'class': ''}} ) }}
                {{ form_errors(form.region) }}
                {{ form_widget(form.region, {'id': 'administrative_area_level_1', 'attr': {'class': ' form-control '}}) }}

                {{ form_label(form.state, "Pays", {'label_attr': {'class': ''}} ) }}
                {{ form_errors(form.state) }}
                {{ form_widget(form.state, {'id': 'country', 'attr': {'class': 'form-control '}}) }}

                {{ form_label(form.postcode, "Code postal", {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
                {{ form_errors(form.postcode) }}
                {{ form_widget(form.postcode, {'attr': {'class': 'form-control'}}) }}
                <input  id="locality"></input>
                <input id="postal_code"></input>
                <input  id="country" ></input>
              </div>

            </div>


            <div class="form-group">
              {{ form_label(form.goods, "Matériel", {'label_attr': {'class': ''}} ) }}

              <div class="col-md-8">
                {{ form_errors(form.goods) }}
                {{ form_widget(form.goods, {'attr': {'class': 'form-control'}}) }}
              </div>

            </div>


            <div class="form-group">
              {{ form_label(form.cleanliness, "Rendre le matériel propre", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}

              <div class="col-md-8">
                <input id="check1" type="checkbox" checked="checked">
                {{ form_errors(form.cleanliness) }}
                {{ form_widget(form.cleanliness, {'attr': {'class': 'form-control','value':'1'}}) }}
              </div>

            </div>



            <div class="form-group">
              {{ form_label(form.price, "Prix de la journée", {'label_attr': {'class': ''}} ) }}

              <div class="col-md-8">
                {{ form_errors(form.price) }}
                {{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder':'€/J'}}) }}
              </div>

            </div>

            <div class="form-group">
              {{ form_label(form.quality, " ", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}

              {{ form_errors(form.quality) }}
              {{ form_widget(form.quality, {'attr': {'class': 'form-control', 'id':'quality', 'value':'1'}}) }}

              <div class="col-md-8">
                <div class="btn-java" data-toggle="buttons">
                  <button class="btn btn-next active">
                    <input type="radio" class="star" name="options" id="option1" autocomplete="off" checked><i class="glyphicon glyphicon-star"></i>
                  </button>
                  <button class="btn btn-next ">
                    <input type="radio" class="star" name="options" id="option2" autocomplete="off"> <i class="glyphicon glyphicon-star"></i>
                  </button>
                  <button class="btn btn-next">
                    <input type="radio" class="star" name="options" id="option3" autocomplete="off"><i class="glyphicon glyphicon-star"></i>
                  </button>
                  <button class="btn btn-next">
                    <input type="radio" class="star" name="options" id="option4" autocomplete="off"><i class="glyphicon glyphicon-star"></i>
                  </button>
                  <button class="btn btn-next">
                    <input type="radio" class="star" name="options" id="option5" autocomplete="off"><i class="glyphicon glyphicon-star"></i>
                  </button>
                </div>
              </div>
            </div>


            <div class="form-group">
              {{ form_label(form.sport, "Sport", {'label_attr': {'class': ''}} ) }}

              <div class="col-md-8">
                {{ form_errors(form.sport) }}
                {{ form_widget(form.sport, {'attr': {'class': 'form-control', 'placeholder':'Football, Ski, Vélo'}}) }}
              </div>

            </div>


            <div class="form-group">

              <div class="col-md-8 media-object">
                {{ form_errors(form.imageFirst) }}
                {{ form_widget(form.imageFirst, {'attr': {'class': 'form-control btn btn-next'}}) }}
              </div>

            </div>

            <h4 class="list-title"><strong>Dates</strong></h4>
            <div class="form-group">

              {{ form_label(form.dateBegin, "Date de début", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
              <div class="input-group date datetimepicker col-md-8" id="dateBegin">
                <div class="input-group-addon" style="background-color:white; outline: 0; -webkit-box-shadow: none; box-shadow: none;" >
                  <div class="glyphicon glyphicon-calendar"></div>
                </div>
                {{ form_errors(form.dateBegin) }}
                {{ form_widget(form.dateBegin, {'attr': {'class': 'form-control datetimepicker'}}) }}
              </div>
            </div>

            <div class="form-group ">
              {{ form_label(form.dateEnd, "Date de fin", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
              <div class="input-group date datetimepicker col-md-8" id="dateEnd">
                <div class="input-group-addon" style="background-color:white; outline: 0; -webkit-box-shadow: none; box-shadow: none;" >
                  <div class="glyphicon glyphicon-calendar"></div>
                </div>
                {{ form_errors(form.dateEnd) }}
                {{ form_widget(form.dateEnd, {'attr': {'class': 'form-control datetimepicker'}}) }}

              </div>
            </div>


            <div class="form-group">

              <div class="col-md-8">
              </div>

            </div>

            <div class="col-sm-3">
              <p>
                <a class="btn btn-warning btn-block" href="{{path('add_material_image',{'announcement':'78'}) }}"><i class="glyphicon glyphicon-edit"></i> Editer</a>
              </p>
            </div>
            {{ form_widget(form.save, { 'label': "Modifier l\'annonce", 'attr': { 'class': 'btn btn-primary pull-right'} }) }}
            {{ form_end(form) }}


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script>
  // This example displays an address form, using the autocomplete feature
  // of the Google Places API to help users fill in the information.

  var placeSearch, autocomplete;
  var componentForm = {
    locality: 'long_name',
    administrative_area_level_1: 'short_name',
    country: 'long_name',
    postal_code: 'short_name'
  };



  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});

      // When the user selects an address from the dropdown, populate the address
      // fields in the form.
      autocomplete.addListener('place_changed', fillInAddress);
    }

    // [START region_fillform]
    function fillInAddress() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();

      for (var component in componentForm) {
        document.getElementById(component).value = '';
        document.getElementById(component).disabled = false;
      }

      // Get each component of the address from the place details
      // and fill the corresponding field on the form.
      for (var i = 0; i < place.address_components.length; i++) {
        var addressType = place.address_components[i].types[0];
        if (componentForm[addressType]) {
          var val = place.address_components[i][componentForm[addressType]];
          document.getElementById(addressType).value = val;
        }
      }
    }
    // [END region_fillform]


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC17VNgOXiwIuU4beERtNwXOa7CYm7ODec&signed_in=true&libraries=places&callback=initAutocomplete"
    async defer></script>
    <script>

    $( 'input[type="checkbox"]' ).change(function() {
      console.log('input checkbox');
      var $input = $( this );
      $( "#form_cleanliness" ).val($input.prop( "checked" ));
      if($input.prop( "checked" )== false){
        $( "#form_cleanliness" ).val( '0');
      }else{
        $( "#form_cleanliness" ).val( '1');
      }
    }).change();

    /*$( "input" ).change(function() {
    var $input = $( this );
    $( "p" ).html(
    ".attr( \"checked\" ): <b>" + $input.attr( "checked" ) + "</b><br>" +
    ".prop( \"checked\" ): <b>" + $input.prop( "checked" ) + "</b><br>" +
    ".is( \":checked\" ): <b>" + $input.is( ":checked" ) + "</b>" );
  }).change();*/

  /*$( 'input' ).change(function() {
  console.log('input');
  var $input = $( this );
  $( "#form_cleanliness" ).val($input.prop( "checked" ));

}).change();
/*
$( 'input#form_cleanliness.form-control' ).change(function() {
console.log('inputform_cleanliness');
var $input = $( this );
$( "#form_cleanliness" ).val($input.attr( "checked" ));
}).change();
*/
$(".btn-java > .btn:first-child:not(:last-child):not(.dropdown-toggle)").click(function(){
  $val ='1';
  //document.getElementById("form_quality").innerHTML = $val;
  $( "form_quality" ).text('bonjour');
  console.log('Qualite1');
  //document.getElementById("#val").innerHTML = 'bonjour';
  $( "#val" ).text( $val );
  $( "#form_quality" ).val( '1');


});
$(".btn-java > .btn:nth-child(2):not(:last-child):not(.dropdown-toggle)").click(function(){
  $( "#form_quality" ).val( '2');
  console.log('Qualite2');
});

$(".btn-java > .btn:nth-child(3):not(:last-child):not(.dropdown-toggle)").click(function(){
  $( "#form_quality" ).val( '3');
  console.log('Qualite3');
});

$(".btn-java > .btn:nth-child(4):not(:last-child):not(.dropdown-toggle)").click(function(){
  $( "#form_quality" ).val( '4');
  console.log('Qualite4');
});

$(".btn-java > .btn:nth-child(5):not(:last-child):not(.dropdown-toggle)").click(function(){
  $( "#form_quality" ).val( '5');
  console.log('Qualite5');
});


$("div.btn-java.btn.btn-primary.active.focus").click(function(){

  console.log('bonjour');
});



</script>
<script>
$(document).ready(function () {
  //Initialize tooltips
  $('.nav-tabs > li a[title]').tooltip();

  //Wizard
  $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

    var $target = $(e.target);

    if ($target.parent().hasClass('disabled')) {
      return false;
    }
  });

  $(".next-step").click(function (e) {

    var $active = $('.wizard .nav-tabs li.active');
    $active.next().removeClass('disabled');
    nextTab($active);

  });
  $(".prev-step").click(function (e) {

    var $active = $('.wizard .nav-tabs li.active');
    prevTab($active);

  });
});

function nextTab(elem) {
  $(elem).next().find('a[data-toggle="tab"]').click();
}
function prevTab(elem) {
  $(elem).prev().find('a[data-toggle="tab"]').click();
}
</script>

{% endblock %}






{% block footer %}
{{parent()}}
{% endblock %}
