/* Code add by Valentin Le Cam */


body,header,nav, h1, h2, h3, h4, h5{
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.label-danger {
    background-color: #EB5E28;

}

.container{
  margin-top: 100px;
}

.navbar-custom{
  box-shadow: 0 0px 38px -42px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  color:#25a45b;
}

.navbar .li{
  margin: 15px 3px;
  font-size: 14px;
  color:#25a45b;
}

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 6px;
  color: #444444;
  padding: 8px 16px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.grip-link-header{
  padding: 0 1.6em;
  background: #FFF;
  color:black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
}

.hidden {
     display:none;
}

.container .img-responsive{
  border-radius: 6px;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.img-responsive:hover{
  cursor: pointer;
  /* Fallback for web browsers that don't support RGBa */
background-color: rgb(0, 0, 0);
/* RGBa with 0.6 opacity */
background-color: rgba(0, 0, 0, 0.6);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="datetime"],
input[type="time"],
select,option,
textarea,
textarea.form-control {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #444444;
  padding: 8px 16px;
  height: 40px;
  outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input[type="text"]:focus,
input[type="select"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus,
textarea.form-control:focus {
	outline: none;
	background: #fff;
    border: 1px solid #ddd;
    border-radius:6px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}




.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0 none;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
    border-left: 0 none;
}

label { font-weight: 300; }


button.btn {
	min-width: 105px;
	height: 40px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 300;
  line-height: 40px;
  color: #fff;
  box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);  -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
  text-shadow: none;
  -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { opacity: 1; color: #fff; }
button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
button.btn:focus,
button.btn:active:focus,
button.btn.active:focus { outline: 0; opacity: 1; color: #fff; }

button.btn.btn-next,
button.btn.btn-next:focus,
button.btn.btn-next:active:focus, button.btn.btn-next.active:focus { background: #25a45b; }

button.btn.btn-next-border,
button.btn.btn-next-border:focus,
button.btn.btn-next-border:active:focus, button.btn.btn-next-border.active:focus { border-color: #25a45b; border-width: 1px; background: white; color:#25a45b;}

button.btn.btn-submit,
button.btn.btn-submit:focus,
button.btn.btn-submit:active:focus, button.btn.btn-submit.active:focus { background: #25a45b; }

button.btn.btn-previous,
button.btn.btn-previous:focus,
button.btn.btn-previous:active:focus, button.btn.btn-previous.active:focus { background: #bbb; }

button.btn.btn-fab{
  height: 40px;
  min-width: 40px;
  width: 40px;
  border-radius: 50%;
font-size: 24px;
margin: auto;
padding: 0;
overflow: hidden;
position: relative;
line-height: normal;
}

.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 3px solid #25a45b;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: transparent;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

/* --- MODAL --*/

.log-frm {
}
.log-frm ul {
    margin: 0 !important;
    padding: 0 !important;
}
.log-frm ul li {
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 25px;
}
.log-frm ul li a {
    color: #f47521;
    cursor: pointer;
    display: block;
    padding: 10px 0;
}
.log-frm ul li p {
    border: 1px solid #ccc;
    color: #666;
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0;
    padding: 2px 5px;
}
.log-frm ul li input[type="text"] {
    border: 1px solid #ccc;
    color: #000;
    display: block;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 10px;
    width: 100%;
}
.model-l {
    padding-right: 0px;
}
.model-r .o-r {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100%;
    bottom: 0;
    height: 40px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    left: -19px;
    top: 0;
    width: 40px;
    z-index: 99999;
}
.model-r .o-r span {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #ccc;
    color: #666;
    display: block;
    height: 100%;
    padding: 8px 0 0;
    text-align: center;
    width: 100%;
    border-radius: 100%;
    display:block;
    position: relative;
}
.model-r {
    padding-left: 30px;
    position: relative;
    border-left: 1px dotted #cccccc;
}
.forgot {
    display: none;
}



.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 350px;
    border-radius: 6px;
}

.modal-static {
    top: 30% !important;
    left: 50% !important;
    margin-top: -100px;
    margin-left: -175px;
    overflow: visible !important;
}

.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important;
    margin: 0 !important;
}

.jumbotron-flat {
  background-color: #eee;
  height: 100%;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  overflow: auto;
}

.paymentAmt {
    font-size: 80px;
}

.centered {
    text-align: center;
}

.title {
 padding-top: 15px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
  .special-input{
    padding-left: 0;
    padding-right: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { .special-input{
  padding-left: 0;
  padding-right: 0;
}
}

@media (max-width: @screen-xs-max) {
  .special-input{
    padding-left: 0;
    padding-right: 0;
  } }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  .special-input{
    padding-left: 0;
    padding-right: 0;
  } }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {   .special-input{
    padding-left: 0;
    padding-right: 0;
  } }
@media (min-width: @screen-lg-min) { ... }




.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
  list-style-type: none;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
  list-style-type: none;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	-ms-border-radius: 6px;
	border-radius: 6px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
}

.social li {
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
  list-style-type: none;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.social li a {
	color: #EDEFF1;
}

.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}

.footer-bottom p.pull-left {
	padding-top: 6px;
}

.btn-language{
  border: 1px solid white;
  border-radius: 6px;
  text-align: left;
  color:white;
}



.dropdown ul.dropdown-menu {
    border-color: #ddd;
    border-radius: 6px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin-top:-5px;
    width:225px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}

.inline-group{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}
.inline-group>.inline-item {
  display: table-cell;
  float: none;
  width:auto;
    margin-left:-1px;
}
.inline-group>select.inline-item,.inline-group>.btn.inline-item{
margin-bottom:2px;
}
.inline-group>.inline-item:first-child:not(:last-child){
      border-top-right-radius: 0;
  border-bottom-right-radius: 0;
      margin-left:0;
}
.inline-group>.inline-item:not(:first-child):not(:last-child){
border-radius:0;
}
.inline-group>.inline-item:last-child:not(:first-child){
border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inline-group>.inline-item:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.card-raised {
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2)
}

.card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
    margin-top: 30px;
    margin-bottom: 60px;
}

.form-group{
  position: relative;
}

.card-form-horizontal .form-group {
  padding-bottom: 0px;
  margin:0;
}

.page-header {
  color:white;
}

.title{
  font-weight: 700;
}

h1{
  font-size: 3.8em;
  line-height: 1.15em;
}

h4{
  font-size: 1.3em;
  line-height: 1.55em;
}
.card-form-horizontal .content {
  padding-left: 15px;
  padding-right: 15px;
}

.card-content {
  padding: 15px 30px;
}

@media  (max-width: 991px){
.card-form-horizontal .form-group {
  padding-bottom: 20px;
}
}

.content-section {
  padding: 50px 0;
  background-color: #F8F8F8;
}
.banner{
  margin-top: 30px;
  padding: 100px 0;
  color: #F8F8F8;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.well{
  padding: 40px;
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 3px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  border:0;
  box-shadow: 0 2px 2px rgba(204, 197, 185, 0.5), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

.card {
  text-align: left;
}

.card-plain{
  background: transparent;
  box-shadow: none;
}

.card-plain .card-image{
  margin:0;
  border-radius: 6px;
}

.card .card-image{
  position: relative;
  max-width: 130px;
  max-height: 130px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-image-navbar{
  border:2px solid #999999;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-plain .content{
  padding-left: 5px;
}



.text-muted{
  color: #777;
}

.card-description{
  color: #999999;
}

h6{
  font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 500;
}

h5{
  font-size: 1.25em;
    line-height: 1.55em;
    font-weight: 400;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.card  img {
  width: 100%;
  height: auto;
}

.card-profile .card-avatar {
  max-width: 130px;
max-height: 130px;
margin: -50px auto 0;
border-radius: 50%;
overflow: hidden;
box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


.choice{
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.choice input[type="radio"]{
  position: absolute;
  left:-10000px;
  z-index:1px;
}

.choice .icon{
  text-align: center;
  vertical-align: middle;
  height: 116px;
  width: 116px;
  border-radius: 50%;
  color: #999;
  margin: 0 auto 20px;
  border: 4Px solid #999;
}

.choice.active .icon{
  border-color: #25a45b;
  color: #25a45b;
}

.choice .icon i{
  font-size: 40px;
  line-height: 111px;
}


/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 6px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #ccc;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}
.table-filter .media-photo {
	width: 35px;
}
.table-filter .media-body {
    display: block;
    /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.pagado {
	color: #5cb85c;
}
.table-filter .media .title span.pendiente {
	color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
	color: #d9534f;
}
.table-filter .media .summary {
	font-size: 14px;
}



.media-object {
  height: 150px;
  width: 150px;
}

.media-object-normal{
  height: auto;
  width: 100%;
}

.media-object-big{
  height: auto;
  width: 100%;
}

.media-index{
  height: 320px;
  width: 100%;
}

.img-circle{
  border-radius: 50%;
  border:2px solid #ddd
}

.img-profile{
  height: 35px;
  width: 35px;
}

.img-profile-announcement{
  height: 175px;
  width: 175px;
}


.navbar-custom-index {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  color:#25a45b;
}
.navbar-custom-index .navbar-brand {
  font-weight: 800;
}
.navbar-custom-index .navbar-header .navbar-toggle {
  font-weight: 500;
  font-size: 30px;
}
.navbar-custom-index .nav li a {
  font-size: 14px;
  color: #25a45b;
  font-weight: 800;
}
.navbar-custom-index .nav li a:hover,
.navbar-custom-index .nav li a:focus {
  color: #25a45b;
}


@media only screen and (min-width: 768px) {
  .navbar-custom-index {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  .navbar-custom-index .navbar-brand {
    color: white;
    padding: 20px;
  }
  .navbar-custom-index .navbar-brand:hover,
  .navbar-custom-index .navbar-brand:focus {
    color: white;
  }
  .navbar-custom-index .nav li a {
    color: white;
    padding:20px;

  }
  .navbar-custom-index .nav li a:hover,
  .navbar-custom-index .nav li a:focus {
    color: white;
    padding:20px;
    cursor: pointer;
  }
}
@media only screen and (min-width: 1170px) {
  .navbar-custom-index {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .navbar-custom-index.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -61px;
    background-color: transparent;
    border-bottom: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .navbar-custom-index.is-fixed .navbar-brand {
    color: #25a45b;
  }
  .navbar-custom-index.is-fixed .navbar-brand:hover,
  .navbar-custom-index.is-fixed .navbar-brand:focus {
    color: #25a45b;
  }
  .navbar-custom-index.is-fixed .nav li a {
    color: #25a45b;
  }
  .navbar-custom-index.is-fixed .nav li a:hover,
  .navbar-custom-index.is-fixed .nav li a:focus {
    color: #25a45b;
  }
  .navbar-custom-index.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

h3 {
            color: #fff;
            font-size: 24px;
            text-align: center;
            margin-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid #eee;
            margin-bottom: 30px;
            font-weight: 300;
        }

        .container {
            max-width: 970px;
        }

        div[class*='col-'] {
            padding: 0 30px;
        }

        .wrap {
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }

        a:focus,
        a:hover,
        a:active {
            outline: 0;
            text-decoration: none;
        }

        .panel {
            border-width: 0 0 1px 0;
            border-style: solid;
            border-color: #fff;
            background: none;
            box-shadow: none;
        }

        .panel:last-child {
            border-bottom: none;
        }

        .panel-group > .panel:first-child .panel-heading {
            border-radius: 4px 4px 0 0;
        }

        .panel-group .panel {
            border-radius: 0;
        }

        .panel-group .panel + .panel {
            margin-top: 0;
        }

        .panel-heading {
            background-color: #0072AE;
            border-radius: 0;
            border: none;
            color: #fff;
            padding: 0;
        }

        .panel-title a {
            display: block;
            color: #fff;
            padding: 15px;
            position: relative;
            font-size: 22px;
            font-weight: 400;
        }

        .panel-body {
            background: #fff;
        }

        .panel:last-child .panel-body {
            border-radius: 0 0 4px 4px;
        }

        .panel:last-child .panel-heading {
            border-radius: 0 0 4px 4px;
            transition: border-radius 0.3s linear 0.2s;
        }

        .panel:last-child .panel-heading.active {
            border-radius: 0;
            transition: border-radius linear 0s;
        }
        /* #bs-collapse icon scale option */

        .panel-heading a:before {
            content: '\e146';
            position: absolute;
            font-family: 'Material Icons';
            right: 5px;
            top: 10px;
            font-size: 24px;
            transition: all 0.5s;
            transform: scale(1);
        }

        .panel-heading.active a:before {
            content: ' ';
            transition: all 0.5s;
            transform: scale(0);
        }

        #bs-collapse .panel-heading a:after {
            content: ' ';
            font-size: 24px;
            position: absolute;
            font-family: 'Material Icons';
            right: 5px;
            top: 10px;
            transform: scale(0);
            transition: all 0.5s;
        }

        #bs-collapse .panel-heading.active a:after {
            content: '\e909';
            transform: scale(1);
            transition: all 0.5s;
        }
        /* #accordion rotate icon option */

        #accordion .panel-heading a:before {
            content: '\e316';
            font-size: 24px;
            position: absolute;
            font-family: 'Material Icons';
            right: 5px;
            top: 10px;
            transform: rotate(180deg);
            transition: all 0.5s;
        }

        #accordion .panel-heading.active a:before {
            transform: rotate(0deg);
            transition: all 0.5s;
        }



.search-row-wrapper{
  margin-top: 60px;
  background-position: center center;
  background-size: cover;
  height: auto;
  padding: 50px 0;
  width: 100%;
}

div .login-box {
  float:none;
  margin: 0;
  clear: both;
}
