{% extends 'AppBundle::page-announcement.html.twig' %}
{% block title %}
{{parent()}}
{% endblock %}

{% block head %}
{{parent()}}


{% endblock %}

{% block header %}




{{parent()}}


{% endblock %}


{% block body %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% include "ComurImageBundle:Form:croppable_image_modal.html.twig"%}


<div class="container">
	<section>
		<h5> Ajouter une   </h5>
		<div class="row">
			<div class="wizard">
				{{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
				{{ form_errors(form) }}


				<div class="well">
					<!-- First form -->
					<form role="form">

						<div class="form-group row">
							<div class="col-sm-10">

							</div>
						</div>


						<div class="form-group row">
							{{ form_label(form.imageTwice, 'Image *', {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
							<div class="col-sm-10 media-object">
								{{ form_errors(form.imageTwice) }}
								{{ form_widget(form.imageTwice, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						<div class="form-group row">
							{{ form_label(form.imageThird, 'Image *', {'label_attr': {'class': 'col-sm-2 col-form-label'}} ) }}
							<div class="col-sm-10 media-object">
								{{ form_errors(form.imageThird) }}
								{{ form_widget(form.imageThird, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>

						<div style="display:none;">


							<input  id="locality"></input>
							<input id="postal_code"></input>
							<input  id="country" ></input>
						</div>
						<div class="form-row">
							<ul class="list-inline pull-right">
								<a href="{{path('app_index') }}" class="btn btn-danger">Annuler</a>

								{{ form_widget(form.save, { 'label': "Enregistrer l'image", 'attr': { 'class': 'btn btn-submit '} }) }}
								{{ form_end(form) }}
							</ul>
						</div>


					</form>
				</div>
			</div>
		</div>
	</section>
</div>


{% endblock %}

{% block footer %}

{{parent()}}
{% endblock %}
