{% extends 'AppBundle::page-announcement.html.twig' %}
{% block title %}
{{parent()}}
{% endblock %}

{% block head %}
{{parent()}}
<head>
	<script>
	$( document ).ready(function() {
		//Initialize calendar datetimepicker
		$('#datepicker').datepicker({
			//Set the calendar in french
			locale: 'fr',
			format: 'YYYY-MM-DD'
		});


	});
	
	$(function () {
		$('#dateBegin').datetimepicker({
			locale: 'fr',
			format: 'YYYY-MM-DD'});
		});
		$('#sandbox-container input').datepicker({
			format: "mm-dd-yyyy"
		});
		$(function () {
			$('#dateEnd').datetimepicker({
				locale: 'fr',
				format: 'YYYY-MM-DD'});
			});
			</script>


			<script>

			$("label.btn.btn-primary.active").click(function(){
				alert('clicked!');
			});

			/*$( document ).ready(function() {
			//Initialize calendar datetimepicker
			$('#datepicker').datepicker({
			//Set the calendar in french
			locale: 'fr',
			format: 'YYYY-MM-DD'
		});



	});*/

	$('input[type="checkbox"]').attr("required", "false");

	$("input#option3.star").click(function(){
		alert('clicked!');
	});

	$(function () {
		$('#dateBegin').datetimepicker({
			locale: 'fr',
			format: 'YYYY-MM-DD'});
		});
		$(function () {
			$('#dateEnd').datetimepicker({
				locale: 'fr',
				format: 'YYYY-MM-DD'});
			});


			</script>
		</head>
		{% endblock %}

		{% block header %}




		{{parent()}}


		{% endblock %}


		{% block body %}
		{% if app.user %}

		<div class="container">
			<div class="row">

				<div class="col-md-9 page-content">
					<div class="well inner-box">
						<div class="inner-box category-content">
							<h4 class="list-title"><strong>Poster une annonce</strong></h4>
							<div class="row">
								<div class="col-sm-12 form-horizontal">

									{{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
									{{ form_errors(form) }}




									<div class="form-group">
										{{ form_label(form.place, "Ville", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
										<div class="col-md-8">
											{{ form_errors(form.place) }}
											{{ form_widget(form.place, {'id': 'autocomplete', 'attr': {'class': 'form-control', 'placeholder':'Paris, Londres', 'onfocus': 'geocode()'}}) }}

										</div>
									</div>

									<div style="display:none;">
										<div class="form-row" >
											<div class="form-group ">
												{{ form_label(form.region, "Region", {'label_attr': {'class': ''}} ) }}
												<div class="col-sm-10 col-xs-4 input-group">
													{{ form_errors(form.region) }}
													{{ form_widget(form.region, {'id': 'administrative_area_level_1', 'attr': {'class': ' form-control '}}) }}
												</div>
											</div>
										</div>
										<div class="col-sm-10 col-sm-offset-1">
											<div class="form-group">
												{{ form_label(form.state, "Pays", {'label_attr': {'class': ''}} ) }}
												{{ form_errors(form.state) }}
												{{ form_widget(form.state, {'id': 'country', 'attr': {'class': 'form-control '}}) }}
											</div>
										</div>
										<input  id="locality"></input>
										<input id="postal_code"></input>
										<input  id="country" ></input>
									</div>



									<div class="form-group">
										{{ form_label(form.dateBegin, "Date de début", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
										<div class="input-group col-md-8" id="dateBegin">
											<div class="input-group-addon" style="background-color:white; outline: 0; -webkit-box-shadow: none; box-shadow: none;" >
												<div class="glyphicon glyphicon-calendar"></div>
											</div>
											{{ form_errors(form.dateBegin) }}
											{{ form_widget(form.dateBegin, {'attr': {'class': 'form-control datetimepicker'}}) }}
										</div>
									</div>

									<div class="form-group ">
										{{ form_label(form.dateEnd, "Date de fin", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
										<div class="input-group date datetimepicker col-md-8" id="dateEnd">
											<div class="input-group-addon" style="background-color:white; outline: 0; -webkit-box-shadow: none; box-shadow: none;" >
												<div class="glyphicon glyphicon-calendar"></div>
											</div>
											{{ form_errors(form.dateEnd) }}
											{{ form_widget(form.dateEnd, {'attr': {'class': 'form-control datetimepicker'}}) }}

										</div>
									</div>

									<div class="form-group">
										{{ form_label(form.sport, "Choisir le sport", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
										<div class="col-md-8">
											{{ form_errors(form.sport) }}
											{{ form_widget(form.sport, {'attr': {'class': 'form-control', 'placeholder':'Football, Ski, Vélo'}}) }}
											<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>

										</div>
									</div>

									<div class="form-group">
										{{ form_label(form.description, "Description", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
										<div class="col-md-8">
											{{ form_errors(form.description) }}
											{{ form_widget(form.description, {'attr': {'class': 'form-control',  'placeholder':'', 'row': '10'}}) }}

										</div>
									</div>

									<div class="form-group">

										{{ form_label(form.price, "Prix de la journée", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}

										<div class="col-md-4">

											{{ form_errors(form.price) }}
											{{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder':'€/J'}}) }}
										</div>

									</div>


									<div class="form-group">
										{{ form_label(form.quality, " ", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
										{{ form_errors(form.quality) }}
										{{ form_widget(form.quality, {'attr': {'class': 'form-control', 'id':'quality', 'value':'1'}}) }}
										<div class="col-md-8">
											<div class="btn-java" data-toggle="buttons">

												<button class="btn btn-next  active">
													<input type="radio" class="star" name="options" id="option1" autocomplete="off" checked><i class="glyphicon glyphicon-star"></i>
												</button>
												<button class="btn btn-next ">
													<input type="radio" class="star" name="options" id="option2" autocomplete="off"> <i class="glyphicon glyphicon-star"></i>
												</button>
												<button class="btn btn-next ">
													<input type="radio" class="star" name="options" id="option3" autocomplete="off"><i class="glyphicon glyphicon-star"></i>
												</button>
												<button class="btn btn-next ">
													<input type="radio" class="star" name="options" id="option4" autocomplete="off"><i class="glyphicon glyphicon-star"></i>
												</button>
												<button class="btn btn-next " style="display:none;">
													<input type="radio" class="star" name="options" id="option5" autocomplete="off"><i class="glyphicon glyphicon-star"></i>
												</button>

											</div>
										</div>
									</div>

									<div class="form-group">
										<label class="col-md-3 control-label" for="seller-email">
											{{ form_label(form.cleanliness, "Rendre le matériel propre", {'label_attr': {'class': ''}} ) }}
										</label>
										<div class="col-md-8">
											<input id="check1" type="checkbox" checked="checked">
											<div class="checkbox">
												<label>
													{{ form_errors(form.cleanliness) }}
													{{ form_widget(form.cleanliness, {'attr': {'class': 'form-control','value':'1'}}) }}
													<small></small>
												</label>
											</div>
										</div>
									</div>


									<div class="pull-right">
										{{ form_widget(form.save, { 'label': "Continuer", 'attr': { 'class': 'btn btn-submit '} }) }}
										{{ form_end(form) }}
									</div>
								</div>
							</div>
						</div>
					</div>



				</div>
				<div class="col-md-3 reg-sidebar">
					<div class="reg-sidebar-inner text-center well inner-box">
						<div class="promo-text-box"><i class=" icon-picture fa fa-4x icon-color-1"></i>
							<h3><strong>Post a Free Classified</strong></h3>
							<p> Post your free online classified ads with us. Lorem ipsum dolor sit amet, consectetur
								adipiscing elit. </p>
							</div>
							<div class="panel sidebar-panel">
								<div class="panel-heading uppercase">
									<small><strong>How to sell quickly?</strong></small>
								</div>
								<div class="panel-content">
									<div class="panel-body text-left">
										<ul class="list-check">
											<li> Use a brief title and description of the item</li>
											<li> Make sure you post in the correct category</li>
											<li> Add nice photos to your ad</li>
											<li> Put a reasonable price</li>
											<li> Check the item before publish</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>



			<script>
			// This example displays an address form, using the autocomplete feature
			// of the Google Places API to help users fill in the information.

			var placeSearch, autocomplete;
			var componentForm = {
				locality: 'long_name',
				administrative_area_level_1: 'short_name',
				country: 'long_name',
				postal_code: 'short_name'
			};



			function initAutocomplete() {
				// Create the autocomplete object, restricting the search to geographical
				// location types.
				autocomplete = new google.maps.places.Autocomplete(
					/** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
					{types: ['geocode']});

					// When the user selects an address from the dropdown, populate the address
					// fields in the form.
					autocomplete.addListener('place_changed', fillInAddress);
				}

				// [START region_fillform]
				function fillInAddress() {
					// Get the place details from the autocomplete object.
					var place = autocomplete.getPlace();

					for (var component in componentForm) {
						document.getElementById(component).value = '';
						document.getElementById(component).disabled = false;
					}

					// Get each component of the address from the place details
					// and fill the corresponding field on the form.
					for (var i = 0; i < place.address_components.length; i++) {
						var addressType = place.address_components[i].types[0];
						if (componentForm[addressType]) {
							var val = place.address_components[i][componentForm[addressType]];
							document.getElementById(addressType).value = val;
						}
					}
				}
				// [END region_fillform]


				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC17VNgOXiwIuU4beERtNwXOa7CYm7ODec&signed_in=true&libraries=places&callback=initAutocomplete"
				async defer></script>
				<script>

				$( 'input[type="checkbox"]' ).change(function() {
					console.log('input checkbox');
					var $input = $( this );
					$( "#form_cleanliness" ).val($input.prop( "checked" ));
					if($input.prop( "checked" )== false){
						$( "#form_cleanliness" ).val( '0');
					}else{
						$( "#form_cleanliness" ).val( '1');
					}
				}).change();

				/*$( "input" ).change(function() {
				var $input = $( this );
				$( "p" ).html(
				".attr( \"checked\" ): <b>" + $input.attr( "checked" ) + "</b><br>" +
				".prop( \"checked\" ): <b>" + $input.prop( "checked" ) + "</b><br>" +
				".is( \":checked\" ): <b>" + $input.is( ":checked" ) + "</b>" );
			}).change();*/

			/*$( 'input' ).change(function() {
			console.log('input');
			var $input = $( this );
			$( "#form_cleanliness" ).val($input.prop( "checked" ));

		}).change();
		/*
		$( 'input#form_cleanliness.form-control' ).change(function() {
		console.log('inputform_cleanliness');
		var $input = $( this );
		$( "#form_cleanliness" ).val($input.attr( "checked" ));
	}).change();
	*/
	$(".btn-java > .btn:first-child:not(:last-child):not(.dropdown-toggle)").click(function(){
		$val ='1';
		//document.getElementById("form_quality").innerHTML = $val;
		$( "form_quality" ).text('bonjour');
		console.log('Qualite1');
		//document.getElementById("#val").innerHTML = 'bonjour';
		$( "#val" ).text( $val );
		$( "#form_quality" ).val( '1');


	});
	$(".btn-java > .btn:nth-child(2):not(:last-child):not(.dropdown-toggle)").click(function(){
		$( "#form_quality" ).val( '2');
		console.log('Qualite2');
	});

	$(".btn-java > .btn:nth-child(3):not(:last-child):not(.dropdown-toggle)").click(function(){
		$( "#form_quality" ).val( '3');
		console.log('Qualite3');
	});

	$(".btn-java > .btn:nth-child(4):not(:last-child):not(.dropdown-toggle)").click(function(){
		$( "#form_quality" ).val( '4');
		console.log('Qualite4');
	});

	$(".btn-java > .btn:nth-child(5):not(:last-child):not(.dropdown-toggle)").click(function(){
		$( "#form_quality" ).val( '5');
		console.log('Qualite5');
	});


	$("div.btn-java.btn.btn-primary.active.focus").click(function(){

		console.log('bonjour');
	});



	</script>

	{% else %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="well">
					<a class="btn btn-block btn-social btn-facebook " href="#" onclick="fb_login();">
						<span class="fa fa-facebook"></span> Connexion avec Facebook
					</a>

					<hr>
					<div class="block">
						<div class="content">
							<form action="{{ path("fos_user_security_check") }}" method="post">

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

								<div class="form-group">
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-user fa" aria-hidden="true"></i></span>
											<input class="form-control" type="text" id="username" name="_username" value="" placeholder="Username" style="border-left:0; padding:0;"/>
										</div>
									</div>
								</div>


								<div class="form-group">
									<div class="cols-sm-10">
										<div class="input-group">
											<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
											<input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe" required="required" style="border-left:0; padding:0;" />
										</div>
									</div>
								</div>

								<p style="margin: 15px 0px;">
									<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
									<label for="remember_me">Se souvenir de moi</label>
								</p>

								<input class="btn btn-next btn-block" type="submit" id="_submit" name="_submit" style="color:white; background:#25a45b;" value='{{ "Connexion"|trans }}' />
							</form>

							<a style="color:black;"href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ?</a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
	window.fbAsyncInit = function() {
		// init the FB JS SDK
		FB.init({
			appId      : '255611071557186',                        // App ID from the app dashboard
			channelUrl : '//sharingsport.fr',      // Channel file for x-domain comms
			status     : true,                                 // Check Facebook Login status
			xfbml      : true                                  // Look for social plugins on the page
		});
	};

	// Load the SDK asynchronously
	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	function fb_login() {
		FB.getLoginStatus(function(response) {
			if (response.status === 'connected') {
				// connected

				document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
			} else {
				// not_authorized
				FB.login(function(response) {
					if (response.authResponse) {
						document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
					} else {

					}
				}, {scope: 'email'});
			}
		});
	}
	</script>


	{% endif %}


	{% endblock %}

	{% block footer %}

	{{parent()}}
	{% endblock %}
