{% extends 'AppBundle::page-announcement.html.twig' %}
{% block title %}
{{parent()}}
{% endblock %}

{% block head %}
{{parent()}}

{% endblock %}

{% block header %}




{{parent()}}


{% endblock %}


{% block body %}

{% include "ComurImageBundle:Form:croppable_image_modal.html.twig"%}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<div class="container">
		<div class="row">


				<div class="well">
					{{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
					{{ form_errors(form) }}
					<div class="col-md-6">
						<div class="form-group">
							{{ form_label(form.imageFirst, 'Image n°1', {'label_attr': {'class': 'col-sm-2 controle-label'}} ) }}
							<div class="col-sm-10">
								{{ form_errors(form.imageFirst) }}
								{{ form_widget(form.imageFirst, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							{{ form_label(form.imageTwice, 'Image n°2', {'label_attr': {'class': 'col-sm-2 controle-label'}} ) }}
							<div class="col-sm-10">
								{{ form_errors(form.imageTwice) }}
								{{ form_widget(form.imageTwice, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							{{ form_label(form.imageThird, 'Image n°3', {'label_attr': {'class': 'col-sm-2 controle-label'}} ) }}
							<div class="col-sm-10">
								{{ form_errors(form.imageThird) }}
								{{ form_widget(form.imageThird, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
					</div>

						<div class="form-group">
							<div class="list-inline pull-right">
								<a href="{{path('app_index') }}" ><button class="btn btn-previous ">Annuler</button></a>
								{{ form_widget(form.save, { 'label': "Poster l'annonce", 'attr': { 'class': 'btn btn-submit '} }) }}
							</div>
						</div>
						{{ form_end(form) }}


				</div>
		</div>
</div>


{% endblock %}

{% block footer %}

{{parent()}}
{% endblock %}
