{% extends 'AppBundle::page.html.twig' %}


{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}



{% endblock %}
{% block content %}

{% block body %}
<script>
jQuery('.statistic-counter').counterUp({
	delay: 10,
	time: 2000
});
</script>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
<div class="container">
	<div class="well">
	<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">

				<h2 class="title">La team SharingSport</h2>
				<h5 class="card-description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
			</div>
	</div>
	<div class="row" style="margin-top: 50px;">
			<div class="col-xs-6">
				<div class="card card-profile card-plain">
					<div class="card-avatar">
						<img class="img-responsive" src="{{ asset( 'style/teamvalentin.jpg' )}}">
					</div>
					<div class="content text-center">
						<h4 class="card-title">Valentin Le Cam</h4>
						<h6 class="category text-muted">CEO / Founder</h6>
						<p class="card-description">
							And I love you like Kanye loves Kanye. We need to restart the human foundation.
						</p>
						<a href="https://www.linkedin.com/in/valentin-le-cam/" class="btn btn-linkedin" style="color:white;"><i class="fa fa-linkedin"></i></a>
						<a href="https://twitter.com/valentin_lecam" class="btn btn-twitter" style="color:white;"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="card card-profile card-plain">
					<div class="card-avatar">
						<img class="img-responsive" src="{{ asset( 'style/teamsimon.jpg' )}}">
					</div>

					<div class="content text-center">
						<h4 class="card-title">Simon Toullec</h4>
						<h6 class="category text-muted">CTO / Co-Founder</h6>
						<p class="card-description">
							And I love you like Kanye loves Kanye. We need to restart the human foundation.
						</p>
						<a href="https://www.linkedin.com/in/simon-toullec-655a56a7/" class="btn btn-linkedin" style="color:white;"><i class="fa fa-linkedin"></i></a>
						<a href="#" class="btn btn-twitter" style="color:white;"><i class="fa fa-twitter"></i></a>
					</div>
				</div>
			</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="main_counter_content text-center white-text wow fadeInUp">
				<div class="col-md-3">
					<div class="single_counter p-y-2 m-t-1">
						<i class="fa fa-heart m-b-1"></i>
						<h2 class="statistic-counter">100</h2>
						<p>Love Our Team</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="single_counter p-y-2 m-t-1">
						<i class="fa fa-check m-b-1"></i>
						<h2 class="statistic-counter">400</h2>
						<p>Check Our</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="single_counter p-y-2 m-t-1">
						<i class="fa fa-refresh m-b-1"></i>
						<h2 class="statistic-counter">312</h2>
						<p>repeat client</p>
					</div>
				</div>
				<div class="col-md-3">
					<div class="single_counter p-y-2 m-t-1">
						<i class="fa fa-beer m-b-1"></i>
						<h2 class="statistic-counter">480</h2>
						<p>Pizzas Ordered</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>





{{parent()}}

{% endblock %}

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
