{% extends 'AppBundle::page.html.twig' %}


{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}

<style>


.navbar-custom {
	background-color:#25a45b;
}
</style>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
{% endblock %}
{% block content %}

{% block body %}

<div class="container">
<div class="row">
	<div class="well">
	<h5 class="text-center"> Contact </h5>
		{% if app.user %}
			<div id="formulaire" class="formulaire">
				{{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
				{{ form_errors(form) }}

				<div class="row">
					<div class="col-md-3" >
						<div class="form-group">
							<div class="input-group header-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>

								{{ form_errors(form.title) }}
								{{ form_widget(form.title, {'id': 'title', 'attr': {'class': 'form-control', 'placeholder': 'Titre'}}) }}

							</div>
						</div>
					</div>
					<div class="col-md-6" >
						<div class="form-group">
							<div class="input-group header-group">
								<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>

								{{ form_errors(form.message) }}
								{{ form_widget(form.message, {'id': 'message', 'attr': {'class': 'form-control', 'placeholder': 'Message'}}) }}

							</div>
						</div>
					</div>

					<div class="col-md-2" >

						{{ form_widget(form.save, { 'label': " Envoyer "|trans, 'attr': { 'class': 'btn btn-next btn-block'} }) }}
						{{ form_end(form) }}
					</div>



				</div>
			</div>
		{% else %}
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="well">
							<a class="btn btn-block btn-social btn-facebook " href="#" onclick="fb_login();">
								<span class="fa fa-facebook"></span> Connexion avec Facebook
							</a>


							<hr>
							<div class="block">
								<div class="content">
									<form action="{{ path("fos_user_security_check") }}" method="post">

										<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

										<div class="form-group">
											<div class="cols-sm-10">
												<div class="input-group">
													<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-user fa" aria-hidden="true"></i></span>
													<input class="form-control" type="text" id="username" name="_username" value="" placeholder="Username" style="border-left:0; padding:0;"/>
												</div>
											</div>
										</div>


										<div class="form-group">
											<div class="cols-sm-10">
												<div class="input-group">
													<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
													<input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe" required="required" style="border-left:0; padding:0;" />
												</div>
											</div>
										</div>

										<p style="margin: 15px 0px;">
											<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
											<label for="remember_me">Se souvenir de moi</label>
										</p>

										<input class="btn btn-next btn-block" type="submit" id="_submit" name="_submit" style="color:white; background:#25a45b;" value='{{ "Connexion"|trans }}' />
									</form>

									<a style="color:black;"href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ?</a>

								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
				<script>
				window.fbAsyncInit = function() {
					// init the FB JS SDK
					FB.init({
						appId      : '255611071557186',                        // App ID from the app dashboard
						channelUrl : '//sharingsport.fr',      // Channel file for x-domain comms
						status     : true,                                 // Check Facebook Login status
						xfbml      : true                                  // Look for social plugins on the page
					});
				};

				// Load the SDK asynchronously
				(function(d, s, id){
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) {return;}
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));

				function fb_login() {
					FB.getLoginStatus(function(response) {
						if (response.status === 'connected') {
							// connected

							document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
						} else {
							// not_authorized
							FB.login(function(response) {
								if (response.authResponse) {
									document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
								} else {

								}
							}, {scope: 'email'});
						}
					});
				}
				</script>
				{% endif %}
			
</div>
</div>
</div>





{{parent()}}

{% endblock %}

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
