{% extends 'AppBundle::page.html.twig' %}


{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}

<style>


.navbar-custom {
	background-color:#25a45b;
}
</style>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
{% endblock %}
{% block content %}

{% block body %}

<div class="container">
<div class="row">
	<div class="well">
	<h5 class="text-center"> Presse </h5>
</div>
</div>
</div>





{{parent()}}

{% endblock %}

{% endblock %}
{% block footer %}
{{parent()}}
{% endblock %}
