{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}

{% endblock %}
{% block content %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<div class="idAnnouncementMaterial"><p>
		{% for announcementMaterial in announcementMaterial %} {{announcementMaterial.id}},
		{% endfor %}
</p></div>
<div class="idAnnouncementPartner"><p>
		{% for announcementPartner in announcementPartner %} {{announcementPartner.id}},
		{% endfor %}
</p></div>


		======MATERIAL======
		{% for announcementMaterial in announcementMaterial %}
		<div class="item-list announcement-item">

		  <div class="col-sm-3 no-padding photobox">
			<div class="add-image">
			  <span class="photo-count">
				<i class="glyphicon glyphicon-camera">  </i>
				2
			  </span>
			  
			</div>
		  </div>

		  <div class="col-sm-6  add-desc-box">
			<div class="add-details jobs-item">
			  <h5 class="announcement-type">
				Materiel
			  </h5>
			  <h4 class="announcement-title"><a href="{{ path('app_display_announcement',{'id':announcementMaterial.id ,'type': announcementMaterial.type}) }}"> Location {{announcementMaterial.sport.title}} </a></h4>
			  <span class="info-row"> <span class="item-location"><i class="glyphicon glyphicon-map-marker"></i> {{announcementMaterial.place}} </span> <i class="glyphicon glyphicon-calendar"> </i> {{ announcementMaterial.dateBegin |localizeddate('long', 'none', 'fr')}}<span class="date"></span>
			  <span class="calendrier"><i class="glyphicon glyphicon-wrench"> </i>{% for i in 1..announcementMaterial.quality %}
				<span class="glyphicon glyphicon-star"></span>
				{% endfor %}
				{% for i in 5-announcementMaterial.quality..announcementMaterial.quality %}
				<span class="glyphicon glyphicon-star-empty"></span>
				{% endfor %}</span>
			  </span>
			  <div class="announcement-desc-mat" id="desc,material,{{announcementMaterial.id}},">
				{{ announcementMaterial.description }}
			  </div>

			<div class="col-sm-3">
				<p>
				<a class="btn btn-success btn-block" id="material,validate,{{announcementMaterial.id}},"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="glyphicon glyphicon-edit"></i> Valider</a>
			  </p>
				<a class="btn btn-danger btn-block" id="material,delete,{{announcementMaterial.id}}," type="button" style="background-color:"><i class="glyphicon glyphicon-trash"></i> Supprimer</a>
			</div>
			</div>
		  </div>
		  <div class="col-sm-3 text-right price-box">
			
			<h3 class="item-price "> <strong> {{announcementMaterial.price}}€ </strong></h3>
		  </div>
		</div>
		{% endfor %}




		======PARTNER======
		{% for announcementPartner in announcementPartner %}
		<div class="item-list announcement-item">

		<div class="col-sm-3 no-padding photobox">
		  <div class="add-image">
			<span class="photo-count">
			  <i class="glyphicon glyphicon-camera">  </i>
			  2
			</span>
			
		  </div>
		</div>

		<div class="col-sm-6  add-desc-box">
		  <div class="add-details jobs-item">
			<h5 class="announcement-type">
			  Partenaire
			</h5>
			<h4 class="announcement-title"> {{ announcementPartner.title }} </h4>
			<span class="info-row">
			  <span class="item-location"><i class="glyphicon glyphicon-map-marker"></i> {{announcementPartner.place}} </span>
			  <span class="date"><i class="glyphicon glyphicon-calendar"> </i> {{ announcementPartner.dateBegin |localizeddate('long', 'none', 'fr')}}</span>
			  <span class="time"><i class="glyphicon glyphicon-time"> </i> {{ announcementPartner.time |localizeddate('long', 'none', 'fr')}}</span>
			</span>
			<div class="announcement-desc-part" id="desc,partner,{{announcementPartner.id}},">
			  Description: {{ announcementPartner.description }}
			</div>
			<div class="announcement-nbplace">
			  Nombre de places: {{ announcementPartner.numberPlaces}}
			</div>
		  </div>
		</div>
		<div class="col-sm-3 text-right price-box">
		 
		  <h3 class="item-price ">{{ announcementPartner.numberPlaces}}
		  </div>
			 <div class="col-sm-3">
				<p>
			  </p>
				<a class="btn btn-danger btn-block" id="partner,delete,{{announcementPartner.id}}," type="button" style="background-color:"><i class="glyphicon glyphicon-trash"></i> Supprimer</a>
			  </div>
		</div>
		{% endfor %}


<script>

 $(".btn.btn-danger.btn-block").click(function(){
    console.log('button btn danger');
    var data1 = ""+$(this).attr('id');
    console.log("button btn danger: "+data1);
    
      var theString = $(this).attr('id'),
      bits = theString.split(',').slice(0, -1); // split the string and remove the last one
      $("input#typeMod").val(bits[0]);//a supprimer
      $("input#idAnnouncementMod").val(bits[2]);//a supprimer
      $("input#idAnswerMod").val(bits[2]);//a supprimer
	  $idAnnouncement=bits[2];
		if(bits[0] == "material"){
			//ce code a été rajouter à voir si les autres boutons ne chevauchent pas
			
			console.log('id='+$idAnnouncement);
			$.ajax({
			  type: "GET",
			  url: "{{ path('app_archive_announcement_delete') }}",
			  data: {id : $idAnnouncement}

			});
		}else{
			//ce code a été rajouter à voir si les autres boutons ne chevauchent pas
			
			console.log('id='+$idAnnouncement);
			$.ajax({
			  type: "GET",
			  url: "{{ path('app_archive_announcement_delete') }}",
			  data: {id : $idAnnouncement}

			});
		
		}
	  $(this).parents("div").css("display", "none");

   
});


</script>
{% endif %}
		
{{parent()}}

  {% endblock %}

  {% endblock %}

  {% block footer %}
  {{parent()}}
  {% endblock %}