{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}


{% endblock %}
{% block content %}

{% block body %}

<div class="container">

	<div class="row">
	
	
	
		{% if announcement.type in "material" %}


		<div class="col-md-9 page-content col-thin-right">
			<div class="well inner-box">
				<h2> Location {{sport2.title}} </h2>
				<hr>
				<span class="info-row"> <span class="item-location"><i class="glyphicon glyphicon-map-marker"></i> {{announcement.place}} </span> <span class="date"></i> - Materiel</span>
				<span class=" salary"> <i class="glyphicon glyphicon-calendar"> </i> {{ announcement.dateBegin |localizeddate('long', 'none', 'fr')}}</span></span>

				<div class="announcement-image">
					<h1 class="pricetag">  </h1>
					<div class="an-wrapper" style="max-width:100%;">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">



							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								{% if announcement.imageFirst != null %}
								<div class="item active media-object-big">
									<img class="img-responsive" src="../../../../AnnouncementMaterial/{{announcement.idUser.email}}/{{announcement.id}}/{{announcement.imageFirst}}" alt="Announcement image une">
								</div>
								{% endif %}

								{% if announcement.imageTwice != null %}
								<div class="item  media-object-big">
									<img class="img-responsive" src="../../../../AnnouncementMaterial/{{announcement.idUser.email}}/{{announcement.id}}/{{announcement.imageTwice}}" alt="Announcement image deux">
								</div>
								{% endif %}
								
								{% if announcement.imageThird != null %}
								<div class="item  media-object-big">
									<img class="img-responsive" src="../../../../AnnouncementMaterial/{{announcement.idUser.email}}/{{announcement.id}}/{{announcement.imageThird}}" alt="Announcement image trois">
								</div>
								{% endif %}
							</div>

							<!-- Left and right controls -->
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
								<span class="sr-only">Next</span>
							</a>

						</div>

					</div>
					<ol id="an-pager" class="pager-indicator">
						{% if announcement.imageFirst != null %}<li class="thumb-item-link" data-target="#myCarousel" data-slide-to="0"><img class="img-responsive" src="../../../../AnnouncementMaterial/{{announcement.idUser.email}}/{{announcement.id}}/{{announcement.imageFirst}}"></li>{% endif %}
						{% if announcement.imageTwice != null %}<li class="thumb-item-link " data-target="#myCarousel" data-slide-to="1"><img class="img-responsive" src="../../../../AnnouncementMaterial/{{announcement.idUser.email}}/{{announcement.id}}/{{announcement.imageTwice}}"></li>{% endif %}
						{% if announcement.imageThird != null %}<li class="thumb-item-link " data-target="#myCarousel" data-slide-to="2"><img class="img-responsive" src="../../../../AnnouncementMaterial/{{announcement.idUser.email}}/{{announcement.id}}/{{announcement.imageThird}}"></li>{% endif %}
					</ol>

				</div>
				<div class="announcement-details">
					<div class="announcement-details-info ">
						<div class="item-list announcement-item">

							<p><span class="description"> Description : </br>
								{{announcement.description}}</span></p>

								<p>
									<span class="calendrier">Qualité : {% for i in 1..announcement.quality %}
										<span class="glyphicon glyphicon-star"></span>
										{% endfor %}
										{% for i in 5-announcement.quality..announcement.quality %}
										<span class="glyphicon glyphicon-star-empty"></span>
										{% endfor %}</span></p>


										<p>
											{% if announcement.cleanliness == 1 %}
											<span class="description"> Le matériel doit être rendu propre : <strong>Oui</strong></span>

											{% else %}
											<span class="description"> Le matériel doit être rendu propre : </br>
												<strong>Non</strong></span>

												{% endif %}


											</p>
										</div>
									</div>
									<div class="item-list announcement-item">
										<div class="col-sm-3 no-padding photobox">
											<div class="add-image">
												<a href="">
													<img class="no-margin media-object img-circle" src="{{ asset('style/Paris.jpg') }}" alt="announcement material">
												</a>
											</div>
										</div>
										<div class="col-sm-6  add-desc-box">
											<div class="add-details jobs-item">
												<h4 class="announcement-title"><a href="{{ path('app_display_announcement',{'id':announcement.id ,'type': announcement.type}) }}"> {{user.username}}</a></h4>

												<div class="announcement-desc">
													Ville : {{ user.city }}
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											{% if app.user %}
											{% if app.user.id == announcement.idUser.id %}

											<p>
												<a class="btn btn-warning btn-block" disabled="disabled" ><i class="glyphicon glyphicon-envelope"></i> Contacter </a>
											</p>

											{% else %}
											<p>
												<a class="btn btn-warning btn-block" id="material,{{announcement.id}},{{announcement.idUser}},"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" ><i class="glyphicon glyphicon-envelope"></i> Contacter </a>
											</p>

											{% endif %}

											{% else %}

											{% endif %}

											<a  class="btn btn-danger btn-block" href="{{path('app_display_profile_announcer',{'id':announcement.idUser.id})}}"> <i class=" glyphicon glyphicon-user"></i> Voir le profil</a>
										</div>
									</div>
									<div class="item-list announcement-item">

										<div class="content-footer text-left">
											<div class="w100 map" id="prop-map">
												<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387145.86637487786!2d-74.25819556904787!3d40.70531103651696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1473181424956" height="350" style="border:0;   width:100%"></iframe>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>



				


						<div class="col-md-3">
							<aside>
								<div class="well no-padding" >
									<div class="panel sidebar-panel panel-contact-seller">
										<div class="panel-heading">Réservation</div>

										<div class="panel-content user-info">
											<div class="panel-body text-center">
												<div class="seller-info">
													<h3 class="no-margin">{{announcement.price}}€</h3>

													<div class="form-group col-xs-6 no-padding">
														<div class=" input-group date datetimespicker" id="dateBegin">

															<label class=" control-label pull-left" for="textinput">Date de début</label>
															<input id="textinput" name="textinput" value="{{announcement.dateBegin|localizeddate('long', 'none', 'fr')}}" type="text" placeholder="placeholder" class="form-control">

														</div>
													</div>

													<div class="form-group col-xs-6 no-padding">

														<div class=" input-group date datetimespicker" id="dateBegin">

															<label class=" control-label pull-left" for="textinput">Date de fin</label>
															<input id="textinput" value="{{announcement.dateEnd|localizeddate('long', 'none', 'fr')}}" name="textinput" type="text" placeholder="placeholder" class="form-control">


														</div>
													</div>

												</div>
												{% if app.user %}
												{% if app.user.id == announcement.idUser.id %}

												<div class="user-ads-action">
													<a class="btn btn-danger" disabled="disabled">Demande de réservation</a>
												</div>


												{% else %}

												<div class="user-ads-action">
													<a class="btn btn-danger " id="reservation,material,{{announcement.id}},{{announcement.idUser}}," href="{{ path('app_display_reservation_material',{'idAnnouncement':announcement.id ,'type': announcement.type}) }}">Demande de réservation</a>
												</div>

												{% endif %}


												{% else %}

												{% endif %}

											</div>
										</div>
									</div>

								</div>


							</aside>

								<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
								<!-- DisplayAnnouncement -->
								<ins class="adsbygoogle"
								style="display:block"
								data-ad-client="ca-pub-4209971919449934"
								data-ad-slot="3769338807"
								data-ad-format="auto"></ins>
								<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
						</div>



						{% else %}

						<div class="col-md-9 page-content col-thin-right">
							<div class="well inner-box">
								<h2> Participation {{sport2.title}} </h2>
								<hr>
								<span class="info-row"> <span class="item-location"><i class="glyphicon glyphicon-map-marker"></i> {{announcement.place}} </span> <span class="date"></i> - Materiel</span>
								<span class=" salary"> <i class="glyphicon glyphicon-calendar"> </i> {{ announcement.dateBegin |localizeddate('long', 'none', 'fr')}}</span></span>

								
								<div class="announcement-details">
									<div class="announcement-details-info ">
										<div class="item-list announcement-item">

											<p><span class="description"> Description : </br>
												{{announcement.description}}</span></p>

												<p>
													
														</div>
													</div>
													<div class="item-list announcement-item">
														
														<div class="col-sm-6  add-desc-box">
															<div class="add-details jobs-item">
																<h4 class="announcement-title"><a href="{{ path('app_display_announcement',{'id':announcement.id ,'type': announcement.type}) }}"> {{app.user.username}}</a></h4>

																<div class="announcement-desc">
																	Ville : {{ announcement.place }}
																</div>
															</div>
														</div>
														<div class="col-sm-3">
															{% if app.user %}
															{% if app.user.id == announcement.idUser.id %}

															<p>
																<a class="btn btn-warning btn-block" disabled="disabled" ><i class="glyphicon glyphicon-envelope"></i> Contacter </a>
															</p>

															{% else %}
															<p>
																<a class="btn btn-warning btn-block" id="material,{{announcement.id}},{{announcement.idUser}},"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" ><i class="glyphicon glyphicon-envelope"></i> Contacter </a>
															</p>

															{% endif %}

															{% else %}

															{% endif %}

															<a  class="btn btn-danger btn-block" href="{{path('app_display_profile_announcer',{'id':announcement.idUser.id})}}"> <i class=" glyphicon glyphicon-user"></i> Voir le profil</a>
														</div>
													</div>
													<div class="item-list announcement-item">

														<div class="content-footer text-left">
															<div class="w100 map" id="prop-map">
																<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387145.86637487786!2d-74.25819556904787!3d40.70531103651696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1473181424956" height="350" style="border:0;   width:100%"></iframe>
															</div>
														</div>
													</div>
												</div>

											</div>
										</div>






										<div class="col-md-3">
											<aside>
												<div class="well no-padding" >
													<div class="panel sidebar-panel panel-contact-seller">
														<div class="panel-heading">Participation</div>

														<div class="panel-content user-info">
															<div class="panel-body text-center">
																<div class="seller-info">
																	<h3 class="no-margin">{{announcement.level.title}}</h3>

																	<div class="form-group col-xs-6 no-padding">
																		<div class=" input-group date datetimespicker" id="dateBegin">

																			<label class=" control-label pull-left" for="textinput">Date de début</label>
																			<input id="textinput" name="textinput" value="{{announcement.dateBegin|localizeddate('long', 'none', 'fr')}}" type="text" placeholder="placeholder" class="form-control">

																		</div>
																	</div>

																	<div class="form-group col-xs-6 no-padding">

																		<div class=" input-group date datetimespicker" id="dateBegin">

																			<label class=" control-label pull-left" for="textinput">Durée</label>
																			<input id="textinput" value="{{announcement.time|date('H:i:s')}}" name="textinput" type="text" placeholder="placeholder" class="form-control">


																		</div>
																	</div>

																</div>
																{% if app.user %}
																{% if app.user.id == announcement.idUser.id %}

																<div class="user-ads-action">
																	<a class="btn btn-danger" disabled="disabled">Participer</a>
																</div>


																{% else %}

																<div class="user-ads-action">
																	<a class="btn btn-danger " id="participation,material,{{announcement.id}},{{announcement.idUser}}," href="{{ path('app_display_participation_partner',{'idAnnouncement':announcement.id ,'type': announcement.type}) }}">Participer</a>
																</div>

																{% endif %}


																{% else %}

																{% endif %}

															</div>
														</div>
													</div>

												</div>


											</aside>

												<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
												<!-- DisplayAnnouncement -->
												<ins class="adsbygoogle"
												style="display:block"
												data-ad-client="ca-pub-4209971919449934"
												data-ad-slot="3769338807"
												data-ad-format="auto"></ins>
												<script>
												(adsbygoogle = window.adsbygoogle || []).push({});
												</script>
										</div>


						{% endif %}


					</div>
				</div>


				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="exampleModalLabel">Nouveau message</h4>
							</div>
							<div class="modal-body">
								<form>

									<div class="form-group">
										<label for="message-text" class="control-label">Message:</label>
										<textarea class="form-control" id="message-text" rows="10"></textarea>
									</div>
									<div style="display:none;">
										<div class="form-group" >
											<label for="message-text" class="control-label">idAnnnouncer:</label>
											<input type="text" value="{{announcement.idUser.id}}" class="form-control" id="idAnnouncerMod">
										</div>

										<div class="form-group" >
											<label for="message-text" class="control-label">type:</label>
											<input type="text" class="form-control" value="material" id="typeMod">
										</div>

										<div class="form-group" >
											<label class=" control-label" for="textinput">IdAnnouncement</label>
											<input name="textinput" type="text" value="{{announcement.id}}" class="form-control" id="idAnnouncementMod">
										</div>
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger"  data-dismiss="modal">Fermer</button>
								<button type="button" id="send" class="btn btn-next" data-dismiss="modal">Envoyer message</button>
							</div>
						</div>
					</div>
				</div>

				<script>

				$('#exampleModal').on('show.bs.modal', function (event) {
					console.log("modal");
					var button = $(event.relatedTarget) // Button that triggered the modal
					var recipient = button.data('whatever') // Extract info from data-* attributes
					// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
					// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
					var modal = $(this)
					modal.find('.modal-title').text('Nouveau message:' + recipient)

				})


				$("button.btn.btn-primary").click(function(){
					console.log('button btn primary');
					var data1 = ""+$(this).attr('id');
					console.log("button btn primary: "+data1);
					if(data1 != "send"){//mettre un if pour que le clique sur le bouton envoyer ne lance cette fonction
						//dans ce cas les valeurs dans les champs ne sont pas supprimés
						var theString = $(this).attr('id'),
						bits = theString.split(',').slice(0, -1); // split the string and remove the last one
						$("input#typeMod").val(bits[0]);
						$("input#idAnnouncementMod").val(bits[1]);
						$("input#idAnnouncerMod").val(bits[2]);
					}
					//var data = data1,item = data1.split(', ').slice(0, -1);
					//console.log(item.length);



					//$('#input#idAnswerMod').attr('id','bits[2]');
					//document.getElementById("input#idAnnouncementMod").innerHTML = bits[1];
				});

				$("button.btn.btn-next.btn-fab").click(function(){
					console.log('button btn primary1');
					//var data1 = ""+$(this).attr('id');
					//console.log(data1);
					//var data = data1,item = data1.split(', ').slice(0, -1);
					//console.log(item.length);

					$( this ).css( "background-color","red" );
					$( "button.btn.btn-next.btn-fab" ).html( "<button style='background-color:" +
					color + ";'>" + color + "</button>." );

					var theString = ""+$(this).attr('id'),
					bits = theString.split(',').slice(0, -1); // split the string and remove the last one
					console.log("string button btn next"+theString);
					/*console.log('autre'+bits[0]);
					console.log('id'+bits[1]);
					console.log('type'+bits[2]);*/
					/*$("input#idAnnouncementMod").val(bits[0]);
					$("input#idAskerMod").val(bits[1]);*/
					$type = bits[0];
					$id = bits[1];
					$user = bits[2];
					$.ajax({
						data: { id : $id, type : $type, user : $user },
						type: 'GET',
						url: "{{ path('app_update_favorite') }}"
					});

					//document.getElementById("input#idAnnouncementMod").innerHTML = bits[1];
				});


				$("button#contacter").click(function(){
					//FONCTIONNE PAS
					//$val ='1';
					//document.getElementById("form_quality").innerHTML = $val;
					//$( "form_quality" ).text('bonjour');
					var id = $(this).attr('id');
					console.log('contacter');
					$idAnswer=$("input#idAnswer").val();
					console.log($idAnswer);
					$idAnnouncement=$("input#idAnnouncementMod").val();
					console.log($idAnnouncement);
					document.getElementById("input#message-text-idAnswer").innerHTML = $idAnswer;
					//$( "#val" ).text( $val );
					//$( "#form_quality" ).val( '1');


				});

				$("button#send").click(function(){
					//$val ='1';
					//document.getElementById("form_quality").innerHTML = $val;
					//$( "form_quality" ).text('bonjour');
					console.log('send111');

					$type =$("input#typeMod").val();
					$message=$("textarea#message-text").val();
					//$message2=$("textarea#message2-text").val();
					$title=$("input#title-text").val();
					$idAnnouncement=$("input#idAnnouncementMod").val();
					$idAnnouncer= $("input#idAnnouncerMod").val();
					console.log("message"+$message);
					console.log("title: "+$title);
					console.log("announcement: "+$idAnnouncement);
					console.log("type: "+$type);
					//console.log("message2: "+$message2);

					$.ajax({
						type: "GET",
						url: "{{ path('app_insert_message_material') }}",
						data: {message : $message, title : $title, idAnnouncement : $idAnnouncement, idAnnouncer: $idAnnouncer, type : $type}

					});
					//document.getElementById("#val").innerHTML = 'bonjour';
					//$( "#val" ).text( $val );
					//$( "#form_quality" ).val( '1');

					//$( "#exampleModal" ).change('modal-fade');
					//$('body').attr(".modal-open").hide();
					//$( "#exampleModal" ).hide();
					$( "textarea#message-text.form-control" ).val("");

				});

				
				
				</script>


				<!-- /.container -->

				{{parent()}}

				{% endblock %}

				{% endblock %}

				{% block footer %}
				{{parent()}}
				{% endblock %}
