{% extends 'AppBundle::page.html.twig' %}

{% block title %}
{{parent()}}
{% endblock %}

{% block head %}
{{parent()}}



<script>
$( document ).ready(function() {
	//Initialize calendar datetimepicker
	$('#datepicker').datepicker({
		//Set the calendar in french
		locale: 'fr',
		format: 'YYYY-MM-DD'
	});



});

$(function () {
		$('#dateBeginMaterial').datetimepicker({
			locale: 'fr',
			format: 'YYYY-MM-DD'});
		});

$(function () {
	$('#dateBegin').datetimepicker({
		locale: 'fr',
		format: 'YYYY-MM-DD'});
	});

	$('#sandbox-container input').datepicker({
		format: "mm-dd-yyyy"
	});

	$(function () {
		$('#dateEnd').datetimepicker({
			locale: 'fr',
			format: 'YYYY-MM-DD'});
		});
	$(function () {
		$('#time').datetimepicker({
			locale: 'fr',
			format: 'HH:mm:ss'});
		});

		</script>

		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		{% endblock %}

		{% block body %}




		<!-- Navigation -->

		{% if app.user %}

		<nav class="navbar navbar-default navbar-custom-index navbar-fixed-top" style="box-shadow:none;">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only"></span>
						<i class="fa fa-bars"></i>
					</button>
					<a class="navbar-brand " href="{{ path('app_index') }}"> SharingSport <div style="font-size:15px">bêta</div></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a  href="{{ path('app_create_choice') }}" >{{ 'navbar.post_announcement'|trans }}</a>
						</li>
						<li>
							<a href="{{ path('app_message') }}" >  Message {% for numberViewMessage in numberViewMessage %}
								{% if numberViewMessage > 0 %}
								<span class="badge">{{numberViewMessage}} </span>
								{% else %}

								{% endif %}
								{% endfor %}</a>
							</li>

							<li class="dropdown">
								<a href="#" class="dropdown-toggle"   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="pull-left" style="margin-right:8px;margin-top:-5px;">
								{% if app.user.image == null %}
								<img id="img-circle" class="img-responsive img-circle img-profile" src="./images/profile.png">
								{% else %}
								<img id="img-circle" class="img-responsive img-circle img-profile" src="./{{app.user.getWebPath}}">
								{% endif %}
								 </span>{{ app.user.username }} <!--<span class="label label-danger notification-bubble">2</span>--></a>
								<!--../../../../../{{app.user.getUploadDir}}/{{app.user.image}}-->
								<ul class="dropdown-menu">
									<li><a style="color:black;" href="{{ path('app_profile_modify') }}">Mon profil</a></li>
									<li><a style="color:black;" href="{{ path('app_display_profile_announcement') }}">Mes annonces</a></li>
									<li><a style="color:black;" href="{{path('app_display_reservation')}}">Mes réservations</a></li>
									<li><a style="color:black;" href="{{ path('app_favorite_display') }}">Mes favoris</a></li>
									<li role="separator" class="divider"></li>
									<li><a style="color:red; font-weight:bold;"  href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->

			</nav>

			{% else %}
			<nav class="navbar navbar-default navbar-custom-index navbar-fixed-top" style="box-shadow:none;">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only"></span>
							<i class="fa fa-bars"></i>
						</button>
						<a class="navbar-brand"  href="#">SharingSport <div style="font-size:15px">bêta</div></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a id="create_choice" href="{{ path('app_create_choice') }}" >{{ 'navbar.post_announcement'|trans }}</a>
							</li>
							<li>
								<a id="connexion" data-toggle="modal" data-target="#myModal" href="#login" >Connexion</a>
							</li>
							<li>
								<a href="{{ path('fos_user_registration_register') }}" >Inscription</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>
			{% endif %}


			<!-- Page Header -->
			<!-- Set your background image for this header on the line below. -->

			<header class="intro-header" style="background-image: url({{ asset('style/cycling.jpg') }})">



				<div class="container" style="margin-top:0;">

					<div class="row" style="margin-top:0;">
						<div class="page-heading">
							<div class="col-md-8 col-md-offset-2 text-center">
								<h1 class="title">Partageons le sport</h1>

								<h4>Sharingsport est une application ludique, sportive et collaborative. Nous voulons promouvoir le partage, les rencontres, la santé, la forme et le bien être comme valeurs essentielles.</h4>
							</div>

							<div class="col-md-12 text-center">
								<div class="grip-card">
									<div class="grip-card-header" >
										<a class="grip-link-header" id="button_partenaire" style="color:#25a45b; z-index:1; position:relative;" onclick="javascript:afficher_formulaire('formulaire_partenaire')"> <i class="glyphicon glyphicon-flash"></i> Partenaire</a>
									</div>
									<div class="grip-card-header">
										<a class="grip-link-header" id="button_material" style="z-index:1;" onclick="javascript:afficher_formulaire('formulaire_material')"> <i class="glyphicon glyphicon-piggy-bank"></i> Materiel</a>
									</div>
								</div>
								<div class="card card-raised card-form-horizontal">




									<div class="content">


										<div id="formulaire_partenaire" class="formulaire_partenaire">

											{{ form_start(formPartner, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
											{{ form_errors(formPartner) }}

											<div class="row">
												<div class="col-md-3" >
													<div class="form-group">
														<div class="input-group header-group">
															<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>

															{{ form_errors(formPartner.place) }}
															{{ form_widget(formPartner.place, {'id': 'autocomplete2', 'attr': {'class': 'form-control', 'placeholder': 'Ville', 'onfocus': 'geocode()'}}) }}

														</div>
													</div>
												</div>
												<table id="address" style="display:none;">
													<tr>
														<td class="label">City</td>
														<td class="wideField" colspan="3"><input class="field" id="locality"
															disabled="true"></input></td>
														</tr>
														<tr>
															<td class="label">State</td>
															<td class="slimField"><input class="field"
																id="administrative_area_level_1" disabled="true"></input></td>
																<td class="label">Zip code</td>
																<td class="wideField"><input class="field" id="postal_code"
																	disabled="true"></input></td>
																</tr>
																<tr>
																	<td class="label">Country</td>
																	<td class="wideField" colspan="3"><input class="field"
																		id="country" disabled="true"></input></td>
																	</tr>
																</table>


																<div class="col-md-3">
																	<div class="form-group" >
																		<div class=" input-group header-group">
																			<span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
																			{{ form_errors(formPartner.sport) }}
																			{{ form_widget(formPartner.sport, {'attr': {'class': 'form-control' }}) }}
																		</div>
																	</div>
																</div>

																<div class="col-md-2" style="padding-right:0">
																	<div class="form-group">
																		<div class=" input-group header-group date datetimespicker" id="dateBegin">
																			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
																			{{ form_errors(formPartner.dateBegin) }}
																			{{ form_widget(formPartner.dateBegin, {'attr': {'class': ' datetimepicker form-control','placeholder':'Début'}}) }}
																		</div>
																	</div>
																</div>


																<div class="col-md-2" style="padding-left:0">
																	<div class="form-group">
																		<div class=" input-group header-group date datetimespicker" id="time">
																			<span class="input-group-addon"><i class="glyphicon glyphicon-minus"></i></span>
																			{{ form_errors(formPartner.time) }}
																			{{ form_widget(formPartner.time, {'attr': {'class': ' timepicker form-control','placeholder':'Temps'}}) }}
																		</div>
																	</div>
																</div>

																<div class="col-md-2" >

																	{{ form_widget(formPartner.save, { 'label': " Rechercher "|trans, 'attr': { 'class': 'btn btn-next btn-block'} }) }}
																	{{ form_end(formPartner) }}
																</div>



															</div>
														</div>

														<div id="formulaire_material" class="formulaire_material" style="display:none;">
															{{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
															{{ form_errors(form) }}

															<div class="row">
																<div class="col-md-3" >
																	<div class="form-group">
																		<div class="input-group header-group">
																			<span class="input-group-addon"><i class="glyphicon glyphicon-map-marker"></i></span>

																			{{ form_errors(form.place) }}
																			{{ form_widget(form.place, {'id': 'autocomplete', 'attr': {'class': 'form-control', 'placeholder': 'Ville', 'onfocus': 'geocode()'}}) }}

																		</div>
																	</div>
																</div>


																<table id="address" style="display:none;">
																	<tr>
																		<td class="label">City</td>
																		<td class="wideField" colspan="3"><input class="field" id="locality"
																			disabled="true"></input></td>
																		</tr>
																		<tr>
																			<td class="label">State</td>
																			<td class="slimField"><input class="field"
																				id="administrative_area_level_1" disabled="true"></input></td>
																				<td class="label">Zip code</td>
																				<td class="wideField"><input class="field" id="postal_code"
																					disabled="true"></input></td>
																				</tr>
																				<tr>
																					<td class="label">Country</td>
																					<td class="wideField" colspan="3"><input class="field"
																						id="country" disabled="true"></input></td>
																					</tr>
																				</table>


																				<div class="col-md-3">
																					<div class="form-group" >
																						<div class=" input-group header-group">
																							<span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
																							{{ form_errors(form.sport) }}
																							{{ form_widget(form.sport, {'attr': {'class': 'form-control' }}) }}
																						</div>
																					</div>
																				</div>

																				<div class="col-md-2" style="padding-right:0">
																					<div class="form-group">
																						<div class=" input-group header-group date datetimespicker" id="dateBeginMaterial">
																							<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
																							{{ form_errors(form.dateBegin) }}
																							{{ form_widget(form.dateBegin, {'attr': {'class': ' datetimepicker form-control','placeholder':'Début'}}) }}
																						</div>
																					</div>
																				</div>



																				<div class="col-md-2" style="padding-left:0">
																					<div class="form-group">
																						<div class=" input-group header-group date datetimespicker" id="dateEnd">
																							<span class="input-group-addon"><i class="glyphicon glyphicon-minus"></i></span>
																							{{ form_errors(form.dateEnd) }}
																							{{ form_widget(form.dateEnd, {'attr': {'class': ' datetimepicker form-control','placeholder':'Fin'}}) }}
																						</div>
																					</div>
																				</div>

																				<input type="text" name="quality" size="12" id="quality" value="6" style="display:none;"><br>  
																				<input type="text" name="cleanliness" size="12" id="cleanliness" style="display:none;" value="-1">
																				<input type="text" name="price" size="12"  id="price" value="0" style="display:none;"> 



																				<div class="col-md-2" >

																					{{ form_widget(form.save, { 'label': " Rechercher "|trans, 'attr': { 'class': 'btn btn-next btn-block'} }) }}
																					{{ form_end(form) }}
																				</div>
																			</div>
																		</div>





																	</div>


																</div>






															</header>

															<div class="container ">
																<h2><small>Villes</small></h2>
																<a href="{{ path('app_set_locale', {'language': 'fr'}) }}">FR</a>
																<a href="{{ path('app_set_locale', {'language': 'en'}) }}">EN</a>
																<div class="row">
																	<div class="col-md-4">
																		<a href="{{ path('app_announcement_place',{'place':'Paris, France'})  }}"><img src="{{ asset('style/Paris.jpg') }}" class="img-responsive"></a>

																		{% for numberAnnouncementParis in numberAnnouncementParis %}
																		<h3>Paris <small>{{numberAnnouncementParis}} annonces</small></h3>
																		{% endfor %}
																	</div>

																	<div class="col-md-4">
																		<a href="{{ path('app_announcement_place',{'place':'Lorient, France'})  }}"><img src="{{ asset('style/Lyon.jpg') }}" class="img-responsive"></a>
																		<h3>Lorient <small>{% for numberAnnouncementLorient in numberAnnouncementLorient %}{{numberAnnouncementLorient}}{% endfor %} annonces</small></h3>
																	</div>
																	<div class="col-md-4">
																		<a href="{{ path('app_announcement_place',{'place':'Nantes, France'})  }}"><img src="{{ asset('style/Nantes2.jpg') }}" class="img-responsive"></a>
																		<h3>Nantes <small>{% for numberAnnouncementNantes in numberAnnouncementNantes %}{{numberAnnouncementNantes}}{% endfor %} annonces</small></h3>
																	</div>
																	<div class="col-md-4">
																		<a href="{{ path('app_announcement_place',{'place':'Lyon, France'})  }}"><img src="{{ asset('style/Lyon.jpg') }}" class="img-responsive media-index"></a>
																		<h3>Lyon <small>{% for numberAnnouncementLyon in numberAnnouncementLyon %}{{numberAnnouncementLyon}}{% endfor %} annonces</small></h3>
																	</div>
																	<div class="col-md-4">
																		<a href="{{ path('app_announcement_place',{'place':'Marseille, France'})  }}"><img src="{{ asset('style/Marseille2.jpg') }}" class="img-responsive media-index"></a>
																		<h3>Marseille <small>{% for numberAnnouncementMarseille in numberAnnouncementMarseille %}{{numberAnnouncementMarseille}}{% endfor %} annonces</small></h3>
																	</div>
																</div>
															</div>
															<div class="container">
																<div class="col-md-8 col-md-offset-2">
																	<h2 class="featurette-heading text-center">
																		Postez, rencontrez, profitez</h2>
																		<H5 class="card-description text-center">
																			Plus besoin d’acheter de matériel, plus de licence, une communauté de sportif à votre disposition et tout cela réuni dans une seule et même application.</H5>
																			<div class="col-md-8 col-md-offset-2">

																				<a href="{{ path('fos_user_registration_register') }}"><button class="btn btn-next"> Inscrivez-vous maintenant  </button></a>
																			</div>
																		</div>
																	</div>
																	<div class="container ">
																		<h2><small>Les dernières annonces</small></h2>
																		<div class="row">
																			{% for announcementLastThree in announcementLastThree %}
																			<div class="col-md-4">

																				<div class="well">
																					<a href ="{{ path('app_display_announcement',{'id':announcementLastThree.id ,'type': announcementLastThree.type}) }}">
																						<img  src="../AnnouncementMaterial/{{announcementLastThree.idUser.email}}/{{announcementLastThree.id}}/{{announcementLastThree.imageFirst}}" class="img-responsive media-object-normal">
																					</a><h3 style="text-align:center;"><strong>{{announcementLastThree.price}}€</strong></h3>
																				</div>
																			</div>
																			{% endfor %}
																		</div>
																	</div>
																	<div class="container">
																		<div class="row featurette" style="margin-top:100px;">
																			<div class="col-md-7">
																				<h2 class="featurette-heading">Louer votre matériel sportif</h2>
																				<H5 class="card-description">Prêter votre matériel sportif contre de l'argent. C'est simple, déposé une annonce matériel et attendez les offres.</H5>
																				<a href="{{ path('app_create_choice') }}"><button class="btn btn-next"> Déposer votre annonce  </button></a>
																			</div>
																			<div class="col-md-5">
																				<img class="featurette-image img-responsive center-block" src="{{ asset('style/girlbike.jpg') }}" alt="Generic placeholder image">
																			</div>
																		</div>
																	</div>



																	<script>

																	function afficher_formulaire(id)
																	{
																		if (id == "formulaire_partenaire"){
																			var x = document.getElementById(id)
																			document.getElementById(id).style.display='block';
																			document.getElementById("button_partenaire").style.color="#25a45b";
																			document.getElementById("button_partenaire").style.position="relative";

																			document.getElementById("button_material").style.color="";
																			document.getElementById("formulaire_material").style.display='none';
																			document.getElementById("button_material").style.position="";

																		}

																		else if (id == "formulaire_material") {


																			document.getElementById(id).style.display='block';
																			document.getElementById("button_material").style.color="#25a45b";
																			document.getElementById("button_material").style.position="relative";

																			document.getElementById("button_partenaire").style.color="";
																			document.getElementById("formulaire_partenaire").style.display='none';
																			document.getElementById("button_partenaire").style.position="";
																		}
																	}
																	</script>

																	<script>
																	var placeSearch, autocomplete;
																	var componentForm = {
																		locality: 'long_name',
																		administrative_area_level_1: 'short_name',
																		country: 'long_name',
																		postal_code: 'short_name'
																	};



																	function initAutocomplete() {
																		// Create the autocomplete object, restricting the search to geographical
																		// location types.
																		autocomplete = new google.maps.places.Autocomplete(
																			/** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
																			{types: ['geocode']});

																		autocomplete2 = new google.maps.places.Autocomplete(
																			/** @type {!HTMLInputElement} */(document.getElementById('autocomplete2')),
																			{types: ['geocode']});

																			// When the user selects an address from the dropdown, populate the address
																			// fields in the form.
																			autocomplete.addListener('place_changed', fillInAddress);
																		}

																		// [START region_fillform]
																		function fillInAddress() {
																			// Get the place details from the autocomplete object.
																			var place = autocomplete.getPlace();

																			for (var component in componentForm) {
																				document.getElementById(component).value = '';
																				document.getElementById(component).disabled = false;
																			}

																			// Get each component of the address from the place details
																			// and fill the corresponding field on the form.
																			for (var i = 0; i < place.address_components.length; i++) {
																				var addressType = place.address_components[i].types[0];
																				if (componentForm[addressType]) {
																					var val = place.address_components[i][componentForm[addressType]];
																					document.getElementById(addressType).value = val;
																				}
																			}
																		}
																		// [END region_fillform]


																		</script>
																		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC17VNgOXiwIuU4beERtNwXOa7CYm7ODec&signed_in=true&libraries=places&callback=initAutocomplete"
																		async defer></script>

																	</body>
																</body>
																</html>

																<!-- Modal Register -->
																<div id="myModal1" class="modal modal-static fade" tabindex="-1" role="dialog">
																	<div class="modal-dialog">
																		<div class="modal-content">
																			<div class="modal-body">
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>

																				<a class="btn btn-block btn-social btn-facebook " href="https://sharingsport.fr/Symfony/web/app_dev.php/connect/facebook">
																					<span class="fa fa-facebook"></span> Continuer avec Facebook
																				</a>
																				<hr>
																				<div class="block">
																					<div class="content">
																						<form action="{{ path("fos_user_security_check") }}" method="post">

																							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

																							<div class="form-group">
																								<div class="cols-sm-10">
																									<div class="input-group">
																										<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-user fa" aria-hidden="true"></i></span>
																										<input class="form-control" type="text" id="username" name="_username" value="" placeholder="Adresse email" style="border-left:0; padding:0;"/>
																									</div>
																								</div>
																							</div>


																							<div class="form-group">
																								<div class="cols-sm-10">
																									<div class="input-group">
																										<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
																										<input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe" required="required" style="border-left:0; padding:0;" />
																									</div>
																								</div>
																							</div>

																							<div class="form-group">
																								<div class="cols-sm-10">
																									<div class="input-group">
																										<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
																										<input class="form-control" type="password" id="password" name="_password" placeholder="Retaper le mot de passe" required="required" style="border-left:0; padding:0;" />
																									</div>
																								</div>
																							</div>

																							<input class="btn btn-next btn-block" type="submit" id="_submit" name="_submit" style="color:white; background:#25a45b;" value="{{ "Connexion"|trans }}" />
																						</form>

																						<a style="color:black;"href="{{ path('fos_user_registration_register') }}">Déjà inscrit ?</a>

																					</div>

																				</div>
																			</div>
																		</div>
																	</div>

																</div>

																<!-- Modal Login -->
																<div id="myModal" class="modal modal-static fade" tabindex="-1" role="dialog">
																	<div class="modal-dialog">
																		<div class="modal-content">
																			<div class="modal-body">
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>

																				<a class="btn btn-block btn-social btn-facebook " href="#" onclick="fb_login();">
																					<span class="fa fa-facebook"></span> Connexion avec Facebook
																				</a>
																				<hr>
																				<div class="block">
																					<div class="content">
																						<form action="{{ path("fos_user_security_check") }}" method="post">

																							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

																							<div class="form-group">
																								<div class="cols-sm-10">
																									<div class="input-group">
																										<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-user fa" aria-hidden="true"></i></span>
																										<input class="form-control" type="text" id="username" name="_username" value="" placeholder="Username" style="border-left:0; padding:0;"/>
																									</div>
																								</div>
																							</div>


																							<div class="form-group">
																								<div class="cols-sm-10">
																									<div class="input-group">
																										<span class="input-group-addon" style="background:white; border-right:0;"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
																										<input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe" required="required" style="border-left:0; padding:0;" />
																									</div>
																								</div>
																							</div>

																							<p style="margin: 15px 0px;">
																								<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
																								<label for="remember_me">Se souvenir de moi</label>
																							</p>

																							<input class="btn btn-next btn-block" type="submit" id="_submit" name="_submit" style="color:white; background:#25a45b;" value='{{ "Connexion"|trans }}' />
																						</form>

																						<a id="notRegister" style="color:black;"href="{{ path('fos_user_registration_register') }}">Pas encore inscrit ?</a>

																					</div>

																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div id="fb-root"></div>
																<script>
																window.fbAsyncInit = function() {

																	// init the FB JS SDK
																	FB.init({
																		appId      : '255611071557186',                        // App ID from the app dashboard
																		channelUrl : '//sharingsport.fr',      // Channel file for x-domain comms
																		status     : true,                                 // Check Facebook Login status
																		xfbml      : true                                  // Look for social plugins on the page
																	});
																};

																// Load the SDK asynchronously
																(function(d, s, id){
																	var js, fjs = d.getElementsByTagName(s)[0];
																	if (d.getElementById(id)) {return;}
																	js = d.createElement(s); js.id = id;
																	js.src = "//connect.facebook.net/en_US/all.js";
																	fjs.parentNode.insertBefore(js, fjs);
																}(document, 'script', 'facebook-jssdk'));

																function fb_login() {
																	FB.getLoginStatus(function(response) {
																		if (response.status === 'connected') {
																			// connected

																			document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
																		} else {
																			// not_authorized
																			FB.login(function(response) {
																				if (response.authResponse) {

																					alert(response.email);
																					document.location = "{{ url("hwi_oauth_service_redirect", {service: "facebook"}) }}";
																				} else {

																				}
																			}, {scope: 'email'});
																		}
																	});
																}
																</script>


															</div>

															{% endblock %}
