<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
	<link href="{{ asset('style/inscription.css') }}" rel="stylesheet" />
	<link href="{{ asset('style/normalize.css') }}" rel="stylesheet" />
	<link href="{{ asset('style/icons.css') }}" rel="stylesheet" />
	<link href="{{ asset('style/header.css') }}" rel="stylesheet" />
	<link href="{{ asset('style/icons.css') }}" rel="stylesheet" />
	<link href="{{ asset('style/header.css') }}" rel="stylesheet" />
	<link href="{{ asset('style/header1.css') }}" rel="stylesheet" />
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='http://goo.gl/aKZw83'></script>
        <script src="./style/js/index.js"></script>
        <script src="./style/js/index2.js"></script>

        <title>Inscription | SharingSport</title>
        </head>
        <header>
        <nav id="navigation">
        <a href="{{ path('app_platform_homepage')}}" class="logo" title="Logo">Sharingsport</a>
        <ul class="links">
        <li><a href="{{ path('app_platform_connexion')}}" title="Connectez vous à SharingSport">Connexion</a></li>
        <li><a href="{{ path('app_platform_inscription')}}" title="Rejoignez la communauté SharingSport et partager le sport autrement">Inscription</a></li>
        <li><a href="{{ path('app_platform_homepage')}}" title="">Solution collaboratif</a></li>
        </ul>
        </nav>
        </header>
  <body>
<div class="container">
<h1>Inscription à SharingSport </h1>
<a class="socialbox facebook" href="https://www.facebook.com/">
  <div class="social-icon">
    <i class="fa fa-fw fa-facebook"></i>
  </div>
  <div class="description">
    <span class="ng-binding-shares"></span>
    <span class="ng-binding-likes"></span>
    <span>Inscription avec Facebook</span>
  </div>
</a>
</br></br></br>
<div class="separator-with-label"><hr><label><span>OU</span></label></div>
</br>
  <form>
    <div class="row">
      <h4>Pour s'inscrire à Sharingsport, compléter le formulaire ci-dessous.</h4>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Nom *"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Prénom"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="email" placeholder="Adresse email"/>
        <div class="input-icon"><i class="fa fa-envelope"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="password" placeholder="Mot de passe"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="password" placeholder="Confirmer le mot de passe"/>
        <div class="input-icon"><i class="fa fa-key"></i></div>
      </div>
    </div>
    <div class="row">
      <div class="col-half">
        <h4>Date de naissance *</h4>
        <div class="input-group">
          <div class="col-third">
            <input type="text" placeholder="JJ"/>
          </div>
          <div class="col-third">
            <input type="text" placeholder="MM"/>
          </div>
          <div class="col-third">
            <input type="text" placeholder="AAAA"/>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <h4>Terms and Conditions</h4>
      <div class="input-group">
        <input type="checkbox" id="terms"/>
        <label for="terms">J'accepte les <a href="">conditions d'utilisation</a></label>
      </div>
    </div>
  </br>
    <div class="row-button">
    <input type="submit" value="Valider" class="sign-up-button">
  </div>
  </form>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>



  </body>
</html>
