{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}

{% endblock %}
{% block content %}

{% block body %}
	<div class="container">
			<div class="row">

				<div class="col-md-9 page-content">
					<div class="well inner-box">
						<div class="inner-box category-content">
							<h4 class="list-title"><strong>Modifiez votre annonce</strong></h4>
							<div class="row">
								<div class="col-sm-12 form-horizontal">

									{{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
									{{ form_errors(form) }}


									<div class="form-group">
										{{ form_label(form.description, "Description", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
										<div class="col-md-8">
											{{ form_errors(form.description) }}
											{{ form_widget(form.description, {'attr': {'class': 'form-control',  'placeholder':'', 'row': '10'}}) }}

										</div>
									</div>



									<div class="pull-right">
										{{ form_widget(form.save, { 'label': "Continuer", 'attr': { 'class': 'btn btn-submit '} }) }}
										{{ form_end(form) }}
									</div>
								</div>
							</div>
						</div>
					</div>



				</div>
				
				</div>
			</div>


	


<script>

 $(".btn.btn-danger.btn-block").click(function(){
    console.log('button btn danger');
    var data1 = ""+$(this).attr('id');
    console.log("button btn danger: "+data1);
    
      var theString = $(this).attr('id'),
      bits = theString.split(',').slice(0, -1); // split the string and remove the last one
      $("input#typeMod").val(bits[0]);//a supprimer
      $("input#idAnnouncementMod").val(bits[1]);//a supprimer
      $("input#idAnswerMod").val(bits[2]);//a supprimer
	  $idAnnouncement=bits[1];
		if(bits[0] == "material"){
			//ce code a été rajouter à voir si les autres boutons ne chevauchent pas
			
			console.log('id='+$idAnnouncement);
			$.ajax({
			  type: "GET",
			  url: "{{ path('app_delete_announcement_material') }}",
			  data: {id : $idAnnouncement}

			});
		}else{
			//ce code a été rajouter à voir si les autres boutons ne chevauchent pas
			
			console.log('id='+$idAnnouncement);
			$.ajax({
			  type: "GET",
			  url: "{{ path('app_delete_announcement_partner') }}",
			  data: {id : $idAnnouncement}

			});
		
		}
	  $(this).parents("div").css("display", "none");

   
});

 $(".btn.btn-success.btn-block").click(function(){
    console.log('button btn sucess');
    var data1 = ""+$(this).attr('id');
    console.log("button btn sucess: "+data1);
    
      var theString = $(this).attr('id'),
      bits = theString.split(',').slice(0, -1); // split the string and remove the last one
      $("input#typeMod").val(bits[0]);
      $("input#idAnnouncementMod").val(bits[1]);
      $("input#idAnswerMod").val(bits[2]);
	  $idAnnouncement= bits[1];
	  if(bits[0] == "material"){
	  //ce code a été rajouter à voir si les autres boutons ne chevauchent pas
	   
	    console.log('id='+$idAnnouncement);
		$.ajax({
		  type: "GET",
		  url: "{{ path('app_validate_announcement_material') }}",
		  data: {id : $idAnnouncement}

		});
		
	  }else{
		
	    console.log('id='+$idAnnouncement);
		$.ajax({
		  type: "GET",
		  url: "{{ path('app_validate_announcement_partner') }}",
		  data: {id : $idAnnouncement}

		});
	  
	  }
	  //$('#'+theString).hide();
	  
	  $(this).parents("div").css("display", "none");


    
});

</script>
{{parent()}}

  {% endblock %}

  {% endblock %}

  {% block footer %}
  {{parent()}}
  {% endblock %}