{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}

{% endblock %}
{% block content %}

{% block body %}



		======PARTNER======
		{% for announcementPartner in announcementPartner %}
		<div class="item-list announcement-item">

		<div class="col-sm-3 no-padding photobox">
		  <div class="add-image">
			<span class="photo-count">
			  <i class="glyphicon glyphicon-camera">  </i>
			  2
			</span>
			
		  </div>
		</div>

		<div class="col-sm-6  add-desc-box">
		  <div class="add-details jobs-item">
			<h5 class="announcement-type">
			  Partenaire
			</h5>
			<h4 class="announcement-title"> {{ announcementPartner.title }} </h4>
			<span class="info-row">
			  <span class="item-location"><i class="glyphicon glyphicon-map-marker"></i> {{announcementPartner.place}} </span>
			  <span class="date"><i class="glyphicon glyphicon-calendar"> </i> {{ announcementPartner.dateBegin |localizeddate('long', 'none', 'fr')}}</span>
			  <span class="time"><i class="glyphicon glyphicon-time"> </i> {{ announcementPartner.time |localizeddate('long', 'none', 'fr')}}</span>
			</span>
			<div class="announcement-desc">
			  Description: {{ announcementPartner.description }}
			  Nombre de places: {{ announcementPartner.numberPlaces}}
			</div>
		  </div>
		</div>
		<div class="col-sm-3 text-right price-box">
		 
		  <h3 class="item-price ">{{ announcementPartner.numberPlaces}}
		  </div>
			 <div class="col-sm-3">
			 {{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
			{{ form_errors(form) }}
			
			{{ form_widget(form.save, { 'label': " Valider annonce "|trans, 'attr': { 'class': 'btn btn-next btn-block'} }) }}
			{{ form_end(form) }}
				<p>
				<a class="btn btn-success btn-block" style="display:block;" id="partner,{{announcementPartner.id}},{{announcementPartner.idUser}},"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="glyphicon glyphicon-edit"></i> Valider</a>
			  </p>
				<a class="btn btn-danger btn-block" id="partner,{{announcementPartner.id}},{{announcementPartner.idUser}}," type="button" style="background-color:"><i class="glyphicon glyphicon-trash"></i> Supprimer</a>
			  </div>
		</div>
		{% endfor %}


<script>

 $(".btn.btn-danger.btn-block").click(function(){
    console.log('button btn danger');
    var data1 = ""+$(this).attr('id');
    console.log("button btn danger: "+data1);
    
      var theString = $(this).attr('id'),
      bits = theString.split(',').slice(0, -1); // split the string and remove the last one
      $("input#typeMod").val(bits[0]);//a supprimer
      $("input#idAnnouncementMod").val(bits[1]);//a supprimer
      $("input#idAnswerMod").val(bits[2]);//a supprimer
	  $idAnnouncement=bits[1];
		if(bits[0] == "material"){
			//ce code a été rajouter à voir si les autres boutons ne chevauchent pas
			
			console.log('id='+$idAnnouncement);
			$.ajax({
			  type: "GET",
			  url: "{{ path('app_delete_announcement_material') }}",
			  data: {id : $idAnnouncement}

			});
		}else{
			//ce code a été rajouter à voir si les autres boutons ne chevauchent pas
			
			console.log('id='+$idAnnouncement);
			$.ajax({
			  type: "GET",
			  url: "{{ path('app_delete_announcement_partner') }}",
			  data: {id : $idAnnouncement}

			});
		
		}
	  $(this).parents("div").css("display", "none");

   
});

 $(".btn.btn-success.btn-block").click(function(){
    console.log('button btn sucess');
    var data1 = ""+$(this).attr('id');
    console.log("button btn sucess: "+data1);
    
      var theString = $(this).attr('id'),
      bits = theString.split(',').slice(0, -1); // split the string and remove the last one
      $("input#typeMod").val(bits[0]);
      $("input#idAnnouncementMod").val(bits[1]);
      $("input#idAnswerMod").val(bits[2]);
	  $idAnnouncement= bits[1];
	  if(bits[0] == "material"){
	  //ce code a été rajouter à voir si les autres boutons ne chevauchent pas
	   
	    console.log('id='+$idAnnouncement);
		$.ajax({
		  type: "GET",
		  url: "{{ path('app_validate_announcement_material') }}",
		  data: {id : $idAnnouncement}

		});
		
	  }else{
		
	    console.log('id='+$idAnnouncement);
		$.ajax({
		  type: "GET",
		  url: "{{ path('app_validate_announcement_partner') }}",
		  data: {id : $idAnnouncement}

		});
	  
	  }
	  //$('#'+theString).hide();
	  
	  $(this).parents("div").css("display", "none");


    
});

</script>
{{parent()}}

  {% endblock %}

  {% endblock %}

  {% block footer %}
  {{parent()}}
  {% endblock %}