{% extends 'AppBundle::page.html.twig' %}

{% block header %}
{{parent()}}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
{% block head %}
{{parent()}}


{% endblock %}
{% block content %}

{% block body %}

<!-- Page Content -->


	<div class="container">
		<div class="row">

			<div class="col-sm-3 hidden-sm hidden-xs">
        <aside>
					<div class="well inner-box">
            <div class="user-panel-sidebar">
              <div class="collapse-box">
                <h5 class="collapse-title no-border"> Mon profil <a href="#MyClassified" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                <div class="panel-collapse collapse in" id="MyClassified">
                  <ul class="acc-list">
                    <li><a href="{{ path('app_profile_modify') }}"><i class="glyphicon glyphicon-home"></i>
                      Page perso </a></li>
                    </ul>
                  </div>
                </div>

                <div class="collapse-box">
                  <h5 class="collapse-title"> Mon compte <a href="#MyAds" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                  <div class="panel-collapse collapse in" id="MyAds">
                    <ul class="acc-list">
                      <li><a href="{{ path('app_display_profile_announcement') }}"><i class="glyphicon glyphicon-th-large"></i> Mes annonces <span class="badge">{% for numberAnnouncementUser in numberAnnouncementUser %}{{numberAnnouncementUser}}{% endfor %}</span> </a></li>
                      <li><a href="{{ path('app_favorite_display') }}"><i class="glyphicon glyphicon-heart"></i>
                        Mes favoris <span class="badge">{% for numberFavoriteMaterialUser in numberFavoriteMaterialUser %}{{numberFavoriteMaterialUser}}{% endfor %}</span> </a></li>
                        <li><a href="{{path('app_display_reservation')}}"><i class="glyphicon glyphicon-book"></i>
                          Mes réservations <span class="badge">{% for numberReservationMaterialUser in numberReservationMaterialUser %}{{numberReservationMaterialUser}}{% endfor %}</span> </a></li>
                          <li><a class="active" href="{{ path('app_message') }}"><i class="glyphicon glyphicon-envelope"></i> Mes messages <span class="badge">0</span></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="collapse-box">
                      <h5 class="collapse-title"> Supression <a href="#TerminateAccount" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                      <div class="panel-collapse collapse in" id="TerminateAccount">
                        <ul class="acc-list">
                          <li><a href="account-close.html"><i class="icon-cancel-circled "></i> Supprimer mon compte </a></li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>

                  </aside>
                </div>


			<div class="col-sm-9 page-content">

					<div class="well inner-box">
					{% for conversation in conversation %}

					<table id="table-message" class="table">

							<tbody>
									<tr>
										<td><img class="img-responsive img-circle img-profile" src="../../../../../{{app.user.getUploadDir}}/{{app.user.image}}"> </td><td>{{ conversation.idUser.username}}</td>
										<td><a href="{{ path('app_display_message_material',{'idViewer':conversation.idUser ,'idAnnouncement': conversation.idAnnouncement.id}) }}" style="display:block; color:black;">{{conversation.title}}</a></td>
										<td>{{conversation.dateMessage|localizeddate('long', 'none', 'fr')}}</td>
										<td>{% if conversation.numberMessages in [0,1] %} {{conversation.numberMessages}} message {% else %} {{conversation.numberMessages}} messages {% endif %}  </td>

									</tr>
							</tbody>
					</table>

					{% endfor %}

					


				</div>
			</div>
		</div>
</div>
<!-- /.container -->

{{parent()}}

{% endblock %}

{% endblock %}

{% block footer %}
{{parent()}}
{% endblock %}
