{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}

<script src="js/fitrify.js"></script>

<script>
$( document ).ready(function() {
  //Initialize calendar datetimepicker
  $('#datepicker').datepicker({
    //Set the calendar in french
    locale: 'fr',
    format: 'YYYY-MM-DD'
  });


});

$(function () {
  $('#dateBegin').datetimepicker({
    locale: 'fr',
    format: 'YYYY-MM-DD'});
  });
  $('#sandbox-container input').datepicker({
    format: "mm-dd-yyyy"
  });
  $(function () {
    $('#dateEnd').datetimepicker({
      locale: 'fr',
      format: 'YYYY-MM-DD'});
    });
    </script>

    {% endblock %}
    {% block content %}

    {% block body %}

    <div class="search-row-wrapper" style="background-image: url({{ asset('style/cycling.jpg') }})">
      <div class="col-md-10 col-md-offset-1">
        <div class="card card-raised card-form-horizontal no-margin">
          <div class="content">
            {{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
            {{ form_errors(form) }}
            <div class="row">
              <div class="col-md-3" >
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon" style="background-color:white; border-left:0; border-right:0; border-top:0; border-radius:0;">
                      <div class="glyphicon glyphicon-map-marker"></div>
                    </div>
                    {{ form_errors(form.place) }}
                    {{ form_widget(form.place, {'id': 'autocomplete', 'attr': {'class': 'form-control', 'placeholder': 'Entrez votre ville', 'onfocus': 'geocode()', 'style': 'height:45px; border-radius:0; border-left:0; border-right:0; border-top:0; '}}) }}
                  </div>
                </div>
              </div>
              <table id="address" style="display:none;">
                <tr>
                  <td class="label">City</td>
                  <td class="wideField" colspan="3"><input class="field" id="locality"
                    disabled="true"></input></td>
                  </tr>
                  <tr>
                    <td class="label">State</td>
                    <td class="slimField"><input class="field"
                      id="administrative_area_level_1" disabled="true"></input></td>
                      <td class="label">Zip code</td>
                      <td class="wideField"><input class="field" id="postal_code"
                        disabled="true"></input></td>
                      </tr>
                      <tr>
                        <td class="label">Country</td>
                        <td class="wideField" colspan="3"><input class="field"
                          id="country" disabled="true"></input></td>
                        </tr>
                      </table>
                      <div class="col-md-3">
                        <div class="form-group" >
                          <div class=" input-group">
                            <div class="input-group-addon" style="background-color:white; border-left:0; border-right:0; border-top:0; border-radius:0;">
                              <div class="	glyphicon glyphicon-tag"></div>
                            </div>
                            {{ form_errors(form.sport) }}
                            {{ form_widget(form.sport, {'attr': {'class': 'form-control', 'style': 'height:45px; border-left:0; border-right:0; border-top:0; border-radius:0; outline: 0; -webkit-box-shadow: none; box-shadow: none; ' }}) }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3" >
                        <div class="form-group" >
                          <div class=" input-group date datetimespicker" id="dateBegin">
                            <div class="input-group-addon" style="background-color:white; border-left:0; border-right:0; border-top:0; border-radius:0;">
                              <div class="glyphicon glyphicon-calendar"></div>
                            </div>
                            {{ form_errors(form.dateBegin) }}
                            {{ form_widget(form.dateBegin, {'attr': {'class': ' datetimepicker form-control','placeholder':'Date de début', 'style': 'height:45px; border-left:0; border-right:0; border-top:0; border-radius:0; outline: 0; -webkit-box-shadow: none; box-shadow: none;  '}}) }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        {{ form_widget(form.save, { 'label': " Rechercher "|trans, 'attr': { 'class': 'btn btn-next btn-block', 'style': 'height:45px;'} }) }}
                        {{ form_end(form) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container" style="margin-top:0px;">
              <div class="row">
                <div class="col-sm-3 page-sidebar mobile-filter-sidebar"  >
                  <aside>
                    <div class="well inner-box">


					  {{ form_start(formFilter, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
						{{ form_errors(formFilter) }}

						<div class="list-filter">
                        <h5 class="list-title">
                          <strong>
                            Date
                          </strong>
                        </h5>
                        <div class="filter-date filter-content">

                              <div class="form-group" >
                                <div class=" input-group date datetimespicker" id="dateEnd">
                                  <div class="input-group-addon" style="background-color:white; border-left:0; border-right:0; border-top:0; border-radius:0;">
                                    <div class="glyphicon glyphicon-calendar"></div>
                                  </div>
                                  {{ form_errors(formFilter.dateEnd) }}
                                  {{ form_widget(formFilter.dateEnd, {'attr': {'class': ' datetimepicker form-control','placeholder':'Date de début', 'style': 'height:45px; border-left:0; border-right:0; border-top:0; border-radius:0; outline: 0; -webkit-box-shadow: none; box-shadow: none;  '}}) }}
                                </div>
                              </div>

                        </div>
                      </div>
                      <div class="list-filter">
                        <h5 class="list-title"><strong> Qualité </strong></h5>
                        <div class="filter-content filter-employment-type">
                          <ul class="browse-list list-unstyled">
							<div class="form-group" >
                          <div class=" input-group">
                            <div class="input-group-addon" style="background-color:white; border-left:0; border-right:0; border-top:0; border-radius:0;">
                              <div class="	glyphicon glyphicon-tag"></div>
                            </div>
                            {{ form_errors(formFilter.quality) }}
                            {{ form_widget(formFilter.quality, {'attr': {'class': 'form-control', 'style': 'height:45px; border-left:0; border-right:0; border-top:0; border-radius:0; outline: 0; -webkit-box-shadow: none; box-shadow: none; ' }}) }}
                          </div>
                        </div>

                            <li>
                              <input type="checkbox" id="employment_all" value="all" class="emp" >
                              <label for="employment_all"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span></label>
                            </li>
                            <li>
                              <input type="checkbox" id="employment_jtft" value="jtft" class="emp emp-type">
                              <label for="employment_jtft"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span> </i></label>
                            </li>
                            <li>
                              <input type="checkbox" id="employment_jtpt" value="jtpt" class="emp emp-type">
                              <label for="employment_jtpt"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span> </i></label>
                            </li>
                            <li>
                              <input type="checkbox" id="employment_jtct" value="jtct" class="emp emp-type">
                              <label for="employment_jtct"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></label>
                            </li>
                            <li>
                              <input type="checkbox" id="employment_jtin" value="jtin" class="emp emp-type">
                              <label for="employment_jtin"><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span></label>
                            </li>

                          </ul>
                        </div>
                      </div>
                      <div class="  list-filter">
                        <h5 class="list-title"><strong>Prix</strong></h5>
                        <div class="filter-salary filter-content ">
                          <div class="clearfix"></div>
                          <ul class="mt15">
						<div class="form-group" >
                          <div class=" input-group">
                            <div class="input-group-addon" style="background-color:white; border-left:0; border-right:0; border-top:0; border-radius:0;">
                              <div class="	glyphicon glyphicon-tag"></div>
                            </div>
                            {{ form_errors(formFilter.price) }}
                            {{ form_widget(formFilter.price, {'attr': {'class': 'form-control', 'style': 'height:45px; border-left:0; border-right:0; border-top:0; border-radius:0; outline: 0; -webkit-box-shadow: none; box-shadow: none; ' }}) }}
                          </div>
                        </div>
                            <li>
                              <input type="radio" name="pay" id="pay_0" value="0" checked="checked">
                              <label for="pay_0">Any</label>
                            </li>
                            <li>
                              <input type="radio" name="pay" id="pay_10" value="10">
                              <label for="pay_10">$10+</label>
                            </li>
                            <li>
                              <input type="radio" name="pay" id="pay_50" value="50">
                              <label for="pay_50">$50+</label>
                            </li>
                            <li>
                              <input type="radio" name="pay" id="pay_100" value="100">
                              <label for="pay_100">$100+</label>
                            </li>
                            <li>
                              <input type="radio" name="pay" id="pay_150" value="150">
                              <label for="pay_150">$150+</label>
                            </li>
                            <li>
                              <input type="radio" name="pay" id="pay_200" value="200">
                              <label for="pay_200">$200+</label>
                            </li>
                            <li>
                              <input type="radio" name="pay" id="pay_250" value="250">
                              <label for="pay_250">$250+</label>
                            </li>
                          </ul>
                        </div>
                        <div style="clear:both"></div>
                      </div>

                    </div>
					{{ form_widget(formFilter.save, { 'label': " Rechercher "|trans, 'attr': { 'class': 'btn btn-next btn-block', 'style': 'height:45px;'} }) }}
                        {{ form_end(formFilter) }}

                  </aside>
                </div>

                <!-- Anouncement material -->

                <div class="col-sm-9 page-content col-thin-left">
                  <div class="category-list">
                    <div class="tab-box ">

                      <ul class="nav nav-tabs add-tabs" id="ajaxTabs" role="tablist">
                        <li class="active"><a href="ajax/1.html" data-url="ajax/1.html" role="tab" data-toggle="tab">Toute  <span class="badge">17</span></a>
                        </li>
                        <li><a href="ajax/2.html" data-url="ajax/2.html" role="tab" data-toggle="tab">Matériel
                          <span class="badge">12</span></a></li>
                          <li><a href="ajax/3.html" data-url="ajax/3.html" role="tab" data-toggle="tab">Partenaire
                            <span class="badge">5</span></a></li>
                          </ul>
                          <div class="tab-filter ">
                            <div class="selecter select-short-by closed" tabindex="0"><select class="selectpicker selecter-element" data-style="btn-select" data-width="auto" tabindex="-1">
                              <option value="Short by">Lister par</option>
                              <option value="Price: Low to High">Prix: plus bas au plus haut</option>
                              <option value="Price: High to Low">Price: plus haut au plus bas</option>
                            </select>
                          </div>
                        </div>
                        <div class="mobile-filter-bar col-lg-12  ">
                          <ul class="list-unstyled list-inline no-margin no-padding">
                            <li class="filter-toggle">
                              <a class="">
                                <i class="  icon-th-list"></i>
                                Filtres
                              </a>
                            </li>
                            <li>
                              <div class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle"><i class="caret "></i> Short
                                  by </a>
                                  <ul class="dropdown-menu">
                                    <li><a href="" rel="nofollow">Relevance</a></li>
                                    <li><a href="" rel="nofollow">Date</a></li>
                                    <li><a href="" rel="nofollow">Company</a></li>
                                  </ul>
                                </div>
                              </li>
                            </ul>
                          </div>


                          {# total items count #}
                          <div class="count" style="display:none;">
                            {{ pagination.getTotalItemCount }}
                          </div>
                          <table>
                            <tr style="display:none;">
                              {# sorting of properties based on query components #}
                              <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                              <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                              <th>{{ knp_pagination_sortable(pagination, 'Release', ['a.date', 'a.time']) }}</th>
                            </tr>
                            {# table body #}
							<div id="users">
							<!-- class="search" automagically makes an input a search field. -->
							  <input class="search" placeholder="Search" />
							<!-- class="sort" automagically makes an element a sort buttons. The date-sort value decides what to sort by. -->
							  <button class="sort" data-sort="name">
								Sort
							  </button>
							  <button class="sort" data-sort="born">
								Sort
							  </button>
							<ul class="list">
							<div id="placeHolder"></div>
							
                            {% for announcementMaterial in pagination %}
                            
							<div class="item-list announcement-item">

                              <div class="col-sm-3 no-padding photobox">
                                <div class="add-image">
                                  <span class="photo-count">
                                    <i class="glyphicon glyphicon-camera">  </i>
                                    2
                                  </span>
                                  <a href="{{ path('app_display_announcement',{'id':announcementMaterial.id ,'type': announcementMaterial.type}) }}">
                                    <img class="no-margin media-object img-responsive" src="../../../../AnnouncementMaterial/{{announcementMaterial.idUser.email}}/{{announcementMaterial.id}}/{{announcementMaterial.imageFirst}}" alt="announcement material">
                                  </a>
                                </div>
                              </div>

                              <div class="col-sm-6  add-desc-box">
                                <div class="add-details jobs-item"><li><h3 class="name">{{announcementMaterial.description}}</h3>
								  <p class="born">{{ announcementMaterial.dateBegin |localizeddate('long', 'none', 'fr')}}</p>
                                  
							</li>
                                  <h5 class="announcement-type">
                                    Materiel
                                  </h5>
								  <h4 class="announcement-title"><a href="{{ path('app_display_announcement',{'id':announcementMaterial.id ,'type': announcementMaterial.type}) }}"> Location {{announcementMaterial.sport.title}} </a></h4>
                                  <span class="info-row"> <span class="item-location"><i class="glyphicon glyphicon-map-marker"></i> {{announcementMaterial.place}} </span> <i class="glyphicon glyphicon-calendar"> </i> {{ announcementMaterial.dateBegin |localizeddate('long', 'none', 'fr')}}<span class="date"></span>
                                  <span class="calendrier"><i class="glyphicon glyphicon-wrench"> </i>{% for i in 1..announcementMaterial.quality %}
                                    <span class="glyphicon glyphicon-star"></span>
                                    {% endfor %}
                                    {% for i in 5-announcementMaterial.quality..announcementMaterial.quality %}
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    {% endfor %}</span>
                                  </span>
                                  <div class="announcement-desc">
                                    {{ announcementMaterial.description }}
                                  </div>


                                </div>
                              </div>
                              <div class="col-sm-3 text-right price-box">
                                {% if app.user %}

                                  {% if app.user.id == announcementMaterial.idUser.id %}


                                  {% else %}
                                  <div class="favorite">
                                    <i id="material,{{announcementMaterial.id}},{{announcementMaterial.idUser}}," class="heart fa fa-heart-o "></i>
                                  </div>
                                  {% endif %}
                                {% else %}

                                {% endif %}

                                <h3 class="item-price "> <strong> {{announcementMaterial.price}}€ </strong></h3>
                              </div>
                            </div>
                            {% endfor %}
							</ul>
							</div>

                          </table>
                          {# display navigation #}
                          <div class="navigation" style="text-align:center;" >
                            {{ knp_pagination_render(pagination) }}
                          </div>

                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                  <!-- /.container -->

					

				  <script>

					var options = {
					  valueNames: [ 'name', 'born' ]
					};

					var userList = new List('users', options);

					</script>

                  <script>
                  var placeSearch, autocomplete;
                  var componentForm = {
                    locality: 'long_name',
                    administrative_area_level_1: 'short_name',
                    country: 'long_name',
                    postal_code: 'short_name'
                  };



                  function initAutocomplete() {
                    // Create the autocomplete object, restricting the search to geographical
                    // location types.
                    autocomplete = new google.maps.places.Autocomplete(
                      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
                      {types: ['geocode']});

                      // When the user selects an address from the dropdown, populate the address
                      // fields in the form.
                      autocomplete.addListener('place_changed', fillInAddress);
                    }

                    // [START region_fillform]
                    function fillInAddress() {
                      // Get the place details from the autocomplete object.
                      var place = autocomplete.getPlace();

                      for (var component in componentForm) {
                        document.getElementById(component).value = '';
                        document.getElementById(component).disabled = false;
                      }

                      // Get each component of the address from the place details
                      // and fill the corresponding field on the form.
                      for (var i = 0; i < place.address_components.length; i++) {
                        var addressType = place.address_components[i].types[0];
                        if (componentForm[addressType]) {
                          var val = place.address_components[i][componentForm[addressType]];
                          document.getElementById(addressType).value = val;
                        }
                      }
                    }
                    // [END region_fillform]


                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC17VNgOXiwIuU4beERtNwXOa7CYm7ODec&signed_in=true&libraries=places&callback=initAutocomplete"
                    async defer></script>
                    <script>

                    $(".heart.fa").click(function() {
                      $(this).toggleClass("fa-heart fa-heart-o");
                      var theString = ""+$(this).attr('id'),
                      bits = theString.split(',').slice(0, -1); // split the string and remove the last one
                      console.log("string button btn next"+theString);

                      $type = bits[0];
                      $id = bits[1];
                      $user = bits[2];
                      $.ajax({
                        data: { id : $id, type : $type, user : $user },
                        type: 'GET',
                        url: "{{ path('app_update_favorite') }}"
                      });
                    });

                    $('#exampleModal').on('show.bs.modal', function (event) {
                      console.log("modal");
                      var button = $(event.relatedTarget) // Button that triggered the modal
                      var recipient = button.data('whatever') // Extract info from data-* attributes
                      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                      var modal = $(this)
                      modal.find('.modal-title').text('Nouveau message:' + recipient)

                    })


                    $("button.btn.btn-primary").click(function(){
                      console.log('button btn primary');
                      var data1 = ""+$(this).attr('id');
                      console.log("button btn primary: "+data1);
                      if(data1 != "send"){//mettre un if pour que le clique sur le bouton envoyer ne lance cette fonction
                        //dans ce cas les valeurs dans les champs ne sont pas supprimés
                        var theString = $(this).attr('id'),
                        bits = theString.split(',').slice(0, -1); // split the string and remove the last one
                        $("input#typeMod").val(bits[0]);
                        $("input#idAnnouncementMod").val(bits[1]);
                        $("input#idAnswerMod").val(bits[2]);
                      }
                      //var data = data1,item = data1.split(', ').slice(0, -1);
                      //console.log(item.length);



                      //$('#input#idAnswerMod').attr('id','bits[2]');
                      //document.getElementById("input#idAnnouncementMod").innerHTML = bits[1];
                    });


                    $("a.btn.btn-success.btn-circle").click(function(){
                      console.log('a btn primary1');
                      //var data1 = ""+$(this).attr('id');
                      //console.log(data1);
                      //var data = data1,item = data1.split(', ').slice(0, -1);
                      //console.log(item.length);

                      var color1 = $(this).css('background-color');
                      console.log('color1='+color1);
                      /*if (color1 == 'rgb(58, 133, 58)'){
                      // si c'est rouge
                      console.log('passe à rouge');
                      $( this ).css( "color","red" );
                      color1 = "rgb(58, 134, 58)";

                    }else if(color1 =='rgb(58, 134, 58)' ){

                    console.log('passe à blanc');
                    $( this ).css( "color","white" );
                    color1 = "rgb(58, 133, 58)";
                  }*/



                  var theString = ""+$(this).attr('id'),
                  bits = theString.split(',').slice(0, -1); // split the string and remove the last one
                  console.log("string button btn next"+theString);
                  /*console.log('autre'+bits[0]);
                  console.log('id'+bits[1]);
                  console.log('type'+bits[2]);*/
                  /*$("input#idAnnouncementMod").val(bits[0]);
                  $("input#idAskerMod").val(bits[1]);*/
                  $type = bits[0];
                  $id = bits[1];
                  $user = bits[2];
                  $.ajax({
                    data: { id : $id, type : $type, user : $user },
                    type: 'GET',
                    url: "{{ path('app_update_favorite') }}"
                  });

                  //document.getElementById("input#idAnnouncementMod").innerHTML = bits[1];
                });




                $("button#contacter").click(function(){
                  //FONCTIONNE PAS
                  //$val ='1';
                  //document.getElementById("form_quality").innerHTML = $val;
                  //$( "form_quality" ).text('bonjour');
                  var id = $(this).attr('id');
                  console.log('contacter');
                  $idAnswer=$("input#idAnswer").val();
                  console.log($idAnswer);
                  $idAnnouncement=$("input#idAnnouncementMod").val();
                  console.log($idAnnouncement);
                  document.getElementById("input#message-text-idAnswer").innerHTML = $idAnswer;
                  //$( "#val" ).text( $val );
                  //$( "#form_quality" ).val( '1');


                });

                $("button#send").click(function(){
                  //$val ='1';
                  //document.getElementById("form_quality").innerHTML = $val;
                  //$( "form_quality" ).text('bonjour');
                  console.log('send111');

                  $type =$("input#typeMod").val();
                  $message=$("textarea#message-text").val();
                  //$message2=$("textarea#message2-text").val();
                  $title=$("input#title-text").val();
                  $idAnnouncement=$("input#idAnnouncementMod").val();
                  $idAnswer= $("input#idAnswerMod").val();
                  console.log("message"+$message);
                  console.log("title: "+$title);
                  console.log("announcement: "+$idAnnouncement);
                  console.log("idanswer: "+$idAnswer);
                  console.log("type: "+$type);
                  //console.log("message2: "+$message2);

                  $.ajax({
                    type: "GET",
                    url: "{{ path('app_insert_message_material') }}",
                    data: {message : $message, title : $title, idAnnouncement : $idAnnouncement, idAnswer: $idAnswer, type : $type}

                  });
                  //document.getElementById("#val").innerHTML = 'bonjour';
                  //$( "#val" ).text( $val );
                  //$( "#form_quality" ).val( '1');

                  //$( "#exampleModal" ).change('modal-fade');
                  //$('body').attr(".modal-open").hide();
                  //$( "#exampleModal" ).hide();

                });

                </script>

                {{parent()}}

                {% endblock %}

                {% endblock %}

                {% block footer %}
                {{parent()}}
                {% endblock %}
