<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />

<!-- CSS Files -->
<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
<link href="{{ asset('css/custom.css') }}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ asset('css/bootstrap-social.css') }}" rel="stylesheet">
<link href="{{ asset('css/clean-blog.css') }}" rel="stylesheet">
<link href="{{ asset('css/datepicker.css') }}" rel="stylesheet">
<link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<!--<script src="{{ asset('js/jquery-timepicker.js') }}"></script>-->

<script src="{{ asset('js/jquery.backstretch.js') }}"></script>
<script src="{{ asset('js/scripts.js') }}"></script>

<!-- si on supprime il le datetime ne fonctione pas-->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<style>

body {
	margin: 0;
	padding: 0;
	font: 90%/1.4 Georgia, serif;
	color: #444;
	background: #fff;
}	  

h2 {
	margin: 0;
	color: #000;
	font: normal 1.5em/1 Arial, sans-serif;
}

time {
	display: block;
	font-style: italic;
	margin: 0.4em 0;
	color: #555;
}

figure {
	margin: 0;
	padding: 5px;
	border: 1px solid #ddd;
}

figure img {
	display: block;
	width: 100%;
	height: 180px;
}

#content {
	margin: 2.5em auto;
	padding: 0 1em;
	max-width: 960px;
}

#posts {
	overflow: hidden;
	padding: 1.5em 0;
}

.post {
	float: left;
	margin: 0 2% 2% 2%;
	width: 29%;
}

#filters {
	height: 2em;
	text-align: center;
	margin-bottom: 1.5em;
}

#filters a {
	font: bold 1.2em Arial, sans-serif;
	display: inline-block;
	height: 2em;
	line-height: 2;
	text-align: center;
	padding: 0 1em;
	margin-left: 1em;
	border: 2px solid #ccc;
	color: #000;
	text-decoration: none;
}

#filters a.selected {
	color: #08c;
	border-color: #08c;
}
</style>

<div id="content">
	<div id="filters">
		<a href="#" id="newer" class="selected">Newer</a>
		<a href="#" id="older">Older</a>
	</div>
	<div id="posts">
		<article class="post">
			<header>
				<h2>Egestas</h2>
				<time>2014-05-10</time>
				<figure>
					<img src="http://placehold.it/400x300" alt="" />
				</figure>
				<p>Donec ullamcorper nulla non metus auctor fringilla.</p>
			</header>
		</article>
		
		<article class="post">
			<header>
				<h2>Cursus Justo</h2>
				<time>2014-05-09</time>
				<figure>
					<img src="http://placehold.it/400x300" alt="" />
				</figure>
				<p>Donec ullamcorper nulla non metus auctor fringilla.</p>
			</header>
		</article>
		
		
		<article class="post">
			<header>
				<h2>Parturient Malesuada Etiam</h2>
				<time>2014-05-08</time>
				<figure>
					<img src="http://placehold.it/400x300" alt="" />
				</figure>
				<p>Donec ullamcorper nulla non metus auctor fringilla.</p>
			</header>
		</article>
		
		<article class="post">
			<header>
				<h2>Ultricies Sem Dolor Inceptos</h2>
				<time>2014-05-07</time>
				<figure>
					<img src="http://placehold.it/400x300" alt="" />
				</figure>
				<p>Donec ullamcorper nulla non metus auctor fringilla.</p>
			</header>
		</article>
		
		<article class="post">
			<header>
				<h2>Lorem Ipsum</h2>
				<time>2014-05-06</time>
				<figure>
					<img src="http://placehold.it/400x300" alt="" />
				</figure>
				<p>Donec ullamcorper nulla non metus auctor fringilla.</p>
			</header>
		</article>
		
		<article class="post">
			<header>
				<h2>Sit Cursus Justo</h2>
				<time>2014-05-05</time>
				<figure>
					<img src="http://placehold.it/400x300" alt="" />
				</figure>
				<p>Donec ullamcorper nulla non metus auctor fringilla.</p>
			</header>
		</article>


		
	</div>
</div>	

<script>
(function( $ ) {
	$.sortByDate = function( elements, order ) {
		var arr = [];
		elements.each(function() {
			var obj = {},
				$el = $( this ),
				time = $el.find( "time" ).text(),// c'est la date
				date = new Date( $.trim( time ) ), //date version officiel
				timestamp = date.getTime();
				
				obj.html = $el[0].outerHTML;//objet html qui doit bouger
				obj.time = timestamp;
				
				arr.push( obj );
				console.log('el= '+$el);
				console.log('time= '+time);
				console.log('date= '+date);
				console.log('timestamp= '+timestamp);
				console.log('obj.html= '+$el[0].outerHTML);
		});
		
		
		var sorted = arr.sort(function( a, b ) {
			
			if( order == "ASC" ) {
				return a.time > b.time;
			} else {
				return b.time > a.time;
			}
			
		});
		
		return sorted;
	};
	
	$(function() {
		var $newer = $( "#newer" ),
			$older = $( "#older" ),
			$content = $( "#posts" ),
			$elements = $( ".post" );
			
			$newer.click(function() {//si je clique sur le bouton newer
				var elements = $.sortByDate( $elements, "DESC" );//je fais appel à la fonction sortByDate pour ranger du plus vieux, elements= à chaque bloc article
				var html = "";
				for( var i = 0; i < elements.length; ++i ) {
					html += elements[i].html;
				}
				$content[0].innerHTML = html;
				$( this ).addClass( "selected" ).
				siblings().
				removeClass( "selected" );
				return false;
				
			});
			
			$older.click(function() {//si je clique sur le bouton older
				var elements = $.sortByDate( $elements, "ASC" );//je fais appel à la fonction sortByDate pour ranger du plus vieux
				var html = "";
				for( var i = 0; i < elements.length; ++i ) {//tant qu'il y  a des blocs articles
					html += elements[i].html;//le rangement a été effectué, on ajoute le rangement dans la page html
				}
				$content[0].innerHTML = html;
				$( this ).addClass( "selected" ).
				siblings().
				removeClass( "selected" );
				return false;
				
			});
	});
	
})( jQuery );  




</script>