{% extends 'AppBundle::page-modify.html.twig' %}


{% block header %}

{{parent()}}

{% endblock %}
{% block head %}
{{parent()}}



<script>
$(function () {
  $('#form_age').datetimepicker({
    locale: 'fr',
    format: 'YYYY-MM-DD'});
  });


  $('#form_numberPhone').text(function(i, text) {
    alert("numberPhone");
    console.log("numerPhone");
    return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
  });

  $('input#form_numberPhone').text(function(i, text) {
    alert("numberPhone");
    console.log("numerPhone");
    return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
  });

  $('input#form_numberPhone.form-control').text(function(i, text) {
    alert("numberPhone");
    console.log("numerPhone");
    return text.replace(/(\d{3})(\d{3})(\d{4})/, '$1-$2-$3');
  });


  </script>

  <script>
  $(document).ready(function () {
    $('.collapse.in').prev('.panel-heading').addClass('active');
    $('#accordion, #bs-collapse')
    .on('show.bs.collapse', function (a) {
      $(a.target).prev('.panel-heading').addClass('active');
    })
    .on('hide.bs.collapse', function (a) {
      $(a.target).prev('.panel-heading').removeClass('active');
    });
  });
  </script>
  {% endblock %}
  {% block content %}


  {% block body %}

  <div class="container">


    {{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
    {{ form_errors(form) }}

    <div class="row">
      <div class="col-sm-3 page-sidebar">
        <aside>
          <div class="well inner-box">
            <div class="user-panel-sidebar">
              <div class="collapse-box">
                <h5 class="collapse-title no-border"> Mon profil <a href="#MyClassified" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                <div class="panel-collapse collapse in" id="MyClassified">
                  <ul class="acc-list">
                    <li><a class="active" href="{{ path('app_profile_modify') }}"><i class="glyphicon glyphicon-home"></i>
                      Page perso </a></li>
                    </ul>
                  </div>
                </div>

                <div class="collapse-box">
                  <h5 class="collapse-title"> Mon compte <a href="#MyAds" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                  <div class="panel-collapse collapse in" id="MyAds">
                    <ul class="acc-list">
                      <li><a href="{{ path('app_display_profile_announcement') }}"><i class="glyphicon glyphicon-th-large"></i> Mes annonces <span class="badge">{% for numberAnnouncementUser in numberAnnouncementUser %}{{numberAnnouncementUser}}{% endfor %}</span> </a></li>
                      <li><a href="{{ path('app_favorite_display') }}"><i class="glyphicon glyphicon-heart"></i>
                        Mes favoris <span class="badge">{% for numberFavoriteMaterialUser in numberFavoriteMaterialUser %}{{numberFavoriteMaterialUser}}{% endfor %}</span> </a></li>
                        <li><a href="{{path('app_display_reservation')}}"><i class="glyphicon glyphicon-book"></i>
                          Mes réservations <span class="badge">{% for numberReservationMaterialUser in numberReservationMaterialUser %}{{numberReservationMaterialUser}}{% endfor %}</span> </a></li>
                          <li><a href="{{ path('app_message') }}"><i class="glyphicon glyphicon-envelope"></i> Mes messages <span class="badge">0</span></a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="collapse-box">
                      <h5 class="collapse-title"> Supression <a href="#TerminateAccount" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                      <div class="panel-collapse collapse in" id="TerminateAccount">
                        <ul class="acc-list">
                          <li><a href="account-close.html"><i class="icon-cancel-circled "></i> Supprimer mon compte </a></li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>

              </aside>
            </div>

            <div class="col-sm-9 page-content">
              <div class="well inner-box">
                <div class="col-sm-3 no-padding photobox">
                  <div class="add-image">
                    <img class="no-margin media-object img-circle" src="../../../../../{{app.user.getUploadDir}}/{{app.user.image}}" alt="announcement material">
                  </div>
                </div>
                <div class="col-sm-6  add-desc-box">
                  <div class="add-details jobs-item">
                    <h4 class="announcement-title">{{user.username}}</h4>

                    <div class="announcement-desc">
                      Ville : {{ user.city }}
                    </div>
                  </div>
                </div>

                <div class="col-sm-6  add-desc-box">
                  <div class="add-details jobs-item">
                    <div class="header-data text-center-xs">

                      <div class="hdata" style="display: inline-block;margin-right: 15px;width: 85px;">

                      <div class="mcol-left" style="float:left; width: 48%;">
                      <i class="glyphicon glyphicon-file"></i>
                    </div>

                    <div class="mcol-right" style="float:right; width: 48%;">
                    <p><a href="#">{% for numberAnnouncementUser in numberAnnouncementUser %}{{numberAnnouncementUser}}{% endfor %}</a> <em>annonces</em></p>
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="hdata" style="display: inline-block;margin-right: 15px; width: 85px;">
                <div class="mcol-left" style="float:left; width: 48%;">

                <i class="glyphicon glyphicon-heart"></i></div>
                <div class="mcol-right">

                  <p><a href="#">{% for numberFavoriteMaterialUser in numberFavoriteMaterialUser %}{{numberFavoriteMaterialUser}}{% endfor %}</a> <em>Favorites </em></p>
                </div>
                <div class="clearfix"></div>
              </div>

            </div>
          </div>
        </div>

      </div>


      <div class=" well inner-box">
        <div class="welcome-msg">
          <h3 class="page-sub-header2 clearfix no-padding">Hello {{user.username}} </h3>
          <span class="page-sub-header-sub small">Dernière connexion : {{user.getLastLogin|localizeddate('long', 'none', 'fr')}}</span>
        </div>
        <div id="accordion" class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> My
                details </a></h4>
              </div>
			  
              </div>
			  
              <div class="panel-collapse collapse in" id="collapseB1">
                <div class="panel-body">
                  <form class="form-horizontal" role="form">
                    <div class="form-group">
                      {{ form_label(form.name, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}} ) }}
                      <div class="col-sm-9">
                        {{ form_errors(form.name) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div>

                    <div class="form-group">
                      {{ form_label(form.firstname, "Prénom", {'label_attr': {'class': 'col-sm-3 control-label'}} ) }}
                      <div class="col-sm-9">
                        {{ form_errors(form.firstname) }}
                        {{ form_widget(form.firstname, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div>

                    <div class="form-group">
                      {{ form_label(form.age, "Date de naissance", {'label_attr': {'class': 'col-sm-3 control-label'}} ) }}
                      <div class="col-sm-9">
                        <div class="input-group date datetimepicker">
                          <div class="input-group-addon" style="background-color:white; border-right:0; border-radius:4px;">
                            <div class="glyphicon glyphicon-calendar"></div>
                          </div>
                          {{ form_errors(form.age) }}
                          {{ form_widget(form.age, {'attr': {'class': 'form-control datetimepicker', 'id':'dateAge'}}) }}

                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      {{ form_label(form.gender, 'Sexe', {'label_attr': {'class': 'col-sm-3 control-label'}} ) }}
                      <div class="col-sm-9">
                        {{ form_errors(form.gender) }}
                        {{ form_widget(form.gender, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div>
                    <div class="form-group">
                      {{ form_label(form.numberPhone, 'Numéro de téléphone:', {'label_attr': {'class': 'col-sm-3 control-label'}} ) }}
                      <div class="col-sm-9">
                        {{ form_errors(form.numberPhone) }}
                        {{ form_widget(form.numberPhone, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div>
                    <div class="form-group">
                      {{ form_label(form.stateLoc, 'Pays', {'label_attr': {'class': 'col-sm-3 control-label'}} ) }}
                      <div class="col-sm-9">
                        {{ form_errors(form.stateLoc) }}
                        {{ form_widget(form.stateLoc, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div>

                    <div class="form-group">
                      {{ form_label(form.city, 'Ville', {'label_attr': {'class': 'col-sm-3 control-label'}} ) }}
                      <div class="col-sm-9">
                        {{ form_errors(form.city) }}
                        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div>

                    <div class="form-group">
                      {{ form_label(form.bio, "Biographie", {'label_attr': {'class': 'col-sm-3 control-label'}} ) }}
                      <div class="col-sm-9">
                        {{ form_errors(form.bio) }}
                        {{ form_widget(form.bio, {'attr': {'class': 'form-control'}}) }}
                      </div>
                    </div>




                    <div class="form-group hide">
                      <label class="col-sm-3 control-label">Facebook account map</label>
                      <div class="col-sm-9">
                        <div class="form-control"><a class="link" href="fb.com">Jhone.doe</a> <a class=""> <i class="fa fa-minus-circle"></i></a></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-3 col-sm-9"></div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-next">Update</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
			<a href="{{ path('edit_sport_user',{ 'id':app.user.id}) }}">><button class="btn btn-next">Mes sports</button>
			 </a>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#collapseB2" data-toggle="collapse"> Settings </a>
                </h4>
              </div>
              <div class="panel-collapse collapse" id="collapseB2">
                <div class="panel-body">
                  <p>
                    <a class="btn btn-danger btn-block" href="{{ path('fos_user_change_password') }}">Changer le mot de passe</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title"><a href="#collapseB3" data-toggle="collapse">
                  Preferences </a></h4>
                </div>
                <div class="panel-collapse collapse" id="collapseB3">
                  <div class="panel-body">
                    <div class="form-group">
                      <div class="col-sm-12">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox">
                            I want to receive newsletter. </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox">
                              I want to receive advice on buying and selling. </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>


        </div>
      </div>

      {{parent()}}

      {% endblock %}

      {% endblock %}

      {% block footer %}
      {{parent()}}
      {% endblock %}
