{% extends 'AppBundle::page-announcement.html.twig' %}

{% block header %}
{{parent()}}
{% endblock %}
{% block head %}
{{parent()}}


<script>
$( document ).ready(function() {
  //Initialize calendar datetimepicker
  $('#datepicker').datepicker({
    //Set the calendar in french
    locale: 'fr',
    format: 'YYYY-MM-DD'
  });
  
  
});

$(function () {
  $('#dateBegin').datetimepicker({
    locale: 'fr',
    format: 'YYYY-MM-DD'});
  });
  $('#sandbox-container input').datepicker({
    format: "mm-dd-yyyy"
  });
  $(function () {
    $('#dateEnd').datetimepicker({
      locale: 'fr',
      format: 'YYYY-MM-DD'});
    });
    </script>
    
    {% endblock %}
    {% block content %}
    
    {% block body %}
    
    
    
    <div class="container" style="margin-top:50px;">
        <div class="row">
        <div id="formulaire_partenaire" class="formulaire_partenaire">
        <h4 class="list-title"><strong>Notez votre activité:</strong></h4>
		<div class="well inner-box">
		<div class="inner-box category-content">
        {{ form_start(form, {'multipart': 'true', 'attr': {'id': 'avatar_upload_form'}}) }}
        {{ form_errors(form) }}
    
                    <div class="form-group">
						{{ form_label(form.rating, " ", {'label_attr': {'class': 'col-md-3 control-label'}} ) }}
						{{ form_errors(form.rating) }}
						{{ form_widget(form.rating, {'attr': {'class': 'form-control', 'id':'rating', 'value':'1'}}) }}
						<div class="col-md-8">Note:
							<div class="btn-java" data-toggle="buttons">
								<button class="btn btn-next  active">
									<input type="radio" class="star" name="options" id="option1" autocomplete="off" checked><i class="glyphicon glyphicon-star"></i>
								</button>
								<button class="btn btn-next ">
									<input type="radio" class="star" name="options" id="option2" autocomplete="off"> <i class="glyphicon glyphicon-star"></i>
								</button>
								<button class="btn btn-next ">
									<input type="radio" class="star" name="options" id="option3" autocomplete="off"><i class="glyphicon glyphicon-star"></i>
								</button>
								<button class="btn btn-next ">
									<input type="radio" class="star" name="options" id="option4" autocomplete="off"><i class="glyphicon glyphicon-star"></i>
								</button>
								<button class="btn btn-next " style="display:none;">
									<input type="radio" class="star" name="options" id="option5" autocomplete="off"><i class="glyphicon glyphicon-star"></i>
								</button>

							</div>
						</div>
					</div>
					<div class="col-md-3">
                      <div class="form-group" >
                        <div class=" input-group header-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></span>
                          {{ form_errors(form.comment) }}
                          {{ form_widget(form.comment, {'label': " Commentaire de la notation: ",'attr': {'class': 'form-control' }}) }}
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-3" >
                      
                      {{ form_widget(form.save, { 'label': " Validez la notation "|trans, 'attr': { 'class': 'btn btn-next btn-block'} }) }}
                      {{ form_end(form) }}
                    </div>
					</div>
					</div>
                </div>
            </div>
			</div>
		</div>

            <!-- /.container -->
            
        <script>
              
				
        $(".btn-java > .btn:first-child:not(:last-child):not(.dropdown-toggle)").click(function(){
		$val ='1';
		//document.getElementById("form_quality").innerHTML = $val;
		$( "form_quality" ).text('bonjour');
		console.log('Qualite1');
		//document.getElementById("#val").innerHTML = 'bonjour';
		$( "#val" ).text( $val );
		$( "#form_quality" ).val( '1');


	});
	$(".btn-java > .btn:nth-child(2):not(:last-child):not(.dropdown-toggle)").click(function(){
		$( "#form_rating" ).val( '2');
		console.log('Qualite2');
	});

	$(".btn-java > .btn:nth-child(3):not(:last-child):not(.dropdown-toggle)").click(function(){
		$( "#form_rating" ).val( '3');
		console.log('Qualite3');
	});

	$(".btn-java > .btn:nth-child(4):not(:last-child):not(.dropdown-toggle)").click(function(){
		$( "#form_rating" ).val( '4');
		console.log('Qualite4');
	});

	$(".btn-java > .btn:nth-child(5):not(:last-child):not(.dropdown-toggle)").click(function(){
		$( "#form_rating" ).val( '5');
		console.log('Qualite5');
	});


	$("div.btn-java.btn.btn-primary.active.focus").click(function(){

		console.log('bonjour');
	});
 
		  
		  
		  
		  
		  
        </script>
          {{parent()}}
          {% endblock %}
          
          
          
          
          
          {% endblock %}
          
          {% block footer %}
          {{parent()}}
          {% endblock %}
